@import '../../styles/style';

.root {
  position: relative;
  display: flex;
  flex-direction: column;

/*  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.8rem;
    background-image: linear-gradient(#000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
    z-index: 2;
  }*/
}

.pic {
  z-index: 1;
  border-radius: 8px;
  width: 224px;
  height: 130px;
  background-size: 224px 130px;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  top: 1.2rem;
}

.extraInfo {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 9px;
  line-height: 9px;
  border-radius: 13px;
  color: #ffffff;
  padding: 5px 11px 3px;
  z-index: 3;
}

@media(min-width: $width-desktop-sm) {
  .root {
    z-index: 2;
    border-radius: 15px;
  }

  .extraInfo {
    top: 18px;
    left: 29px;
    font-size: 14px;
    line-height: 15px;
    border-radius: 20px;
    padding: 7px 23px 6px;
  }
}

@media(min-width: $width-desktop-sm) {
  .extraInfo {
    top: 18px;
    left: 31px;
    font-size: 17px;
    line-height: 18px;
    padding: 8px 23px 7px 28px;
  }
}

@media(min-width: $width-desktop-lg) {
  .pic {
    border-radius: 10px;
  }
}
//@media (min-width: $width-notebook) {
//  .logo {
//    svg {
//      transform: scale(0.92);
//    }
//  }
//}