@import '../../styles/style';

.root {
  width: 242px;
  height: 164px;
  border-radius: 8px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $width-tablet-md) {
  .root {
    //min-width: 100%;
    //min-height: 218px;
    //height: 100%;
    width: 369px;
    height: 218px;
    border-radius: unset;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 694px;
    height: 492px;
  }
}
