@import '../../styles/style';

.root {
  width: 242px;
  height: 164px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 8px !important;
}

@media (min-width: $width-tablet-md) {
  .root {

  }
}

@media (min-width: $width-desktop-lg) {
  .root {

  }
}
