@import '../../styles/style';

.root {
  width: 242px;
  height: 164px;
  border-radius: 8px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //border: 1px solid black;

  & > div {

  }
}

@media (min-width: $width-tablet-md) {
  .root {

  }
}

@media (min-width: $width-desktop-lg) {
  .root {

  }
}
