@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7px;
}

.root a:first-child {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  color: $color-dark-rare;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 5px;
    background-color: $color-dark-rare;
  }

  &:hover {
    color: $color-gray-twelve;
  }
}

.root a:nth-child(2) {
  font-size: 26px;
  line-height: 31px;
  margin-top: 6px;
  color: $color-dark-rare;

  &:hover {
    color: $color-gray-twelve;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    padding-left: 24px;
  }

  .root a:first-child {
    font-size: 34px;
    line-height: 40px;  
  }
  
  .root a:nth-child(2) {
    font-size: 34px;
    line-height: 40px;  
    margin-top: 8px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding-left: 64px;
  }

  .root a:first-child {
    font-size: 38px;
  }
  
  .root a:nth-child(2) {
    font-size: 38px;
    margin-top: 13px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    padding-left: 50px;
  }

  .root a:first-child {
    font-size: 50px;
    line-height: 51px;  
  }
  
  .root a:nth-child(2) {
    font-size: 50px;
    line-height: 51px;   
    margin-top: 25px;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    padding-left: 0;
  }
}