@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root a:first-child {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  color: #343636;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 5px;
    background-color: #343636;
  }

}

.root a:nth-child(2) {
  font-size: 26px;
  line-height: 31px;
  margin-top: 6px;
  color: #343636;
}

@media (min-width: $width-tablet-md) {
  .root a:first-child {
    font-size: 38px;
    line-height: 40px;  
  }
  
  .root a:nth-child(2) {
    font-size: 38px;
    line-height: 40px;  
    margin-top: 13px;
  }
}