.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root a:first-child {
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid #343636;
  color: #343636;
}

.root a:nth-child(2) {
  font-size: 26px;
  line-height: 31px;
  margin-top: 5px;
  color: #343636;
}