@import '../../styles/style';

.root {
  margin-top: 0;
  padding: 0 33px 5px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 10px;
    padding: 0 165px 30px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin-top: 6px;
    padding: 0 713px 50px 418px;
  }
}