@import '../../styles/style';

.root {
  margin-top: 0;
  padding: 0 33px 5px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0 130px 5px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 0 713px 5px 418px;
  }
}