@import '../../styles/style';

.root {
  margin-top: 0;
  padding: 0 33px 5px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 10px;
    padding: 0 165px 30px 130px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    // margin-top: 0;
    padding: 20px 713px 20px 418px;
  }
}