@import '../../styles/style';

.root {
  position: relative;
  overflow: hidden;
}

.wrapperSlider {
  position: absolute;
  top: -39px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 246, 246, 0.68);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}

.oneCard {
  position: absolute;
  top: 3rem;
  //left: 5rem;
  right: 13rem;
}

.fourCards {
  width: 100%; 
  height: 0;
  position: absolute;
  top: 3rem;
  left: 5rem;

  & > div {
    position: absolute;
  }

  // & div {
  //   position: absolute;
  // }

  
  & > div:nth-child(1) {
    top: 0;
    right: 13rem;
  }

  & div:nth-child(2) {
    top: 45rem;
    right: 13rem;
  }

  & div:nth-child(3) {
    top: 45rem;
    left: 0;
  }
  
  & div:nth-child(4) {
    top: 0;
    left: 0;
  }
}

.RegularCard {}

//.sliderWrapper {
//  width: 100vw;
//  flex-direction: column;
//  overflow: hidden;
//
//  display: flex;
//  align-items: center;
//}

@media(min-width: $width-tablet-sm) {
  .root {
    border-radius: 15px;
    padding: 0 19px 40px 19px;
    overflow: unset;
    overflow-x: hidden;
    margin-bottom: 26px;
  }

  .wrapperSlider {
    position: absolute;
    top: 0;
    left: -30px;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 246, 246, 0.68);
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
  }

  .mapSlider {
    overflow: visible;
  }
}

@media(min-width: $width-tablet-md) {
  .root {
    padding: 0 0 40px 0;
    position: relative;
  }

  .blackLayer {
    //background-color: #2B2C2C;
    width: 100%;
    height: 899px;
    // opacity: 10%;
  }  

  .bottomLayer {
    width: 100%;
    height: 100%;
    background-color: #2B2C2C;
    opacity: 0.1;
  }

  .map {
    position: absolute;
  }

  .hover {
    position: absolute;
    top: 100%;
    right: 100%;
    width: 0;
    height: 0;
    z-index: 15;
    cursor: pointer;
  }

  .fourCards {
    width: 100%; 
    height: 0;
    position: absolute;
    top: 3rem;
    left: 5rem;
  
    & > div {
      position: absolute;

      & div button:nth-child(1) {
        display: none;
      }
    }
    
    // & div div button:nth-child(1) {
    //   display: none;
    // }
    // & div {
    //   position: absolute;
    // }
  
    
    & > div:nth-child(1) {
      top: -1rem;
      right: 7rem;

      & div button:nth-child(1) {
        display: block;
      }
    }
  
    & div:nth-child(2) {
      top: -1rem;
      right: 33rem;
    }
  
    & div:nth-child(3) {
      top: -1rem;
      left: unset;
      right: 59rem;
    }
    
    & div:nth-child(4) {
      top: 0;
      left: 0;
    }
  }
}

@media(min-width: $width-desktop-sm) {
  // .hover {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: 0;
  // }

  // .bottomLayer {
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  //   background-color: aqua;
  //   opacity: 0;
  
  // }

  .fourCards {
    width: 100%;
    height: 0;
    position: absolute;
    top: 3rem;
    left: 5rem;
    
    & > div {
      position: absolute;

      & div button:nth-child(1) {
        display: block;
      }
    }

    & div[class*="CardInfo"] {
      overflow: hidden;
    }
    
    & > div:nth-child(1) {
      top: 6px;
      right: 6.5rem;
    }
  
    & div:nth-child(2) {
      top: 44rem;
      right: 6.5rem;
    }
  
    & div:nth-child(3) {
      max-width: 348px;
      top: 6px;
      left: -3.7rem;
    }
    
    & div:nth-child(4) {
      top: 44rem;
      left: -3.7rem;
    }

    & > div {
      position: absolute;

      & button {
        bottom: -10px;
      }
    }
  }
}