@import '../../styles/style';

.root {
  position: relative;
  overflow: hidden;
}

.wrapperSlider {
  position: absolute;
  top: -39px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(246, 246, 246, 0.68);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}

.oneCard {
  position: absolute;
  top: 3rem;
  left: 5rem;
}

.fourCards {
  width: 100%;
  height: 0;
  position: absolute;
  top: 3rem;
  left: 5rem;

  & > div {
    position: absolute;
  }

  & div:nth-child(1) {
    top: 0;
    left: 0;
  }
  & div:nth-child(2) {
    top: 0;
    right: 13rem;
  }
  & div:nth-child(3) {
    top: 45rem;
    right: 13rem;
  }
  & div:nth-child(4) {
    top: 45rem;
    left: 0;
  }
}

.RegularCard {}

//.sliderWrapper {
//  width: 100vw;
//  flex-direction: column;
//  overflow: hidden;
//
//  display: flex;
//  align-items: center;
//}