@import '../../styles/style';

.wrapMap {
  width: 100%;
  height: 38.1rem;
  position: relative;

  .SecondaryMarker {

  }

}

.wrapCard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(43, 44, 45, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.SecondaryCard {

}

@media (min-width: $width-notebook) {
  .wrapMap {
    //height: 60rem !important;
    width: 766px;
    height: 434px;
  }
}