@import '../../styles/style';

.root {
  width: 100%;
}

.form_logo {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 20px;
    padding: 0 130px 33px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .logo_form_wrapper {
    display: flex;
    border-radius: 20px;
    background-color: #f6f6f6;
  }

  .root {
    margin-top: 47px;
    padding: 30px 416px 33px 416px;
  }

  .form_logo {
    display: block;
    margin: 0 auto;
    margin-top: 37px;
    margin-left: 70px;
    background-color: #f6f6f6;
    min-width: 156px !important;
    width: 156px !important;
    height: 58px !important;
    //background-size: 155px 80px;
  }
}