@import '../../styles/style';

.root {
  width: 100%;
}

.form_logo {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 46px;
    padding: 0 130px 33px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .logo_form_wrapper {
    display: flex;
    border-radius: 20px;
    background-color: #f6f6f6;
  }

  .root {
    padding: 30px 416px 33px 416px;
  }

  .form_logo {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-left: 55px;
    background-color: #f6f6f6;
    width: 250px;
    height: 90px;
    background-size: 155px 90px;
  }
}