@import '../../styles/style';

$width-sm: 242px;
$width-pre-md: 209px;
$width-md: 270px;
$width-tablet-lg: 297px;
$width-desk-sm: 360px;
$width-desk-md: 398px;
$width-lg: 398px;

$height-sm: 95px;
$height-pre-md: 106px;
$height-md: 141px;
$height-tablet-lg: 136px;
$height-lg: 164px;

$box-shadow-sm: none;
$box-shadow-md-lg: 0 3px 5px rgba(0, 0, 0, 0.07);

$border-sm: 1px solid #d9d9d9;
$border-md-lg: none;

$size-sm: 15px;
$size-pre-md: 15px;
$size-md: 20px;
$size-desk-sm: 25px;
$size-lg: 27px;

$common-padding-sm: 11px 11px 8px 12px;
$common-padding-pre-md: 14px 11px 13px 17px;
$common-padding-md: 20px 18px 16px 26px;
$common-padding-tablet-lg: 19px 18px 16px 22px;
$common-padding-desk-sm: 23px 36px 18px 26px;
$common-padding-lg: 24px 36px 18px 28px;

$border-radius-sm: 8px;
$border-radius-md-lg: 12px;

$title-font-size-sm: 14px;
$title-font-size-pre-md: 13px;
$title-font-size-md: 15px;
$title-font-size-tablet-lg: 17px;
$title-font-size-desk-sm: 20px;
$title-font-size-lg: 21px;

$title-line-height-sm: 14px;
$title-line-height-pre-md: 16px;
$title-line-height-md: 22px;
$title-line-height-tablet-lg: 21px;
$title-line-height-lg: 23px;

$title-margin-sm: 0 0 3px 0;
$title-margin-pre-md: 0 0 4px 0;
$title-margin-md: 0 0 7px 0;
$title-margin-tablet-lg: 0 0 5px 0;
$title-margin-desk-sm: 3px 0 9px 0;
$title-margin-lg: 3px 0 6px 0;

$content-font-size-sm: 12px;
$content-font-size-pre-md: 11px;
$content-font-size-md: 13px;
$content-font-size-tablet-lg: 14px;
$content-font-size-desk-sm: 17px;
$content-font-size-lg: 18px;

$content-line-height-sm: 13px;
$content-line-height-pre-md: 12px;
$content-line-height-md: 14px;
$content-line-height-tablet-lg: 15px;
$content-line-height-desk-sm: 18px;
$content-line-height-lg: 19px;

$decor-margin-sm: -1px 9px 0 0;
$decor-margin-pre-md: 0 7px 0 0;
$decor-margin-md: 0 14px 0 0;
$decor-margin-tablet-lg: 0 12px 0 0;
$decor-margin-desk-sm: 0 17px 0 0;
$decor-margin-lg: 0 14px 0 0;


@mixin card(
  $width,
  $border,
  $border-radius,
  $common-padding,
  $size,
  $title-font-size,
  $title-line-height,
  $content-font-size,
  $content-line-height,
  $decor-margin,
  $box-shadow,
  $title-margin,
  $height,
) {

  .root {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    padding: $common-padding;
    box-shadow: $box-shadow;
  }

  .wrap {

  }

  .decor {
    min-width: $size;
    height: $size;
    margin: $decor-margin;
  }

  .title {
    font-size: $title-font-size;
    line-height: $title-line-height;
    margin: $title-margin;
  }

  .content {
    font-size: $content-font-size;
    line-height: $content-line-height;
  }

  .link {
    font-size: $content-font-size;
    line-height: $content-line-height;
  }
}


@include card(  $width: $width-sm,
              $border: $border-sm,
              $border-radius: $border-radius-sm,
              $common-padding: $common-padding-sm,
              $size: $size-sm,
              $title-font-size: $title-font-size-sm,
              $title-line-height: $title-line-height-sm,
              $content-font-size: $content-font-size-sm,
              $content-line-height: $content-line-height-sm,
              $decor-margin: $decor-margin-sm,
              $box-shadow: $box-shadow-sm,
              $title-margin: $title-margin-sm,
              $height: $height-sm);

.root {
  display: flex;
  background-color: #ffffff;
}

.wrap {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.decor {
  border-radius: 50%;
  opacity: 0.82;
}

.title {
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 38px;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.link {
  text-decoration: underline;
  color: rgba(43, 44, 44, 0.55);
  margin-top: auto;
}

@include card(  $width: $width-sm,
                $border: $border-sm,
                $border-radius: $border-radius-sm,
                $common-padding: $common-padding-sm,
                $size: $size-sm,
                $title-font-size: $title-font-size-sm,
                $title-line-height: $title-line-height-sm,
                $content-font-size: $content-font-size-sm,
                $content-line-height: $content-line-height-sm,
                $decor-margin: $decor-margin-sm,
                $box-shadow: $box-shadow-sm,
                $title-margin: $title-margin-sm,
                $height: $height-sm);

@media (min-width: $width-tablet-sm) {
  @include card(  $width: $width-pre-md,
  $border: $border-md-lg,
  $border-radius: $border-radius-md-lg,
  $common-padding: $common-padding-pre-md,
  $size: $size-pre-md,
  $title-font-size: $title-font-size-pre-md,
  $title-line-height: $title-line-height-pre-md,
  $content-font-size: $content-font-size-pre-md,
  $content-line-height: $content-line-height-pre-md,
  $decor-margin: $decor-margin-pre-md,
  $box-shadow: $box-shadow-md-lg,
  $title-margin: $title-margin-pre-md,
  $height: $height-pre-md);

  .title {
    letter-spacing: -0.01em;
  }

  .wrap {
    overflow: hidden;
  }

  .content {
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: $width-tablet-md) {
  @include card(  $width: $width-md,
  $border: $border-md-lg,
  $border-radius: $border-radius-md-lg,
  $common-padding: $common-padding-md,
  $size: $size-md,
  $title-font-size: $title-font-size-md,
  $title-line-height: $title-line-height-md,
  $content-font-size: $content-font-size-md,
  $content-line-height: $content-line-height-md,
  $decor-margin: $decor-margin-md,
  $box-shadow: $box-shadow-md-lg,
  $title-margin: $title-margin-md,
  $height: $height-md);

  .content {
    max-height: unset;
  }
}

@media (min-width: $width-notebook) {
  @include card(  $width: $width-tablet-lg,
  $border: $border-md-lg,
  $border-radius: $border-radius-md-lg,
  $common-padding: $common-padding-tablet-lg,
  $size: $size-md,
  $title-font-size: $title-font-size-tablet-lg,
  $title-line-height: $title-line-height-tablet-lg,
  $content-font-size: $content-font-size-tablet-lg,
  $content-line-height: $content-line-height-tablet-lg,
  $decor-margin: $decor-margin-tablet-lg,
  $box-shadow: $box-shadow-md-lg,
  $title-margin: $title-margin-tablet-lg,
  $height: $height-tablet-lg);
}

@media (min-width: $width-desktop-sm) {
  @include card(  $width: $width-desk-sm,
  $border: $border-md-lg,
  $border-radius: $border-radius-md-lg,
  $common-padding: $common-padding-desk-sm,
  $size: $size-desk-sm,
  $title-font-size: $title-font-size-desk-sm,
  $title-line-height: $title-line-height-lg,
  $content-font-size: $content-font-size-desk-sm,
  $content-line-height: $content-line-height-desk-sm,
  $decor-margin: $decor-margin-desk-sm,
  $box-shadow: $box-shadow-md-lg,
  $title-margin: $title-margin-desk-sm,
  $height: $height-lg);

  .root {
    transition: 0.6s;
    
    &:hover {
      transform: translateY(-20px);
      transition: 0.6s;
    }
  }
}

@media (min-width: $width-desktop-md) {
  @include card(  $width: $width-lg,
  $border: $border-md-lg,
  $border-radius: $border-radius-md-lg,
  $common-padding: $common-padding-lg,
  $size: $size-lg,
  $title-font-size: $title-font-size-lg,
  $title-line-height: $title-line-height-lg,
  $content-font-size: $content-font-size-lg,
  $content-line-height: $content-line-height-lg,
  $decor-margin: $decor-margin-lg,
  $box-shadow: $box-shadow-md-lg,
  $title-margin: $title-margin-lg,
  $height: $height-lg);
}

@media (min-width: $width-desktop-lg) {
  @include card(  $width: $width-lg,
  $border: $border-md-lg,
  $border-radius: $border-radius-md-lg,
  $common-padding: $common-padding-lg,
  $size: $size-lg,
  $title-font-size: $title-font-size-lg,
  $title-line-height: $title-line-height-lg,
  $content-font-size: $content-font-size-lg,
  $content-line-height: $content-line-height-lg,
  $decor-margin: $decor-margin-lg,
  $box-shadow: $box-shadow-md-lg,
  $title-margin: $title-margin-lg,
  $height: $height-lg);
}
