@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
}

.stoneHedgeLogo {
  background-position: center;
  background-image: url("../../img/s_logoStoneHedge.svg");
  width: 210px;
  height: 21px;
  background-repeat: no-repeat;
  margin-bottom: 13px;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
  max-width: 240px;
}

.plans {
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  margin-bottom: 24px;
  width: 100%;
  max-width: 240px;
}

.C_MainButton {

}

@media (min-width: $width-mobile-pre-md) {
  .root {
    padding: 0 0 24px 0;
  }

  .stoneHedgeLogo {
    width: 260px;
    height: 25px;
    background-size: 260px 25px;
    margin-bottom: 19px;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 14px;
  }
  
  .plans {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 24px;
    max-width: 300px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    align-items: flex-start;
    padding: 10px 0 0 12px;
  }

  .stoneHedgeLogo {
    width: 219px;
    height: 22px;
    background-size: 219px 22px;
    margin-bottom: 13px;
  }

  .description {
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
    margin-bottom: 23px;
  }

  .plans {
    font-size: 13px;
    line-height: 14px;
    text-align: left;
  }

  .C_MainButton {
    display: none;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0;
  }

  .stoneHedgeLogo {
    width: 249px;
    height: 25px;
    background-size: 249px 25px;
    margin: 1px 0 12px 0;
  }

  .description {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 19px;
    max-width: 290px;
  }

  .C_MainButton {
    margin: 0 0 -1px 2px;
    padding: 10px 39px 10px 38px;
    display: block;
    margin-top: auto;
  }
}

@media (min-width: $width-notebook) {
  .root {
    padding: 0;
  }

  .stoneHedgeLogo {
    width: 249px;
    height: 25px;
    background-size: 249px 25px;
    margin: 29px 0 18px -2px;
  }

  .description {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 19px;
    max-width: 480px;
  }

  .plans {
    font-size: 15px;
    line-height: 16px;
    max-width: 385px;
  }

  .C_MainButton {
    margin: auto 0 4px -1px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    padding: 15px 0 0 0;
  }

  .stoneHedgeLogo {
    width: 357px;
    height: 35px;
    background-size: 357px 35px;
    margin: 29px 0 14px 10px;
    transform: translateX(-10px);
    opacity: 0;
  }

  .stoneHedgeLogoShown {
    transform: translateX(-10px);
    opacity: 1;
    transition: 0.6s ease-out;
  }

  .description {
    font-size: 21px;
    line-height: 24px;
    margin:0 0 30px 0;
    max-width: 100%;
    opacity: 0;
  }

  .descriptionShown {
    opacity: 1;
    transition: 0.6s ease-out;
  }

  .plans {
    font-size: 17px;
    line-height: 18px;
    max-width: 100%;
    transform: translateY(29px);
  }

  .plansShown {
    transform: translateY(0);
    transition: 0.6s ease-out;
  }

  .C_MainButton {
    margin: auto 0 -1px 1px;
    padding: 11px 42px 10px;
  }
}


@media (min-width: $width-desktop-md) {
  .root {
    padding: 22px 0 0 0;
  }

  .stoneHedgeLogo {
    width: 389px;
    height: 38px;
    background-size: 389px 38px;
    margin: 29px 0 14px 10px;
  }

  .description {
    font-size: 23px;
    line-height: 27px;
    margin:0 0 28px 0;
  }

  .plans {
    font-size: 18px;
    line-height: 22px;
  }

  .C_MainButton {
    margin: auto 0 74px 0px;
    padding: 12px 45px 11px 45px;
    letter-spacing: -0.03em;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 55px 0 0;
  }

  .stoneHedgeLogo {
    width: 390px;
    height: 39px;
    background-size: 390px 39px;
  }

  .description {
    font-size: 23px;
    line-height: 24px;
    margin:0 0 32px 0;
  }


  .C_MainButton {
    margin: auto 0 108px 0px;
  }
}