@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stoneHedgeLogo {
  background-position: center;
  background-image: url("../../img/s_logoStoneHedge.svg");
  width: 210px;
  height: 21px;
  background-repeat: no-repeat;
  margin-bottom: 11px;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
}

.plans {
  font-size: 12px;
  line-height: 13px;
  text-align: center;
}

.C_MainButton {

}

@media (min-width: $width-tablet-md) {
  .stoneHedgeLogo {
    width: 249px;
    height: 25px;
    background-size: 249px 25px;
  }

  .description {
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
  }

  .plans {
    font-size: 13px;
    line-height: 14px;
    text-align: left;
  }
}

@media (min-width: $width-desktop-lg) {
  .stoneHedgeLogo {
    width: 390px;
    height: 39px;
    background-size: 390px 39px;
  }

  .description {
    font-size: 23px;
    line-height: 24px;
  }

  .plans {
    font-size: 18px;
    line-height: 19px;
  }
}