@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px 0;
}

.stoneHedgeLogo {
  background-position: center;
  background-image: url("../../img/s_logoStoneHedge.svg");
  width: 210px;
  height: 21px;
  background-repeat: no-repeat;
  margin-bottom: 13px;
}

.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 16px;
}

.plans {
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  margin-bottom: 24px;
}

.C_MainButton {

}

@media (min-width: $width-mobile-pre-md) {
  .root {
    padding: 0 0 10px 0;
  }

  .stoneHedgeLogo {
    width: 260px;
    height: 25px;
    background-size: 260px 25px;
    margin-bottom: 19px;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 14px;
  }
  
  .plans {
    font-size: 13px;
    line-height: 14px;
    margin-bottom: 24px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    align-items: flex-start;
    padding: 10px 0 0 12px;
  }

  .stoneHedgeLogo {
    width: 219px;
    height: 22px;
    background-size: 219px 22px;
    margin-bottom: 13px;
  }

  .description {
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
    margin-bottom: 23px;
  }

  .plans {
    font-size: 13px;
    line-height: 14px;
    text-align: left;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0;
  }

  .stoneHedgeLogo {
    width: 249px;
    height: 25px;
    background-size: 249px 25px;
    margin: 1px 0 12px 0;
  }

  .description {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 19px;
  }

  .C_MainButton {
    margin-top: auto;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    align-items: flex-start;
    padding: 84px 0 0;
  }

  .stoneHedgeLogo {
    width: 390px;
    height: 39px;
    background-size: 390px 39px;
  }

  .description {
    font-size: 23px;
    line-height: 24px;
  }

  .plans {
    font-size: 18px;
    line-height: 19px;
  }
}