@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stoneHedgeLogo {
  background-position: center;
  background-image: url("../../img/s_logoStoneHedge.svg");
  width: 210px;
  height: 21px;
  background-repeat: no-repeat;
  margin-bottom: 11px;
}

.description {

}

.plans {

}

.C_MainButton {

}