@import '../../styles/style';

.root {
  margin: 0 auto;
  width: 100vw;
  // overflow: hidden;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding-bottom: 50px;
}

.wrapper {
  //width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.PressCenterTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px -30px;

  & .bg_text {
    display: block;
    margin: 0 0 -15px 0px;
    letter-spacing: -1px;
    color: #F6F6F6;
  }

  & .wrap_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 -20px;

    & span:first-child {
      letter-spacing: -1px;
    }

    & span:last-child {
      margin: 0 0 0 80px;
      letter-spacing: -1px;
    }
  }

  & .bg_text,
  & .wrap_title {
    font-size: 55px;
    line-height: 47px;
    font-weight: 800;
    font-family: "Codec Cold", "Arial", sans-serif;
    text-transform: uppercase;
  }
}

.sliderWrapper {
  width: 100vw;
  margin-top: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root a {
  display: block;
  margin-top: 23px;
  width: 138px;
  padding: 9px 0 10px 0;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  border-radius: 16px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #2B2C2C;
}


@media (min-width: $width-tablet-sm) {
  .root {
    padding: 0 30px;
    padding-bottom: 40px;
  }

  .wrapper {
    min-width: 708px;
    border: 1px solid #707070;
    padding-top: 36px;
    border-radius: 20px;
    padding-bottom: 49px;
  }

  .PressCenterTitle {
    margin: 0;
    
    & .bg_text {
      margin: 0 150px -36px 0;
      letter-spacing: -2px;
    }
  
    & .wrap_title {
      width: 100%;
      margin: 0;
      margin-left: -100px;
      display: flex;
      flex-direction: row;

      & span:first-child {
        letter-spacing: -0.3px;
      }

      & span:last-child {
        margin: 0;
        letter-spacing: -0.7px;
      }
    }

    & .bg_text,
    & .wrap_title {
      font-size: 69px;
      line-height: 74px;
    }
  }

  .sliderWrapper {
    margin-top: 26px;
  }

  .root a {
    margin-top: 16px;
    width: 263px;
    margin-left: -1px;
    padding: 9px 0 8px 0;
    font-size: 18px;
    line-height: 19px;
    border-radius: 22px;
  }

  .btnWrapper a {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 154px;
      height: 16px;
      top: 9px;
      background-repeat: no-repeat;
    }

    &::before {
      left: -182px;
      background-image: url('../../img/left-ellipse.png');
    }

    &::after {
      right: -182px;
      background-image: url('../../img/right-ellipse.png');
    }
  }
}

@media (min-width: $width-tablet-md) {
  .pressing {
    width: 1500px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    padding: 0 52px;
    padding-bottom: 0;
  }

  .wrapper {
    padding-top: 40px;
    padding-bottom: 87px;
    max-width: 1307px;
    margin: 0 auto;
  }

  .PressCenterTitle {  
    & .bg_text {
      margin: 0 502px -45px 0;
      letter-spacing: -2.5px;
    }
  
    & .wrap_title {
      margin-left: 320px;
      letter-spacing: -2px;
    }

    & .bg_text,
    & .wrap_title {
      font-size: 82px;
      line-height: 88px;
    }
  }

  .sliderWrapper {
    margin-top: 37px;
  }

  .root a {
    margin-top: 26px;
    margin-left: 0;
    padding: 8px 0 9px 0;
    width: 264px;
  }

  .pressing {
    width: 1500px;
  }

  .btnWrapper a {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 250px;
      height: 16px;
      top: 14px;
    }

    &::before {
      left: -369px;
      background-image: url('../../img/left-ellipse-note.png');
    }

    &::after {
      right: -369px;
      background-image: url('../../img/right-ellipse-note.png');
    }
  }
}

@media (min-width: $width-desktop-sm) {
  .sliderWrapper {
    margin-top: 65px;
    overflow: visible;
  }

  .pressing {
    width: 1140px;
    min-height: 440px;
  }

  .root {
    padding: 0 52px;
    padding-bottom: 0;
  }

  .wrapper {
    padding-top: 53px;
    padding-bottom: 87px;
    max-width: 1307px;
    margin: 0 auto;
  }

  .PressCenterTitle {  
    & .bg_text {
      margin: 0 446px -61px 0;
      letter-spacing: -3.5px;
    }
  
    & .wrap_title {
      margin-left: 166px;
      letter-spacing: -2px;

      & span:first-child {
        letter-spacing: -1px;
      }

      & span:last-child {
        letter-spacing: -1px;
      }
    }

    & .bg_text,
    & .wrap_title {
      font-size: 113px;
      line-height: 121px;
    }
  }

  .sliderWrapper {
    margin-top: 85px;
  }

  .root a {
    margin-top: 22px;
    margin-left: 0;
    padding: 11px 0 13px 0;
    width: 185px;
  }

  .pressing {
    width: 1140px;
  }

  .btnWrapper a {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 250px;
      height: 16px;
      top: 14px;
    }

    &::before {
      left: -369px;
      background-image: url('../../img/left-ellipse-note.png');
    }

    &::after {
      right: -369px;
      background-image: url('../../img/right-ellipse-note.png');
    }
  }
}