.root {
  height: 100%;
  min-width: 242px;
  min-height: 151px;
}

.card_wrapper {
  position: relative;
  background-color: grey;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  text-align: center;
}

.card_wrapper img {
  border-radius: 8px;
}

.root p {
  text-align: center;
}