@import '../../styles/style';

.root {
  height: 100%;
  width: 242px;
  min-height: 141px;
}

.card_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
  min-height: 141px;
  margin-bottom: 30px;
}

.card_wrapper h3 {
  display: none;
}

.card_wrapper img {
  margin-top: -20px;
  border-radius: 8px;
  top: 20px;
  z-index: 10;
  min-height: 141px;
}

.card_wrapper a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-height: 141px;
  border: none;
  padding: 0;
  padding-bottom: 4px;
  width: 100%;
  z-index: 0;
  border-radius: 8px;
  top: 23px;
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  color: #070707;
  background-color: #EFEFEF;
  cursor: pointer;
}

.root p {
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0;
  padding: 4px 0 5px 8px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  text-align: left;
  color: #2B2C2C;
}

@media (min-width: 360px) {

}

@media (min-width: $width-tablet-sm) {
  .card_wrapper h3 {
    display: block;
    position: absolute;
    margin: 0;
    margin: 19px 0 0 30px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 800;
    letter-spacing: -0.1px;
    font-family: "Codec Cold", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: left;
    z-index: 100;
    color: #ffffff;
  }
  
  .root { 
    width: 261px;
  }
  
  .card_wrapper {
    min-height: 152px;
  }
    
  .card_wrapper img {
    min-height: 152px;
  }
  
  .card_wrapper a {
    min-height: 154px;
    font-size: 13px;
    line-height: 14px;

  }
  
  .root p {
    font-size: 13px;
    line-height: 14px;
    width: 253px;
    padding: 10px 0 5px 0;
  }
}

@media (min-width: $width-tablet-md) {
  .card_wrapper h3 {
    margin: 24px 0 0 33px;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.1px;
  }
  
  .root { 
    width: 384px;
  }
  
  .card_wrapper {
    min-height: 225px;
    border-radius: 10px;
  }
    
  .card_wrapper img {
    min-height: 225px;
    border-radius: 10px;
  }
  
  .card_wrapper a {
    min-height: 220px;
    padding-bottom: 2px;
    padding-left: 1px;
  }
  
  .root p {
    font-size: 13px;
    line-height: 14px;
    width: 353px;
    padding: 2px 0 1px 14px;
  }
}

@media (min-width: $width-notebook) {
  .card_wrapper h3 {
    margin: 24px 0 0 33px;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.1px;
  }
  
  .root { 
    width: 440px;
  }
  
  .card_wrapper {
    min-height: 225px;
    border-radius: 10px;
  }
    
  .card_wrapper img {
    min-height: 225px;
    border-radius: 10px;
  }
  
  .card_wrapper a {
    min-height: 220px;
    padding-bottom: 2px;
    padding-left: 1px;
  }
  
  .root p {
    font-size: 13px;
    line-height: 14px;
    width: 353px;
    padding: 2px 0 1px 14px;
  }
}