@import '../../styles/style';

.root {
  height: 100%;
  width: 242px;
  min-height: 141px;
}

.card_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
  min-height: 141px;
  margin-bottom: 30px;
  cursor: pointer;
}

.card_wrapper h3 {
  display: none;
}

.card_wrapper img {
  margin-top: -20px;
  border-radius: 8px;
  top: 20px;
  z-index: 10;
  min-height: 141px;
}

.card_wrapper a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-height: 141px;
  border: none;
  padding: 0;
  padding-bottom: 4px;
  width: 100%;
  z-index: 0;
  border-radius: 8px;
  top: 23px;
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  color: #070707;
  background-color: #EFEFEF;
  cursor: pointer;
}

.card_shadow {
  position: absolute;
  width: 100%;
  height: 45%;
  border-radius: 8px;
  z-index: 10;
  background: linear-gradient(rgba(43, 44, 44, 0.67) 0%, rgba(43, 44, 44, 0) 100%);
}

.root p {
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 0;
  padding: 4px 0 5px 8px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  text-align: left;
  color: #2B2C2C;
}

@media (min-width: $width-mobile-pre-md) {

}

@media (min-width: $width-tablet-sm) {
  .card_wrapper h3 {
    display: block;
    position: absolute;
    margin: 0;
    margin: 19px 0 0 30px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 800;
    letter-spacing: -0.1px;
    font-family: "Codec Cold", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: left;
    z-index: 100;
    color: #ffffff;
  }
  
  .root { 
    width: 261px;
  }
  
  .card_wrapper {
    min-height: 152px;
  }
    
  .card_wrapper img {
    min-height: 152px;
  }
  
  .card_wrapper a {
    min-height: 154px;
    font-size: 13px;
    line-height: 14px;
  }
  
  .root p {
    font-size: 13px;
    line-height: 14px;
    width: 253px;
    padding: 10px 0 5px 0;
  }
}

@media (min-width: $width-tablet-md) {
  .card_wrapper h3 {
    margin: 24px 0 0 33px;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.1px;
  }
  
  .root { 
    width: 384px;
  }
  
  .card_wrapper {
    min-height: 225px;
    border-radius: 10px;
  }
    
  .card_wrapper img {
    min-height: 225px;
    border-radius: 15px;
  }
  
  .card_shadow {
    border-radius: 15px;
  }

  .card_wrapper a {
    min-height: 220px;
    padding-bottom: 2px;
    padding-left: 1px;
    border-radius: 15px;
  }
  
  .root p {
    font-size: 13px;
    line-height: 14px;
    width: 353px;
    padding: 2px 0 1px 14px;
  }
}

@media (min-width: $width-notebook) {
  .card_wrapper h3 {
    margin: 39px 0 0 35px;
    font-size: 25px;
    line-height: 27px;
    letter-spacing: -0.1px;
  }
  
  .root { 
    width: 435px;
  }
  
  .card_wrapper {
    min-height: 289px;
  }
    
  .card_wrapper img {
    min-height: 289px;
  }
  
  .card_wrapper a {
    min-height: 299px;
    padding-bottom: 6px;
    padding-left: 2px;
    font-size: 17px;
    line-height: 18px;
  }
  
  .root p {
    font-size: 17px;
    line-height: 18px;
    width: 402px;
    padding: 21px 0 1px 21px;
  }
}

@media (min-width: $width-desktop-sm) {
  .card_wrapper h3 {
    margin: 31px 0 0 42px;
    letter-spacing: -1px;
    transition: 0.5s;
  }
  
  .card_wrapper {
    margin-bottom: 21px;
    opacity: 0;
    transform: scale(0.9);
  }

  .card_wrapper_hover h3 {
    transform: translateY(-20px);
    transition: 0.5s;
  }

  .card_shadow {
    transition: 0.5s;
  }

  .card_wrapper_hover .card_shadow {
    transform: translateY(-20px);
    transition: 0.5s;
  }

  .card_wrapper span {
    overflow: visible !important;
  }
  
  .root { 
    width: 485px;
  }

  .card_wrapper img {
    transition: 0.5s;
    border-radius: 15px;
  }

  .card_wrapper_hover img {
    transform: translateY(-20px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
  }

  .card_wrapper a {
    min-height: 283px;
    padding-bottom: 7px;
    border-radius: 15px;
    top: 14px;
  }
  
  .root p {
    width: 402px;
    padding: 10px 0 1px 20px;
    transform: translateY(180px);
  }

  .cardShown {
    .card_wrapper {
      opacity: 1;
      transform: scale(1);
      transition: 1.1s ease;
    }

    p {
      transform: translateY(0);
      transition: 1.1s ease;
    }
  }
}

@media (min-width: $width-desktop-md) {
  .card_wrapper h3 {
    font-size: 29px;
    line-height: 31px;
    margin: 36px 0 0 50px;
    letter-spacing: -0.3px;
  }
  
  .root { 
    width: 559px;
  }
  
  .card_wrapper {
    min-height: 333px;
    transition: 0.5s;
  }

  .card_wrapper img {
    min-height: 333px;
  }

  .card_wrapper a {
    min-height: 330px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  
  .root p {
    font-size: 19px;
    line-height: 21px;
    width: 500px;
    padding: 12px 0 1px 21px;
  }
}