@import '../../styles/style';

.root {
  background-color: $color-card-bg;
  display: flex;
  position: absolute;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.decor {
  display: none;
}

.CardBtn {
  position: absolute;
  bottom: calc(50% - 17px);
  left: calc(50% - 67px);
  z-index: 10;
}

.CloseBtn {
  position: absolute !important;
  top: -18px;
  right: -18px;
  z-index: 15;
}

@media (min-width: $width-notebook) {

  .root {
    position: absolute;
  }

  .wrapper {
    padding-bottom: 0;
  }

  .decor {
    display: none;
  }

  .CardBtn {
    position: unset;
    bottom: unset;
    left: unset;
    margin-left: 0;
  }
}