@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.С_Slider {
  //height: 100%;
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    min-height: 218px;
    margin-bottom: 13px
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    min-width: 295px;
    width: calc(100vw - 631px);
    min-height: 174px;
    height: calc(100vw - 782px);
    max-height: 261px;
    //border-radius: 10px;
    margin-bottom: unset;
    overflow: unset;
    padding-left: 50px;
  }

  .С_Slider {
    //width: 50vw;

    & div[class*="swiper-container"] {
      padding-bottom: unset;
      border-radius: 15px;
    }

    & div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      display: none;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    width: calc(100vw - 581px);
    min-width: 369px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    min-width: 440px;
    width: calc(100vw - 759px);
    //max-width: 473px;
    min-height: 261px;
    height: calc(100vw - 952px);
    max-height: 349px;
    padding-left: 0px;
  }

  .С_Slider {
    //width: 50vw;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    //width: 694px;
    max-width: 494px;
  }

  .С_Slider {
    //height: unset;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    width: 598px;
    min-width: 598px;
    max-width: 694px;
    max-height: 424px;
  }

  .С_Slider {
    //height: unset;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 694px;
  }

  .С_Slider {
    //height: unset;
  }
}