@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 18px;
}

.ะก_Slider {
  //height: 100%;
}

.videoWrapper {
  width: 75.63vw;
  height: 51.25vw;
  max-height: 185px;
  position: relative;
}

.root iframe {
  width: 100%;
  height: 100%;
  min-height: 164px;
  // max-height: 185px;
  border-radius: 8px;
}

.iframeWrapper {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.popupLink {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    min-height: 218px;
    margin-bottom: 13px
  }

  .videoWrapper {
    width: 76.12vw;
    height: 51.25vw;
    margin: 0 auto;
    max-height: 365px;
    margin-bottom: 18px;
  }

  .root iframe {
    width: 100%;
    height: 100%;
    min-height: 185px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    min-width: 295px;
    width: calc(100vw - 631px);
    min-height: 174px;
    height: calc(100vw - 782px);
    max-height: 261px;
    //border-radius: 10px;
    margin-bottom: unset;
    overflow: unset;
    padding-left: 50px;
  }

  .videoWrapper {
    width: 44.8vw;
    height: 20.25vw;
    margin: 0 auto;
    max-width: 369px;
    max-height: 218px;
    margin-bottom: 0;
    padding-left: 50px;
  }

  .root iframe {
    min-height: 174px;
    max-height: 218px;
    border-radius: 15px;
  }

  .ะก_Slider {
    //width: 50vw;

    & div[class*="swiper-container"] {
      padding-bottom: unset;
      border-radius: 15px;
    }

    & div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      display: none;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    width: calc(100vw - 581px);
    min-width: 369px;
  }

  .videoWrapper {
    width: 41.8vw;
    height: 20.25vw;
    margin: 0 auto;
    min-width: 369px;
    max-width: 441px;
    max-height: 261px;
    margin-bottom: 0;
    padding-left: 50px;
  }

  .root iframe {
    min-height: 218px;
    max-height: 261px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    min-width: 440px;
    width: calc(100vw - 759px);
    //max-width: 473px;
    min-height: 261px;
    height: calc(100vw - 952px);
    max-height: 349px;
    padding-left: 0px;
  }
  
  .videoWrapper {
    max-width: 493px;
  }

  .root iframe {
    max-height: 349px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    //width: 694px;
    max-width: 494px;
  }

  .ะก_Slider {
    //height: unset;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    width: 598px;
    min-width: 598px;
    max-width: 694px;
    max-height: 424px;
  } 

  .root iframe {
    max-height: 424px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 694px;
    min-width: 694px;
    max-height: 492px;
  }

  .root iframe {
    max-height: 694px;
  }
}