@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.ะก_Slider {
  height: 100%;
}

@media (min-width: $width-tablet-md) {
  .root {
    width: 410px;
    //border-radius: 10px;
    margin-bottom: unset;
    overflow: unset;
  }

  .ะก_Slider {
    & div[class*="swiper-container"] {
      padding-bottom: unset;
    }

    width: 100%;
  }
}

@media (min-width: $width-desktop-lg) {

}