@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.ะก_Slider {
  height: 100%;
}

@media (min-width: $width-tablet-md) {
  .root {
    width: 369px;
    //border-radius: 10px;
    margin-bottom: unset;
    overflow: unset;
  }

  .ะก_Slider {
    width: 100%;

    & div[class*="swiper-container"] {
      padding-bottom: unset;
      border-radius: 15px;
    }

    & div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      display: none;
    }

  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 694px;
  }

  .ะก_Slider {
    height: unset;
  }
}