@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ะก_Slider {
  & > div {
    & > div {
      & > div {
      //background: black;

      }
    }

  }
  //& div[class="swiper-slide"] {
  //  border-radius: 8px;
  //}
}