@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.ะก_Slider {

}

@media (min-width: $width-tablet-md) {
  .root {
    width: auto;
  }

  .ะก_Slider {

  }
}

@media (min-width: $width-desktop-lg) {

}