@import '../../styles/style';

.root {
  width: auto;
  height: 20px;
  font-size: 10px;
  line-height: 11px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 10px 8px 12px;
  color: #ffffff;
  background: #515DAC;
  cursor: pointer;

  &:hover {
    background-color: #7A85D1;
  }
}

.root:nth-child(n + 3) {
  margin-left: 4px;
}

@media (min-width: $width-tablet-md) {
  .root {
    height: 30px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 15px;
    padding: 7px 19px 8px 20px;
  }
  
  .root:nth-child(n + 3) {
    margin-left: 8px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    height: 35px;
    margin-top: 4px;
    font-size: 18px;
    line-height: 19px;
    padding: 9px 20px 10px 20px;
  }
}