.root {
  width: auto;
  height: 20px;
  border-radius: 20px;
  padding: 5px 10px 8px 12px;
  color: #ffffff;
  background: #515DAC;
  cursor: pointer;
}

.root:nth-child(n + 3) {
  margin-left: 4px;
}