@import '../../styles/style';

.root {
  padding-top: 4.9rem;
  width: 100%;
  background-color: $color-dark-primary;
}

.wrapper {
  width: $width-mobile-sm;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 1.8rem;
}

@media (min-width: $width-notebook) {
  .root {
    padding-top: 5.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 4rem;
  }

  .wrapper {
    width: $width-notebook;
    padding-left: 7rem;
    margin: 0;
    justify-content: flex-start;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 843px;
      height: 1px;
      background-color: $color-gray-three;
      bottom: 3px;
      left: 70px;
      z-index: 2;
    }

    &:before {
      content: 'Офисы и ритейл';
      position: absolute;
      color: $color-white;
      right: 33px;
      bottom: -12px;
      font-size: 2.5rem;
      line-height: 2.7rem;
      font-weight: 300;
    }
  }
}