@import '../../styles/style';

.root {
  position: relative;
  display: block;
  width: 10px;
  height: 18px;
  margin-right: 39px;
  background-image: url('../../img/backBtnMobile.svg');
  background-repeat: no-repeat;
  background-size: 8px 18px;
  background-position: center center;
}

@media (min-width: $width-tablet-md) {
  .root {
    min-width: 52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 34px;
    background-image: url('../../img/backBtnTablet.svg');
    background-size: 52px 52px;
    transition: 0.4s;

    &:hover {
      background-image: url('../../img/backBtnHover.svg');
    }
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin-right: 51px;
  }
}
