@import '../../styles/style';

.root {
  margin-top: 6px;
  padding: 0;
}

.root p {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-style: italic;
  letter-spacing: -0.07px;
  color: #515dac;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 16px;
    padding: 0;
  }

  .root p {
    font-size: 22px;
    line-height: 23px;
  }
}