@import '../../styles/style';

.root {
  margin-top: 8px;
  padding: 0;
}

.root p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  letter-spacing: -0.07px;
  color: #515dac;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 16px;
    padding: 0;
  }

  .root p {
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.1px;

  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin-top: 20px;
  }

  .root p {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.1px;
  }
}