@import '../../styles/style';

.root {
  background-color: $color-gray-eleven;
  position: sticky;
  top: 0;
  width: 100vw;
  display: grid;
  //display: flex;
  //justify-content: space-between;
  grid-template-areas: 'C_Navigation C_ContactsMenu';
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.C_Logo_Menu {
  display: none !important;
  grid-area: C_Logo_Menu;
}

.C_Navigation {
  grid-area: C_Navigation;
}

.C_ContactsMenu {
  grid-area: C_ContactsMenu;
}

@media (min-width: $width-tablet-md) {
  .root {
    grid-template-areas: 'C_Logo_Menu C_Navigation C_ContactsMenu';
    grid-template-columns: 102px 1fr auto;
    justify-content: end;
    padding: 37px 52px 26px;
  }

  .C_Logo_Menu {
    display: block !important;
    width: 102px !important;;
    height: 42px !important;;
    background-size: 102px 42px !important;;
  }

  .C_Navigation {
    top: -12.5px;
  }

  .C_ContactsMenu {

  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 30px 83px 30px 133px;
  }

  .C_Logo_Menu {
    display: none !important;
  }
}