@import '../../styles/style';

.root {
  background-color: transparent;
  transition: background-color .3s ease-out;
  position: sticky;
  top: 0;
  width: 100vw;
  display: grid;
  grid-template-areas: 'C_Navigation C_ContactsMenu';
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.menuOnTop {
  background: #fff;
  opacity: 0.97 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  & * {
    opacity: 1 !important;
  }
}

.C_Logo_Menu {
  display: none !important;
  grid-area: C_Logo_Menu;
}

.C_Navigation {
  grid-area: C_Navigation;
}

.C_ContactsMenu {
  grid-area: C_ContactsMenu;
}

@media (min-width: $width-tablet-sm) {
  .root {
    grid-template-areas: 'C_Logo_Menu C_Navigation C_ContactsMenu';
    grid-template-columns: 102px 1fr auto;
    justify-content: end;
    padding: 33px 36px 26px 52px;
  }

  .C_Logo_Menu {
    display: block !important;
    width: 82px !important;;
    height: 34px !important;;
    background-size: 82px 34px !important;;
  }

  .C_Navigation {
    top: -12.5px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 37px 52px 30px;
  }

  .C_Logo_Menu {
    width: 102px !important;;
    height: 42px !important;;
    background-size: 102px 42px !important;;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 30px 83px 30px 133px;
    max-width: 1920px;
  }

  .C_Logo_Menu {
    display: none !important;
  }

  .C_Navigation {
    top: 0;
  }
}