@import '../../styles/style';

.wrapRoot {
  width: 100vw;
  max-width: $width-desktop-lg;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
}

.root {
  background: radial-gradient(#fff 0%, #808080 300%);
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  background-image: url('../../img/bgstone.png');
  background-repeat: no-repeat;
  background-position: left top 47px;
  padding: 47px 21px 18px 17px;
}

.root h2 {
  order: 2;
  margin: 0;
  margin-left: 3px;
  margin-top: 31px;
  font-size: 28px;
  line-height: 31px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-dark-primary;
}

.logo_footer {
  margin-left: 3px;
  width: 64px;
  height: 27px;
  background-size: 64px 27px;
  order: 3;
}

.copyright_wrapper {
  margin-top: 60px;
  order: 4;
}

.logoSH_footer {
  margin-top: 22px;
}

.footer_ontop_btn {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 24px;
}

@media (min-width: $width-tablet-sm) {
  .root {
    width: 100%;
    min-height: 877px;
  }

  .footer_wrapper {
    background-image: url('../../img/bgstone-tablet-sm.png');
    background-repeat: no-repeat;
    background-position: left 36px bottom 210px;
    padding: 64px 80px 18px 53px;
  }

  .root h2 {  
    font-size: 34px;
    line-height: 40px;
    margin-top: 66px;
    margin-left: 22px;
    letter-spacing: 0.3px;
  }

  .copyright_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 110px;
  }

  .logo_wrapper {
    margin-left: auto;
  }

  .logo_footer {
    margin-top: 0;
    margin-left: 0;
    width: 96px;
    height: 41px;
    background-size: 96px 41px;
  }

  .logoSH_footer {
    margin-left: 0;
    margin-top: 35px;
    width: 208px;
    height: 34px;
    background-size: 208px 34px;
  }

  .footer_ontop_btn {
    right: 52px;
    bottom: 99px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 41px;
    min-height: 971px;
  }

  .footer_wrapper {
    background-image: url('../../img/bgstone-tablet.png');
    padding: 64px 118px 18px 50px;
  }

  .root h2 {  
    font-size: 46px;
    line-height: 55px;
    margin-top: 75px;
    margin-left: 57px;
  }

  .copyright_wrapper {
    margin-top: 119px;
  }

  .logo_wrapper {
    margin-right: 118px;
    margin-left: auto;
  }

  .footer_ontop_btn {
    bottom: 70px;
  }
}

@media (min-width: $width-notebook) {
  .footer_wrapper {
    background-image: url('../../img/bgstone-notebook.png');
    background-position: left 52px bottom 190px;
    padding: 64px 118px 18px 50px;
  }

  .root h2 {  
    font-size: 48px;
    line-height: 57px;
    margin-top: 98px;
    margin-left: 60px;
    letter-spacing: 0.007em;
  }

  .copyright_wrapper {
    margin-top: 89px;
  }

  .logo_wrapper {
    margin: 3px 190px 0 auto;
  }

  .footer_ontop_btn {
    bottom: 70px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    min-height: 1310px;
    padding: 62px 30px 18px 47px;
  }

  .footer_wrapper {
    background-image: url('../../img/bgstone-desktop-sm.png');
    background-position: left 52px bottom 219px;
  }

  .root h2 {  
    font-size: 59px;
    line-height: 69px;
    margin-top: 155px;
    margin-left: 60px;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0;
    align-items: flex-end;
  }

  .copyright_wrapper {
    margin-top: 117px;
  }

  .logo_footer {
    margin: 0;
    width: 118px !important;
    height: 49px !important;
    background-size: 118px 49px !important;
  }

  .logoSH_footer {
    margin-left: 37px;
    margin-top: 67px;
    margin-bottom: 0;
    width: 260px;
    height: 55px;
    background-size: 260px 55px;
  }

  .footer_ontop_btn {
    right: 36px;
    bottom: 99px;
  }
}


@media (min-width: $width-desktop-md) {
  .root {
    padding: 62px 30px 18px 47px;
  }

  .footer_wrapper {
    background-position: left 51px bottom 227px;
    background-size: 1243px 272px;
  }

  .root h2 {  
    font-size: 66px;
    line-height: 78px;
    margin-top: 132px;
    margin-left: 66px;
  }

  .copyright_wrapper {
    margin-top: 121px;
  }

  .logo_footer {
    margin: 0 0 5px 0;
  }

  .logoSH_footer {
    margin: 0 0 5px 55px;
    width: 260px;
    height: 55px;
    background-size: 260px 55px;
  }

  .footer_ontop_btn {
    bottom: 34px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    min-height: 1310px;
    margin-top: 65px;
    padding: 62px 118px 18px 124px;
  }

  .footer_wrapper {
    background-image: url('../../img/bgstone-desktop.png');
    background-position: left 52px bottom 208px;
    background-size: unset;
    padding: 64px 62px 18px 53px;
  }

  .root h2 {  
    font-size: 80px;
    line-height: 95px;
    font-weight: 800;
    margin-top: 115px;
    margin-left: 80px;
    letter-spacing: 0;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0;
    align-items: flex-end;
  }

  .copyright_wrapper {
    margin-top: 104px;
  }

  .logo_footer {
    margin: 0 0 3px 0;
    width: 160px;
    height: 50px;
    background-size: 160px 50px;
  }

  .logoSH_footer {
    margin: 35px 0 6px 53px;
  }

  .footer_ontop_btn {
    right: 36px;
    bottom: 98px;
  }
}