@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  padding: 47px 36px 18px 35px;
  background-image: url('../../img/bgstone-mobile.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.root h2 {
  order: 2;
  margin: 0;
  margin-left: -15px;
  margin-top: 30px;
  font-size: 28px;
  line-height: 31px;
  text-transform: uppercase;
  color: #343636;
}

.logo_footer {
  margin-top: 60px;
  margin-left: -17px;
  order: 3;
}

.copyright_wrapper {
  order: 4;
}

.logoSH_footer {
  margin-left: -17px;
  margin-top: 25px;
}

.copyright_wrapper {
  margin-top: 25px;
}

@media (min-width: $width-tablet-md) {
  .root {
    width: 100%;
    padding: 47px 118px 18px 107px;
    background-image: url('../../img/bgstone-tablet.png');
    min-height: 971px;
  }

  .root h2 {  
    font-size: 46px;
    line-height: 37px;
    margin-top: 124px;
  }

  .copyright_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 120px;
  }

  .logo_wrapper {
    margin-left: 119px;
  }

  .logo_footer {
    margin-top: 0;
    margin-left: 0;
  }

  .logoSH_footer {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    background-image: url('../../img/bgstone-desktop.png');
    min-height: 1310px;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 297px;
    align-items: flex-end;
  }

  .logoSH_footer {
    margin-left: 58px;
  }
}