.root {
  display: flex;
  flex-direction: column;
  padding: 47px 36px 18px 35px;
  background-image: url('../../img/bgstone.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

.root h2 {
  order: 2;
  margin: 0;
  margin-left: -15px;
  margin-top: 30px;
  font-size: 28px;
  line-height: 31px;
  text-transform: uppercase;
  color: #343636;
}

.logo_footer {
  margin-top: 60px;
  margin-left: -17px;
  order: 3;
}

.logoSH_footer {
  margin-left: -17px;
  margin-top: 25px;
  order: 4;
}