@import '../../styles/style';

.root {
  list-style: none;
  margin: 0 0 27px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin: 0 0 38px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
}
