@import '../../styles/style';

.root {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

@media (min-width: $width-tablet-md) {
}

@media (min-width: $width-desktop-lg) {

}
