@import '../../styles/style';

$animationDurationHero: 1.1s;

.root {
  width: 100%;
  color: $color-dark-primary;
}

.textBlock {

}

.interactiveBlock {

}

.titleHelper {

}

.mainTitle {

}

.listName {

}

.list {

}

.item {

}

.mainButton {

}

.btmPic {

}

.topPic {

}

.hover {

}

@media (min-width: $width-tablet-md) {

}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    background-color: $color-gray-eleven;
    padding: 96.5px 0 0 222px;
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    padding: 22.5px 0 0;
  }

  .interactiveBlock {
    width: 1075px;
    height:  782px;

    margin-left: -107px;
    position: relative;
  }

  .btmPic {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/s_hero_bg.png");
    background-size: 1075px 782px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .topPic {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/s_bg_top_hero.png");
    background-size: 1075px 761px;
    background-repeat: no-repeat;
    background-position: right top;
    clip-path: circle(0 at 0 0);
    transition: 0.1s;
  }

  .hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    cursor: none;
  }

  @keyframes helperAnima {
    0% {
      opacity: 0;
      left: -200px;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: .1;
    }
    40% {
      opacity: .15;
    }
    50% {
      opacity: .2;
    }
    60% {
      opacity: .25;
    }
    70% {
      opacity: .5;
    }
    80% {
      opacity: .7;
    }
    90% {
      opacity: .9;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes helperAnimaAfter {
    0% {
      opacity: 0;
      right: -200px;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: .1;
    }
    40% {
      opacity: .15;
    }
    50% {
      opacity: .2;
    }
    60% {
      opacity: .25;
    }
    70% {
      opacity: .5;
    }
    80% {
      opacity: .7;
    }
    90% {
      opacity: .9;
    }
    100% {
      opacity: 1;
      right: 105px;
    }
  }

  .titleHelper {
    font-size: 22px;
    line-height: 23px;
    text-transform: uppercase;
    margin: 0 0 0 15.5px;
    animation-duration: $animationDurationHero;
    animation-name: helperAnima;
    position: relative;

    &:after {
      position: absolute;
      right: 105px;
      top: 0;
      content: '';
      width: 220px;
      height: 16px;
      background-image: url("../../img/s_hero_decor_1.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 220px 16px;
      display: block;
      animation-duration: $animationDurationHero;
      animation-name: helperAnimaAfter;
    }
  }

  @keyframes helperAnimaTitle {
    0% {
      opacity: 0;
      top: 150px;
    }
    10% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    30% {
      opacity: .1;
    }
    40% {
      opacity: .15;
    }
    50% {
      opacity: .2;
    }
    60% {
      opacity: .25;
    }
    70% {
      opacity: .5;
    }
    80% {
      opacity: .7;
    }
    90% {
      opacity: .9;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }

  .mainTitle {
    position: relative;
    top: 0;
    left: 0;
    font-size: 202px;
    line-height: 217px;
    font-weight: 800;
    margin-bottom: 16px;
    z-index: 10;
    animation-duration: $animationDurationHero;
    animation-name: helperAnimaTitle;
  }

  .listName {
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 39px;
  }

  .list {
    margin-bottom: 54px;
    padding: 0 0 0 21px;
  }

  .item {
    font-size: 20px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .mainButton {
    align-self: flex-start;
  }
}