@import '../../styles/style';

$animationDurationHero: 1.1s;

@mixin middleAnimationSpeed {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: .1;
  }
  40% {
    opacity: .15;
  }
  50% {
    opacity: .2;
  }
  60% {
    opacity: .25;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: .7;
  }
  90% {
    opacity: .9;
  }
}

  .root {
    width: 100%;
    color: $color-dark-primary;

    padding: 13px 0 29px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    //todo переделать на гриды блок
    grid-template-columns: 1fr;
    grid-template-areas:  'titleHelper'
                          'mainTitle'
                          'interactiveBlock'
                          'listName'
                          'listInfo'
                          'mainButton';
    justify-items: start;
    //align-items: center;
}

//.textBlock {
//
//}

.interactiveBlock {
  grid-area: interactiveBlock;
  align-self: stretch;

  width: 100vw;
  height: calc(67.1875vw);
  min-height: 215px;
  position: relative;
}

.btmPic {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/s_hero_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.topPic {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../img/s_bg_top_hero.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  clip-path: circle(0 at 50% 50%);
  transition: 3s ease-in-out;
}

.topPicAnimation {
  clip-path: circle(100% at 50% 50%);
}

.hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.titleHelper {
  grid-area: titleHelper;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 7px 25px;
}

.mainTitle {
  grid-area: mainTitle;
  background-image: url("../../img/s_logo_stone.svg");
  width: 208px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: 208px 46px;
  background-position: center;
  margin: 0 0 0 25px;
}

.listName {
  grid-area: listName;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 0 0 0 25px;
}

.listInfo {
  grid-area: listInfo;
  padding: 0 0 0 13px;
  margin: 0 0 0 25px;
}

.item {
  font-size: 12px;
  line-height: 17px;
}

.mainButton {
  grid-area: mainButton;
  margin: 0 0 0 25px;
}

@media (min-width: $width-tablet-md) {

}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    background-color: $color-gray-eleven;
    padding: 96.5px 0 0 222px;
  }

  //.textBlock {
  //  display: flex;
  //  flex-direction: column;
  //  padding: 22.5px 0 0;
  //}

  .interactiveBlock {
    width: 1075px;
    height:  782px;

    margin-left: -107px;

  }

  .btmPic {
    //position: absolute;
    //top: 0;
    //right: 0;
    //width: 100%;
    //height: 100%;
    //background-image: url('../../img/s_hero_bg.png');
    background-size: 1075px 782px;
    //background-repeat: no-repeat;
    //background-position: center;
  }

  .topPic {
    //position: absolute;
    //top: 0;
    //right: 0;
    //width: 100%;
    //height: 100%;
    //background-image: url('../../img/s_bg_top_hero.png');
    background-size: 1075px 761px;
    //background-repeat: no-repeat;
    //background-position: right top;
    clip-path: circle(0 at 0 0);
    transition: 0.1s;
  }

  .hover {
    cursor: none;
  }

  @keyframes helperAnima {
    0% {
      opacity: 0;
      left: -200px;
    }
    @include middleAnimationSpeed;
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes helperAnimaAfter {
    0% {
      opacity: 0;
      right: -200px;
    }
    @include middleAnimationSpeed;
    100% {
      opacity: 1;
      right: 105px;
    }
  }

  .titleHelper {
    font-size: 22px;
    line-height: 23px;

    margin: 0 0 0 15.5px;
    animation-duration: $animationDurationHero;
    animation-name: helperAnima;
    position: relative;

    &:after {
      position: absolute;
      right: 105px;
      top: 0;
      content: '';
      width: 220px;
      height: 16px;
      background-image: url('../../img/s_hero_decor_1.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 220px 16px;
      display: block;
      animation-duration: $animationDurationHero;
      animation-name: helperAnimaAfter;
    }
  }

  @keyframes helperAnimaTitle {
    0% {
      opacity: 0;
      top: 150px;
    }
    @include middleAnimationSpeed;
    100% {
      opacity: 1;
      top: 0;
    }
  }

  .mainTitle {
    position: relative;
    top: 0;
    left: 0;
    font-size: 202px;
    line-height: 217px;
    font-weight: 800;
    margin-bottom: 16px;
    z-index: 10;
    animation-duration: $animationDurationHero;
    animation-name: helperAnimaTitle;
  }

  .listName {
    font-weight: bold;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 39px;
  }

  .listInfo {
    margin-bottom: 54px;
    padding: 0 0 0 21px;
  }

  .item {
    font-size: 20px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .mainButton {
    align-self: flex-start;
  }
}