@import '../../styles/style';

.root {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:  "picture link"
                        "title link";
  align-items: center;
  justify-items: center;


  &.reverse {
    grid-template-areas:  "link picture"
                          "link title";

    & .picture {
      margin: 0 0 0 7px;
      justify-self: flex-start;
    }

    & .title {
      justify-self: flex-start;
    }

    & .link {
      justify-self: flex-end;
    }

    & .roundButton {
      margin: 28px 0px 7px 33px;
    }

    .buttonText {
      margin-left: 35px;
    }
  }
}

.picture {
  grid-area: picture;
  width: 164px;
  height: 215px;
  background-size: 164px 215px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 13px 0 35px;
  justify-self: flex-end;
}

.link {
  grid-area: link;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
}

.title {
  grid-area: title;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  margin: -10px 20px 0 0;
  letter-spacing: -1px;
  justify-self: flex-end;
}

.roundButton {
  margin: 39px 27px 7px 0;
}

.arrowButton {
  display: none;
  grid-area: arrowButton;
}

.buttonText {
  grid-area: buttonText;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  margin-left: -20px;
  color: #C4C4C4;
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    &.reverse {
      & .picture {
        margin: 0 0 0 19px;
      }

      & .roundButton {
        margin: 27px 0 0 14px;
      }

      & .title {
        margin: -7px 0 0 23px;
      }
  
      .buttonText {
        margin-left: 0;
        margin-right: -12px;
      }
    }
  }

  .picture {
    width: 191px;
    height: 255px;
    background-size: 191px 255px;
    margin: 4px 23px 0 -20px;
  }

  .title {
    font-size: 55px;
    line-height: 59px;
    margin: -16px 10px 0 -30px;
    letter-spacing: -0.03em;
  }

  .roundButton {
    width: 60px;
    height: 60px;
    margin: 39px -9px 0 0;
  }

  .buttonText {
    font-size: 17px;
    line-height: 18px;
    margin: 5px -40px 0 -30px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    padding: 35px 0 37px;
    
    &.reverse {
      & .picture {
        margin: 0;
      }

      & .roundButton {
        position: relative;
        left: -15px;
        margin: 0 -50px 0 -50px ;
      }

      & .buttonText {
        position: relative;
        left: -15px;
        bottom: -3px;
        margin: 0;
      }

      & .title {
        justify-self: center;
        margin: 0;
      }

      & .link {
        margin: 0 0 0 -30px;
      }
    }
  }

  .picture {
    width: 168px;
    height: 219px;
    background-size: 168px 219px;
    margin: 0 0 0 -20px;
  }

  .title {
    justify-self: center;
    font-size: 45px;
    line-height: 48px;
    margin: 0;
  }

  .link {
    margin: 5px 15px 0 15px;
  }

  .buttonText {
    position: relative;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
    left: 2px;
    bottom: -5px;
  }

  .roundButton {
    width: 52px;
    height: 52px;
    margin: -10px 0 0 0;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 28px 0 25px;

    &.reverse {
      & .picture {
        margin: 0 0 0 20px;
      }

      & .roundButton {
        top: -2px;
        left: -14px;
      }

      & .buttonText {
        left: -15px;
        bottom: -5px;
        margin: 0;
      }

      & .title {
        justify-self: center;
        margin-top: -45px;
        margin-right: -7px;
      }
    }
  }

  .picture {
    width: 212px;
    height: 276px;
    background-size: 212px 276px;
    margin: 0;
  }

  .title {
    justify-self: center;
    font-size: 62px;
    line-height: 62px;
    margin-top: -10px;
  }

  .buttonText {
    font-size: 18px;
    line-height: 18px;
    left: 7px;
    bottom: -8px;
  }

  .roundButton {
    position: relative;
    width: 69px;
    height: 69px;
    top: 1px;
    left: 8px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    padding: 8px 0 40px;

    &.reverse {
      & .picture {
        margin: 0 0 0 -40px;
      }

      & .roundButton {
        top: -12px;
        left: -68px;
      }

      & .buttonText {
        left: -69px;
        bottom: 5px;
        margin: 0;
      }

      & .title {
        justify-self: center;
        margin-top: -5px;
        margin-right: 0;
        margin: -5px -10px 0 -68px;
      }
    }
  }

  .picture {
    width: 231px;
    height: 300px;
    background-size: 231px 300px;
    margin: 0 15px 0 0;
  }

  .title {
    justify-self: center;
    font-size: 74px;
    line-height: 80px;
    margin-top: -5px;
    margin-left: -20px;
  }

  .buttonText {
    font-size: 18px;
    line-height: 18px;
    left: -4px;
    bottom: 3px;
  }

  .roundButton {
    position: relative;
    width: 69px;
    height: 69px;
    top: -10px;
    left: -3px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    position: relative;
    padding: 60px 0 76px 0;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:  "picture title"
                          "picture link";

    &.reverse {
      grid-template-areas:  "title picture"
                            "link picture";

      & .link {
        justify-self: center;
        top: 13px;
        left: 48px;

        & svg {
          opacity: 1;
        }

        & span {
          opacity: 1;
          left: 0;
        }
      }

      & .picture {
        justify-self: flex-end;
        position: relative;
        left: -10px;
      }

      & .title {
        justify-self: flex-end;
        margin-top: 5px;
        margin-right: -18px;
      }

      &::before {
        display: none;
      }
    }
  }

  .roundButton {
    display: none;
  }

  .arrowButton {
    display: block;
    margin-right: 12px;
  }

  .link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    opacity: 0;
    align-self: flex-start;
    position: relative;
    top: 5px;
    left: -53px;

    & svg {
      opacity: 1;
      position: relative;
      top: -3px;
    }

    & span {
      opacity: 1;
      left: 0;
    }
  }

  .buttonText {
    font-size: 31px;
    line-height: 31px;
  }

  .picture {
    opacity: .25;
    width: 226px;
    height: 295px;
    background-size: 226px 295px;
    transition: 1s ease-out;
    justify-self: flex-start;
    position: relative;
    left: 10px;
  }

  .title {
    font-size: 70px;
    line-height: 76px;
    margin-top: 15px;
    margin-left: -180px;
    color: #EFEFEF;
    transition: 1s ease-out;
    align-self: flex-end;
    opacity: 0;
    transform: translateY(40px);
  }

  .root {
    &.reverse {
      & .title {
        opacity: 0;
        transform: translateY(-40px);
      }
    }
  }

  .titleShown .title {
    transform: translate(0);
    opacity: 1;
    transition: 1s ease-out;

  }

  .titleShown {
    &.reverse {
      & .title {
        opacity: 1;
        transform: translateY(0);
        transition: 1s ease-out;
      }
    }
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    padding: 60px 0 71px 0;

    &.reverse {    
      & .link {
        top: -3px;
        left: -15px;
      } 

      & .picture {
        margin: 15px 30px 0 0px;
        left: 5px;
      }

      & .title {
        margin: 25px -60px 0 0;
      }
    }
  }

  .arrowButton {
    margin-right: 12px;
  }

  .link {
    top: -11px;
    left: 6px;

    & svg {
      opacity: 1;
      position: relative;
      top: -3px;
    }

    & span {
      opacity: 1;
      left: 0;
    }
  }

  .picture {
    width: 215px;
    height: 285px;
    background-size: 215px 285px;
    margin: 0 -15px -15px 30px;
    left: 0;
  }

  .title {
    font-size: 80px;
    line-height: 86px;
    margin-top: 35px;
    margin-left: -87px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 60px 0 53px 0;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:  "picture title"
                          "picture link";

    &.reverse {
      grid-template-areas:  "title picture"
                            "link picture";

      & .link {
        justify-self: center;
        opacity: 0;
        top: -30px;
        left: -34px;

        & svg {
          opacity: 1;
          left: 0;
        }

        & span {
          opacity: 1;
          left: 0;
        }
      }

      & .title {
        top: -12px;
        left: 4px;
      }

      & .picture {
        left: 31px;
        justify-self: flex-end;
      }
    }
  }

  .roundButton {
    display: none;
  }

  .arrowButton {
    display: block;
    margin-right: 12px;
  }

  .link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    opacity: 0;
    position: relative;
    left: 81px;
    top: -39px;
    transition: 1s ease-out;
    align-self: flex-start;

    & svg {
      opacity: 1;
      position: relative;
      top: -3px;
      left: -90px;
    }

    & span {
      opacity: 1;
    }
  }

  .buttonText {
    font-size: 31px;
    line-height: 31px;
  }

  .picture {
    opacity: .25;
    width: 233px;
    height: 303px;
    background-size: 233px 303px;
    transition: all .5s;
    justify-self: flex-start;
    position: relative;
    top: -11px;
    left: -30px;
  }

  .title {
    font-size: 100px;
    line-height: 100px;
    color: #EFEFEF;
    transition: 1s ease-out;
    align-self: flex-end;
    position: relative;
    top: -15px;
    left: -12px;
  }
}
