@import '../../styles/style';

.root {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:  "picture link"
                        "title link";

  &.reverse {
    grid-template-areas:  "link picture"
                          "link title";
  }
}

.picture {
  grid-area: picture;
  width: 164px;
  height: 215px;
  background-size: 164px 215px;
  background-position: center;
  background-repeat: no-repeat;

}

.link {
  grid-area: link;
}

.title {
  grid-area: title;
}

@media (min-width: $width-tablet-md) {
  .root {

    }
}
