@import '../../styles/style';

@mixin pseudo {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  left: -27px;
  top: 0;
}

.root {
  //padding-top: 1.9rem;
  //min-height: 21.1rem;
  //max-width: 100%;
  display: flex;
  flex-direction: column;
  //align-items: flex-start;
  //justify-content: flex-start;
  margin: 41px 0 0 0;
  padding: 0 0 0 24.5px;
}

.logo {
  //margin: 50px 0 0 0;
  height: 16px;
  //max-width: 100%;
  width: 180px;
  background-size: auto 16px;
  background-position: left;
  background-repeat: no-repeat;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0 0 0 24px;
}

.item {
  font-size: 12px;
  line-height: 12px;
  padding: 4.7px 15px 2px;
  border-radius: 10px;
  background: #f6f6f6;
  position: relative;

  &:not(:last-child) {
    margin: 0 0 7px 0;
  }

  &:nth-child(1) {
    &:before {
      @include pseudo;
      background-image: url("../../img/s_metro_icon.svg");
    }
  }
  &:nth-child(2) {
    &:before {
      @include pseudo;
      background-image: url("../../img/s_clock_icon.svg");
    }
  }
  &:nth-child(3) {
    &:before {
      @include pseudo;
      background-image: url("../../img/s_calendar_icon.svg");
    }
  }
  &:nth-child(4) {
    &:before {
      @include pseudo;
      background-image: url("../../img/s_m2_icon.svg");
      left: -25px;
    }
  }
}

//
//.title, .list {
//  padding-left: 3.1rem;
//  height: auto;
//}
//
//.list {
//  margin: 0;
//}
//
//.title {
//  font-size: 1.6rem;
//  line-height: 1.8rem;
//  font-weight: bold;
//  margin-bottom: 1.6rem;
//}
//
//.item {
//  font-size: 1.3rem;
//  line-height: 1.4rem;
//  position: relative;
//  font-weight: 300;
//  margin-left: -2px;
//
//  &:not(:last-child) {
//    margin-bottom: 1.1rem;
//  }
//
//  //&:before {
//  //  content: '';
//  //  width: .4rem;
//  //  height: .4rem;
//  //  border-radius: 50%;
//  //  position: absolute;
//  //  left: 1.6rem;
//  //  top: .5rem;
//  //  background-color: $color-card-decoration;
//  //}
//}
//
//@media (min-width: $width-notebook) {
//  .root {
//    padding-top: 2.7rem;
//  }
//
//  .title, .list {
//    padding-left: 2.3rem;
//    height: auto;
//  }
//
//  .item {
//    font-size: 1.4rem;
//    line-height: 1.5rem;
//    margin-left: 0;
//  }
//
//  .list {
//    //padding-left: 1.8rem !important;
//  }
//}