.root {
  height: 100%;
  width: 242px;
  min-height: 134px;
}

.data {

}

.card_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 2;
  text-align: center;
}

.card_wrapper img {
  position: absolute;
  margin-top: -20px;
  border-radius: 8px;
  top: 20px;
  z-index: 10;
  max-height: 134px;
}

.card_wrapper a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  min-height: 152px;
  border: none;
  padding: 0;
  padding-bottom: 4px;
  width: 100%;
  z-index: 0;
  border-radius: 8px;
  top: 23px;
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  color: #070707;
  background-color: #EFEFEF;
  cursor: pointer;
}

.description_wrapper {
  display: block;
  font-size: 12px;
  line-height: 13px;
  font-weight: 400;
  margin: 0;
  margin-top: 180px;
  letter-spacing: 0;
  padding: 4px 0 5px 8px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  text-align: left;
  color: #2B2C2C;
}