@import '../../styles/style';


.root {
}

.sliderWrapper {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ะก_Slider {
  background-color: white;
  padding: 4px 0 36px 0;
  //overflow: hidden;
}

@media (min-width: $width-mobile-pre-md) {
  .ะก_Slider {
    padding: 12px 0 36px 0;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 1250px;
    margin: 6px 0 59px 0;
    padding: 0 30px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    max-width: 1250px;
    margin: 60px 0 45px 0;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    max-width: 1364px;
  }
}