@import '../../styles/style';

.root {
  display: flex;
  justify-content: center;
  margin-top: 33px;


  span {
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 300;
    width: $width-mobile-sm;
    padding: 0 2.8rem 1.78rem 4.0rem;
  }
}

@media (min-width: $width-notebook) {
  .root {
    span {
      padding: 0 0 0 26px;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
      width: 460px;
    }
  }

}