@import '../../styles/style';

.root {
  background-color: $color-dark-primary-alfa80;
  padding: 5.3px 20.6px 5.2px 17.7px;
  color: $color-white;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  transform: rotateZ(-7deg);
  border-radius: 22.35px;
}

.top {
  font-size: 19px;
  line-height: 21px;
  font-weight: 800;
}

.btm {
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
}

@media (min-width: $width-notebook) {
  .root {
    background-color: $color-dark-primary-alfa80;
    padding: 9px 26.8px 8.3px 32px;
    border-radius: 40.26px;
    max-height: 80.53px;
  }

  .top {
    font-size: 37px;
    line-height: 40px;
  }

  .btm {
    font-size: 25px;
    line-height: 27px;
  }
}