@import '../../styles/style';

.root {
  padding-top: 1.9rem;
  min-height: 21.1rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.title, .list {
  padding-left: 3.1rem;
  height: auto;
}

.list {
  margin: 0;
}

.title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.item {
  font-size: 1.3rem;
  line-height: 1.4rem;
  position: relative;
  font-weight: 300;
  margin-left: -2px;

  &:not(:last-child) {
    margin-bottom: 1.1rem;
  }

  //&:before {
  //  content: '';
  //  width: .4rem;
  //  height: .4rem;
  //  border-radius: 50%;
  //  position: absolute;
  //  left: 1.6rem;
  //  top: .5rem;
  //  background-color: $color-card-decoration;
  //}
}

@media (min-width: $width-notebook) {
  .root {
    padding-top: 2.7rem;
  }

  .title, .list {
    padding-left: 2.3rem;
    height: auto;
  }

  .item {
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-left: 0;
  }

  .list {
    //padding-left: 1.8rem !important;
  }
}