.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 31px;  
}

.root p {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  text-align: center;
  color: #343636;
  text-transform: uppercase;
}

.root a {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 0px;
  margin-top: 6px;
  padding: 4px 16px 5px 15px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.1px;
  color: #343636;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  cursor: pointer;
}

.root svg {
  margin-right: 6px;
}