@import '../../styles/style';

.root {
  margin-top: 35px;
  padding-left: 6px;
}

.root .telegram_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.root p {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  color: $color-dark-primary;
  text-transform: uppercase;
}

.root a {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 0px;
  margin-top: 7px;
  padding: 4px 16px 4px 13px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.1px;
  color: $color-dark-primary;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    color: #808080;
  }
}

.root svg {
  width: 22px;
  height: 22px;
  margin-right: 6px;
}

.root .qr_code {
  display: none;
}

@media (min-width: $width-tablet-sm) {
  .root {
    margin-top: 50px;
    padding-left: 40px;
    display: flex;
  }

  .root .telegram_wrapper {
    margin-left: 23px;
    margin-top: 22px;
  }

  .root p {
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    width: 250px;
  }

  .root svg {
    width: 24px;
    height: 24px;
    margin-right: 9px;
  }

  .root a {
    font-size: 13px;
    line-height: 14px;
    margin-right: auto;
    margin-top: 6px;
    padding-left: 0;
    border: none;
  }

  .root .qr_code {
    display: block;
    width: 106px;
    height: 144px;
    background-image: url('../../img/qr.png');
    background-size: 106px 144px;
    border-radius: 0;
    cursor: pointer;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 44px;
    padding-left: 80px;
  }
}


@media (min-width: $width-desktop-sm) {
  .root {
    margin-top: 60px;
    margin-right: 10px;
    display: flex;
    padding-left: 68px;
  }

  .root .telegram_wrapper {
    margin-left: 31px;
    margin-top: 27px;
  }

  .root p {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    width: 370px;
  }

  .root svg {
    width: 35px;
    height: 35px;
    margin-right: 9px;
  }

  .root a {
    margin-right: auto;
    margin-top: 11px;
    padding-left: 0;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.7px;
    border: none;
  }

  .root .qr_code {
    width: 150px;
    height: 204px;
    padding-right: 0;
    background-size: 150px 204px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding-left: 20px;
  }
}