@import '../../styles/style';

.root {
  transform: translate(0, -50%);
}

.image {
  z-index: 10;
  cursor: pointer;
}

.SecondaryCard {
  position: absolute;
  top: -75px;
  left: 5rem;
  height: auto;

  &.cardTwr {
    left: unset;
    right: 1rem;
  }

  &.cardSav {

  }

  &.cardKur {

  }
}

