@import '../../styles/style';

$widthCard_tab: 352px;
$widthCard_desk: 439px;
$widthCard_desk_map: 348px;

$heightCard_tab: 339px;
$heightCard_desk: 423px;
$heightCard_desk_map: 405px;

$boxShadow_map: 0 3px 6px rgba(0, 0, 0, 0.16);

$borderRadius_tab: 15px;
$borderRadius_desk: 11px;

$border_mob: 1px solid #d9d9d9;

$paddingCard_tab_desk: 0;

$widthPic_tab: 352px;
$widthPic_desk: 439px;
$widthPic_desk_map: 324px;

$heightPic_tab: 201px;
$heightPic_tabSm: 210px;
$heightPic_desk: 262px;
$heightPic_desk_map: 193px;

$heightLogo_tab: 22px;
$heightLogo_desk: 24px;
$heightLogo_desk_map: 22px;

$listTemplateColumns_tab_desk: repeat(2, auto);

$listTemplateColumnsGap_tab_desk: 30px;

$listTemplateRows_tab_desk: repeat(3, auto);

$listTemplateAreas_threeRows: "cardInfoEl1 cardInfoEl2" "cardInfoEl3 cardInfoEl3" "cardInfoEl4 cardInfoEl4";

$faceBtm: -22px;
$pos: -12px;

@mixin card($widthCard: 242px,
  $heightCard: 322px,
  $boxShadow: none,
  $borderRadius: 8px,
  $border: none,
  $paddingCard: 9px 0 0 0,
  $widthPic: 224px,
  $heightPic: 130px,
  $heightLogo: 16px,
  $listTemplateColumns: 1fr,
  $listTemplateColumnsGap: none,
  $listTemplateRows: repeat(4, auto),
  $listTemplateAreas: "cardInfoEl1" "cardInfoEl2" "cardInfoEl3" "cardInfoEl4",
) {

    width: $widthCard;
    height: $heightCard;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    border: $border;
    padding: $paddingCard;

    & div[class*='pic'] {
      width: $widthPic;
      height: $heightPic;
      background-size: $widthPic $heightPic;
    }

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'],
    & button[class*='mainCardBtn'],
    & button[class*='CardBtn'] {
      width: $widthPic;
      border-radius: $borderRadius;
    }

    & div[class*='logo'] {
      height: $heightLogo;
      background-size: auto $heightLogo;
    }

    & ul[class*='list'] {
      display: grid;
      grid-template-columns: $listTemplateColumns;
      grid-template-rows: $listTemplateRows;
      grid-template-areas: $listTemplateAreas;
      grid-column-gap: $listTemplateColumnsGap;

      & li {
        justify-self: flex-start;
      }
    }

}

@mixin mob_card {
  @include card($border: $border_mob);
}

@mixin tab_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_tab,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_tab,
    $heightLogo: $heightLogo_tab,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin tabSm_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_tab,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_tabSm,
    $heightLogo: $heightLogo_tab,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin mob_tab_map_card {
  @include card($boxShadow: $boxShadow_map);
}

@mixin desk_card {
  @include card($widthCard: $widthCard_desk,
    $heightCard: $heightCard_desk,
    $borderRadius: $borderRadius_desk,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_desk,
    $heightPic: $heightPic_desk,
    $heightLogo: $heightLogo_desk,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin desk_map_card {
  @include card($widthCard: $widthCard_desk_map,
    $heightCard: $heightCard_desk_map,
    $borderRadius: $borderRadius_desk,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_desk_map,
    $heightPic: $heightPic_desk_map,
    $heightLogo: $heightLogo_desk_map,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

.root {
  background-color: $color-card-bg;
  display: flex;
  position: relative;

  @include mob_card;

  &.map_mod {
    @include mob_tab_map_card;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.decor {
  display: none;
}

.С_CardFace {
}

.CardBtn {
  position: absolute;
  bottom: $faceBtm;
  height: 100px !important;
}

.CloseBtn {
  position: absolute !important;
  top: $pos;
  right: $pos;
  z-index: 15;
}

.С_CardInfo {
  align-self: flex-start;
}

@media (min-width: $width-tablet-sm) {
  .root{
    @include tabSm_card;
  }
}

@media (min-width: $width-tablet-md) {
  .root{
    @include tab_card;
  }
}

@media (min-width: $width-desktop-lg) {
  .С_CardFace {
    position: relative;
    bottom: calc(#{$faceBtm} + 10px);
    transition: bottom .5s ease-out;
  }

  .faceWrap {
    &:hover {
      & .С_CardFace {
        bottom: calc(#{$faceBtm} + 40px);
      }
    }
  }

  .root {
    @include desk_card;

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'],
    & button[class*='mainCardBtn'],
    & button[class*='CardBtn'] {
     padding-bottom: 12px;
      font-size: 18px;
      line-height: 18px;
    }

    &.map_mod {

      & a[class*='mainCardBtn'],
      & a[class*='CardBtn'],
      & button[class*='mainCardBtn'],
      & button[class*='CardBtn'] {
        padding-bottom: 4px;
        font-size: 12px;
        line-height: 13px;
      }

      @include desk_map_card;
      padding-top: 22px;

      & .С_CardFace {
        bottom: unset !important;
      }
    }
  }
}
