@import '../../styles/style';

.root {
  background-color: $color-card-bg;
  display: flex;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.decor {
  display: none;
}

.CardBtn {
}

.CloseBtn {
  position: absolute !important;
  top: -18px;
  right: -18px;
  z-index: 15;
}

@media (min-width: $width-notebook) {
  .root {
    margin-right: 48px;
    margin-bottom: 33px;
  }

  .wrapper {
    padding-bottom: 3.3rem;
  }

  .decor {
    display: block;
    width: .9rem;
  }

  .CardBtn {
    margin-left: 1.7rem;
  }
}