@import '../../styles/style';

.root {
  background-color: $color-card-bg;
  display: flex;
  position: relative;
  width: 242px;
  height: 322px;
  border-radius: 8px;
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #d9d9d9;
  padding: 9px 0 0 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.decor {
  display: none;
}

.CardBtn {
  //width: 100%;
  position: absolute;
  bottom: -22px;
}

.CloseBtn {
  position: absolute !important;
  top: -18px;
  right: -18px;
  z-index: 15;
}

.ะก_CardInfo {
  align-self: flex-start;
}

@media (min-width: $width-notebook) {
  .root {
    margin-right: 48px;
    margin-bottom: 33px;
  }

  .wrapper {
    padding-bottom: 3.3rem;
  }

  .decor {
    display: block;
    width: .9rem;
  }

  .CardBtn {
    margin-left: 1.7rem;
  }
}