@import '../../styles/style';
$widthCard_tabSm_map: 242px;
$widthCard_tab: 352px;
$widthCard_tab_map: 271px;
$widthCard_deskMd: 400px;
$widthCard_desk: 439px;
$widthCard_desk_map: 348px;

$heightCard_tabSm_map: 332px;
$heightCard_tab: 339px;
$heightCard_desk: 423px;
$heightCard_desk_map: 405px;

$boxShadow_map: 0 3px 6px rgba(0, 0, 0, 0.16);

$borderRadius_tab: 15px;
$borderRadius_tab: 15px;
$borderRadius_desk: 15px;
$borderRadius_desk_map: 10px;

$border_mob: 1px solid #d9d9d9;

$paddingCard_tab_desk: 0;

$widthPic_tabSm_map: 224px;
$widthPic_tab: 352px;
$widthPic_deskMd: 400px;
$widthPic_desk: 439px;
$widthPic_desk_map: 324px;

$heightPic_tab: 201px;
$heightPic_tabSm: 210px;
$heightPic_tabSm_map: 152px;
$heightPic_deskSm: 208px;
$heightPic_desk: 262px;
$heightPic_deskMd: 237px;
$heightPic_desk_map: 193px;

$heightLogo_tabSm_map: 16px;
$heightLogo_tab: 22px;
$heightLogo_deskSm: 27px;
$heightLogo_desk: 24px;
$heightLogo_desk_map: 23px;

$listTemplateRows_tabSm_map: repeat(4, auto);
$listTemplateColumns_tab_desk: repeat(2, auto);

$listTemplateColumnsGap_tabSm_map: none;
$listTemplateColumnsGap_tabMd_map: none;
$listTemplateColumnsGap_tab_desk: 30px;

$listTemplateColumns_tabSm_map: 1fr;
$listTemplateRows_tab_desk: repeat(3, auto);

$listTemplateAreas_tabSm_map: "cardInfoEl1" "cardInfoEl2" "cardInfoEl3" "cardInfoEl4";
$listTemplateAreas_threeRows: "cardInfoEl1 cardInfoEl2" "cardInfoEl3 cardInfoEl3" "cardInfoEl4 cardInfoEl4";

$faceBtm: -22px;
$faceBtmTabletSm: -21px;
$pos: -12px;

@mixin card($widthCard: 242px,
  $heightCard: 322px,
  $boxShadow: none,
  $borderRadius: 8px,
  $border: none,
  $paddingCard: 9px 0 0 0,
  $widthPic: 224px,
  $heightPic: 130px,
  $heightLogo: 16px,
  $listTemplateColumns: 1fr,
  $listTemplateColumnsGap: none,
  $listTemplateRows: repeat(4, auto),
  $listTemplateAreas: "cardInfoEl1" "cardInfoEl2" "cardInfoEl3" "cardInfoEl4",
) {

    width: $widthCard;
    height: $heightCard;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    border: $border;
    padding: $paddingCard;

    & div[class*='pic'] {
      width: $widthPic;
      height: $heightPic;
      background-size: $widthPic $heightPic;
    }

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'],
    & button[class*='mainCardBtn'],
    & button[class*='CardBtn'] {
      width: $widthPic;
      border-radius: $borderRadius;
    }

    & div[class*='logo'] {
      height: $heightLogo;
      background-size: auto $heightLogo;
    }

    & ul[class*='list'] {
      display: grid;
      grid-template-columns: $listTemplateColumns;
      grid-template-rows: $listTemplateRows;
      grid-template-areas: $listTemplateAreas;
      grid-column-gap: $listTemplateColumnsGap;

      & li {
        justify-self: flex-start;
      }
    }

}

@mixin mob_card {
  @include card($border: $border_mob);
}

@mixin tab_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_tab,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_tab,
    $heightLogo: $heightLogo_tab,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin tabSm_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_tab,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_tabSm,
    $heightLogo: $heightLogo_tab,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin tabMd_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_tab,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_tab,
    $heightLogo: $heightLogo_tab,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tabSm_map,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin tabSm_map_card {
  @include card($paddingCard: 9px 10px 0 10px);
}

@mixin tabMd_map_card {
  @include card();
}

@mixin notebook_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_tab,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_tabSm,
    $heightLogo: $heightLogo_tab,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin mob_tab_map_card {
  @include card($boxShadow: $boxShadow_map);
}

@mixin deskSm_card {
  @include card($widthCard: $widthCard_tab,
    $heightCard: $heightCard_desk_map,
    $borderRadius: $borderRadius_tab,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_tab,
    $heightPic: $heightPic_deskSm,
    $heightLogo: $heightLogo_deskSm,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin deskMd_card {
  @include card($widthCard: $widthCard_desk,
    $heightCard: $heightCard_desk,
    $borderRadius: $borderRadius_desk,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_deskMd,
    $heightPic: $heightPic_deskMd,
    $heightLogo: $heightLogo_deskSm,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin desk_card {
  @include card($widthCard: $widthCard_desk,
    $heightCard: $heightCard_desk,
    $borderRadius: $borderRadius_desk,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_desk,
    $heightPic: $heightPic_desk,
    $heightLogo: $heightLogo_deskSm,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

@mixin desk_map_card {
  @include card($widthCard: $widthCard_desk_map,
    $heightCard: $heightCard_desk_map,
    $borderRadius: $borderRadius_desk_map,
    $paddingCard: $paddingCard_tab_desk,
    $widthPic: $widthPic_desk_map,
    $heightPic: $heightPic_desk_map,
    $heightLogo: $heightLogo_desk_map,
    $listTemplateColumns: $listTemplateColumns_tab_desk,
    $listTemplateColumnsGap: $listTemplateColumnsGap_tab_desk,
    $listTemplateRows: $listTemplateRows_tab_desk,
    $listTemplateAreas: $listTemplateAreas_threeRows,
  );
}

.root {
  background-color: $color-card-bg;
  display: flex;
  position: relative;

  @include mob_card;

  &.map_mod {
    @include mob_tab_map_card;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.closeAllBtn {
  display: none;
  content: '';
  position: absolute;
  top: -10px;
  height: 30px;
  padding: 6px 0 10px 0;
  box-sizing: border-box;
  right: 23px;
  font-size: 14px;
  line-height: 15px;
  border-radius: 15px;
  font-family: 'Codec Cold', Arial, sans-serif;
  border: none;
  width: 132px;
  background-color: #F6F6F6;
  color: #969696;
  cursor: pointer;
}

.closeAllBtnShown {
  display: block;
}

.faceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.decor {
  display: none;
}

.С_CardFace {
}

.CardBtn {
  position: absolute;
  bottom: $faceBtmTabletSm;
  height: 100px !important;
}

.CloseBtn {
  position: absolute !important;
  top: $pos;
  right: $pos;
  z-index: 15;
}

.С_CardInfo {
  align-self: flex-start;
}

@media (min-width: $width-tablet-sm) {
  .root{
    @include tabSm_card;

    &.map_mod {
      @include tabSm_map_card;
    }
  }

  .С_CardFace div {
    border-radius: 15px;
  }

  .CardBtn {
    bottom: -21px;
  }
}

@media (min-width: $width-tablet-md) {
  .root{
    @include tabMd_card;

    &.map_mod {
      @include tabMd_map_card;
    }
  }
  
  .CardBtn {
    bottom: -17px;
  }
}

@media (min-width: $width-notebook) {
  .root{
    @include tabSm_card;
  }

  .CardBtn {
    bottom: -19px;
  }
}

@media (min-width: $width-desktop-sm) {
  .С_CardFace {
    position: relative;
    bottom: calc(#{$faceBtm} + 10px);
    transition: bottom .5s ease-out;
  }
  
  .faceWrap {
    &:hover {
      cursor: pointer;
      & .С_CardFace {
        bottom: calc(20px);
      }
    }
  }

  .root {
    @include deskSm_card;

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'],
    & button[class*='mainCardBtn'],
    & button[class*='CardBtn'] {
     padding-bottom: 12px;
      font-size: 16px;
      line-height: 18px;
    }

    &.map_mod {
      height: 100% !important;
      min-height: 405px;
      padding-bottom: 20px !important;

      & a[class*='mainCardBtn'],
      & a[class*='CardBtn'],
      & button[class*='mainCardBtn'],
      & button[class*='CardBtn'] {
        padding-bottom: 4px;
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 8px;
        z-index: 0;
        font-family: 'Codec Cold', Arial, sans-serif;
      }

      @include desk_map_card;
      padding-top: 22px;

      & .С_CardFace {
        transition: 0.6s;
        z-index: 1;
        bottom: unset !important;
      }

      .faceWrap {
        &:hover {
          & .С_CardFace {
            transform: translateY(-20px);
            transition: 0.6s;
            z-index: 2;
            
          }
    
          & button[class*='CardBtn'] {
            font-size: 16px;
            line-height: 18px;
            padding-bottom: 8px;
           }
        }
      }
      
      & div[class*='pic'] {
        border-radius: 10px;
      }

      @include desk_map_card;
      padding-top: 22px;

      & .С_CardFace {
        bottom: unset !important;
      }

      & div[class*='logo'] {
        margin-left: 0px;
        background-size: 271px 23px;
      }

      & .С_CardInfo {
        margin-top: 37px;
        padding: 0 0 0 33px !important;
      }

      & ul[class*='list'] {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 18px;
        padding-left: 28px;

        & li:first-child {
          margin-right: 15px;
        }

        & li:nth-child(2) {
          margin: 0 10px 8px 0;
          align-self: flex-start;
          justify-self: flex-start;
          left: 0;
        }

        & li:nth-child(3) {
          margin-right: 55px;
        }
      }
    }
  }

  .CardBtn {
    bottom: -20px;
  }
}

@media (min-width: $width-desktop-md) {
  .С_CardFace {
    position: relative;
    bottom: calc(#{$faceBtm} + 10px);
    transition: bottom .5s ease-out;
  }

  .faceWrap {
    &:hover {
      & .С_CardFace {
        bottom: calc(#{$faceBtm} + 40px);
      }
    }
  }

  .root {
    @include deskMd_card;

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'],
    & button[class*='mainCardBtn'],
    & button[class*='CardBtn'] {
     padding-bottom: 12px;
      font-size: 16px;
      line-height: 18px;
    }

    &.map_mod {

      & a[class*='mainCardBtn'],
      & a[class*='CardBtn'],
      & button[class*='mainCardBtn'],
      & button[class*='CardBtn'] {
        padding-bottom: 4px;
        font-size: 12px;
        line-height: 13px;
      }

      @include desk_map_card;
      padding-top: 22px;

      & .С_CardFace {
        bottom: unset !important;
      }
    }
  }

  .CardBtn {
    bottom: -21px;
  }
}

@media (min-width: $width-desktop-lg) {
  .С_CardFace {
    position: relative;
    bottom: calc(#{$faceBtm} + 10px);
    transition: bottom .5s ease-out;
  }

  .faceWrap {
    &:hover {
      & .С_CardFace {
        bottom: calc(#{$faceBtm} + 40px);
      }
    }
  }

  .root {
    @include desk_card;
    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'],
    & button[class*='mainCardBtn'],
    & button[class*='CardBtn'] {
      padding-bottom: 12px;
      font-size: 18px;
      line-height: 18px;
    }

    &.map_mod {
      height: 459px;
      & a[class*='mainCardBtn'],
      & a[class*='CardBtn'],
      & button[class*='mainCardBtn'],
      & button[class*='CardBtn'] {
        padding-bottom: 4px;
        font-size: 18px;
        line-height: 19px;
        padding-bottom: 8px;
      }

      @include desk_map_card;
      padding-top: 22px;

      & .С_CardFace {
        bottom: unset !important;
      }
      
      .faceWrap {
        &:hover {  
          & button[class*='CardBtn'] {
            font-size: 18px;
            line-height: 19px;
           }
        }
      }
    }
  }
}
