@import '../../styles/style';

$widthCard_mob: 242px;
$widthCard_tab: 352px;
$widthCard_desk: 439px;
$widthCard_desk_map: 348px;

$heightCard_mob: 322px;
$heightCard_tab: 339px;
$heightCard_desk: 423px;
$heightCard_desk_map: 405px;

$boxShadow: none;
$boxShadow_map: 0 3px 6px rgba(0, 0, 0, 0.16);

$borderRadius_mob: 8px;
$borderRadius_tab: 15px;
$borderRadius_desk: 11px;

$border: none;
$border_mob: 1px solid #d9d9d9;

$paddingCard_mob: 9px 0 0 0;
$paddingCard_tab_desk: 0;
//$paddingCard_desk: 0;

$widthPic_mob: 224px;
$widthPic_tab: 352px;
$widthPic_desk: 439px;
$widthPic_desk_map: 324px;

$heightPic_mob: 130px;
$heightPic_tab: 201px;
$heightPic_desk: 262px;
$heightPic_desk_map: 193px;

$heightLogo_mob: 16px;
$heightLogo_tab: 22px;
$heightLogo_desk: 24px;
$heightLogo_desk_map: 22px;

$listTemplateColumns: 0 ;
$listTemplateRows: 0 ;
$listTemplateAreas: 0 ;

@mixin card($widthCard,
$heightCard,
$boxShadow,
$borderRadius,
$border,
$paddingCard,
$widthPic,
$heightPic,
$heightLogo,
$listTemplateColumns,
$listTemplateRows,
$listTemplateAreas,
) {
  .root {
    width: $widthCard;
    height: $heightCard;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    border: $border;
    padding: $paddingCard;

    & div[class*='pic'] {
      width: $widthPic;
      height: $heightPic;
    }

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'] {
      width: $widthPic;
    }

    & div[class*='logo'] {
      height: $heightLogo;
      width: $widthLogo;
      background-size: auto $heightLogo;
    }

    & ul[class*='list'] {
      display: grid;
      grid-template-columns: $listTemplateColumns;
      grid-template-rows: $listTemplateRows;
      grid-template-areas: $listTemplateAreas;
    }
  }
}

.root {
  background-color: $color-card-bg;
  display: flex;
  position: relative;
  width: 242px;
  height: 322px;
  border-radius: 8px;
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #d9d9d9;
  padding: 9px 0 0 0;

  //& div[class*='pic'] {
  //  width: 100px;
  //  height: 100px;
  //}

  //& a[class*='mainCardBtn'],
  //& a[class*='CardBtn'] {
  //  width: 100px;
  //  height: 5px;
  //}

  //& ul[class*='list'] {
  //  display: grid;
  //  grid-template-columns: 1fr;
  //  grid-template-rows: repeat(4, auto);
  //  grid-template-areas: "cardInfoEl1" "cardInfoEl2" "cardInfoEl3" "cardInfoEl4";
  //}
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.decor {
  display: none;
}

.小_CardFace {

}

$faceBtm: -22px;

.CardBtn {
  //width: 100%;
  position: absolute;
  bottom: $faceBtm;
  height: 100px !important;
}

$pos: -12px;

.CloseBtn {
  position: absolute !important;
  top: $pos;
  right: $pos;
  z-index: 15;
}

.小_CardInfo {
  align-self: flex-start;
}

//@include card($widthCard,
//$heightCard,
//$boxShadow,
//$borderRadius,
//$border,
//$paddingCard,
//$widthPic,
//$heightPic,
//$heightLogo,
//$listTemplateColumns,
//$listTemplateRows,
//$listTemplateAreas,
//);

@media (min-width: $width-desktop-lg) {
  .小_CardFace {
    position: relative;
    bottom: calc(#{$faceBtm} + 10px);
    transition: bottom .5s ease-out;
  }

  .faceWrap {
    &:hover {
      & .小_CardFace {
        bottom: calc(#{$faceBtm} + 40px);
      }
    }
  }

}

//
//@media (min-width: $width-notebook) {
//  .root {
//    margin-right: 48px;
//    margin-bottom: 33px;
//  }
//
//  .wrapper {
//    padding-bottom: 3.3rem;
//  }
//
//  .decor {
//    display: block;
//    width: .9rem;
//  }
//
//  .CardBtn {
//    margin-left: 1.7rem;
//  }
//}