@import '../../styles/style';


@mixin card($widthCard,
$heightCard,
$boxShadow,
$borderRadius,
$border,
$paddingCard,
$widthPic,
$heightPic,
$heightMainBtn,
$heightLogo,
$widthLogo,
$listTemplateColumns,
$listTemplateRows,
$listTemplateAreas,
) {
  .root {
    width: $widthCard;
    height: $heightCard;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    border: $border;
    padding: $paddingCard;

    & div[class*='pic'] {
      width: $widthPic;
      height: $heightPic;
    }

    & a[class*='mainCardBtn'],
    & a[class*='CardBtn'] {
      width: $widthPic;
      height: $heightMainBtn;
    }

    & div[class*='logo'] {
      height: $heightLogo;
      width: $widthLogo;
      background-size: auto $heightLogo;
    }

    & ul[class*='list'] {
      display: grid;
      grid-template-columns: $listTemplateColumns;
      grid-template-rows: $listTemplateRows;
      grid-template-areas: $listTemplateAreas;
    }
  }
}

.root {
  background-color: $color-card-bg;
  display: flex;
  position: relative;
  width: 242px;
  height: 322px;
  border-radius: 8px;
  //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #d9d9d9;
  padding: 9px 0 0 0;

  //& div[class*='pic'] {
  //  width: 100px;
  //  height: 100px;
  //}

  //& a[class*='mainCardBtn'],
  //& a[class*='CardBtn'] {
  //  width: 100px;
  //  height: 5px;
  //}

  //& ul[class*='list'] {
  //  display: grid;
  //  grid-template-columns: 1fr;
  //  grid-template-rows: repeat(4, auto);
  //  grid-template-areas: "cardInfoEl1" "cardInfoEl2" "cardInfoEl3" "cardInfoEl4";
  //}
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faceWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.decor {
  display: none;
}

.CardBtn {
  //width: 100%;
  position: absolute;
  bottom: -22px;
}

$pos: -12px;

.CloseBtn {
  position: absolute !important;
  top: $pos;
  right: $pos;
  z-index: 15;
}

.ะก_CardInfo {
  align-self: flex-start;
}

//
//@media (min-width: $width-notebook) {
//  .root {
//    margin-right: 48px;
//    margin-bottom: 33px;
//  }
//
//  .wrapper {
//    padding-bottom: 3.3rem;
//  }
//
//  .decor {
//    display: block;
//    width: .9rem;
//  }
//
//  .CardBtn {
//    margin-left: 1.7rem;
//  }
//}