@import '../../styles/style';

.root {
  width: 100%;
  margin-top: 18px;
  padding: 0 29px 10px 30px;
}

.root img {
  min-width: 260px;
  width: 100%;
  min-height: 176px;
  max-height: 439px;
  border-radius: 8px;
  height: 100%;
}

.image_wrapper {
  display: block;
  position: relative;
  min-height: 176px;
  height: 51.04167vw;
  width: 100%;
  max-height: 439px;
}

.root p {
  padding-right: 15px;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 89px;
    padding: 0 130px 10px 130px;
  }

  .root img {
    width: 100%;
    min-height: 439px;
    border-radius: 15px;
    height: 560px;
  }

  .image_wrapper {
    height: 43.9vw;
    max-height: 560px;
    max-width: 940px;
  }

  .root p {
    max-width: 215px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    margin-top: 152px;
    padding: 0 393px 10px 418px;
  }

  .root img {
    width: 100%;
    min-width: 788px;
    min-height: 561px;
  }

  .image_wrapper {
    min-width: 788px;
  }

  .root p {
    max-width: 225px;
    padding-right: 1px;
    margin-right: 0;
    letter-spacing: -1px;
  }

  .root div:nth-child(2) {
    margin-bottom: 55px;
  }
}