@import '../../styles/style';

.root {
  width: 100%;
  //margin-top: 20px;
  padding: 20px 29px 20px 30px;
  margin-bottom: 0;
}

.root img {
  min-width: 260px;
  width: 100%;
  min-height: 176px;
  max-height: 439px;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}

.image_wrapper {
  display: block;
  position: relative;
  min-height: 176px;
  height: 51.04167vw;
  width: 100%;
  max-height: 439px;
  max-width: 806px;
}

.root p {
  padding-right: 15px;
}

@media (min-width: $width-tablet-md) {
  .root {
    //margin-top: 88px;
    padding: 20px 130px 20px 130px;
  }

  .root img {
    width: 100%;
    min-height: 439px;
    border-radius: 15px;
    height: 560px;
  }

  .image_wrapper {
    height: 43.9vw;
    max-height: 560px;
    max-width: 940px;
  }

  .root p {
    max-width: 215px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    //margin-top: 152px;
    padding: 20px 399px 20px 418px;
    // margin-bottom: 0;
  }

  .root img {
    width: 100%;
    min-width: 788px;
    min-height: 561px;
  }

  .image_wrapper {
    min-width: 788px;
  }

  .root p {
    width: 220px;
    max-width: 225px;
    padding-right: 1px;
    margin-right: 0;
    letter-spacing: -0.4px;
  }

  .root div:nth-child(2) {
    width: 216px;
    margin-left: 99px;
    margin-bottom: 57px;
  }
}