@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrapper {
  margin-bottom: 10px;
}

.signature {
  font-size: 6px;
  line-height: 7px;
  color: $color-gray-nine;
  margin-bottom: 14.8px;
}

.title {
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: $color-dark-primary;
  min-height: 78px;
  margin-bottom: 10px;
}

.reason {
  border-radius: 11px;
  color: $color-white;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
  background-color: $color-dark-primary;
  padding: 4.2px 12px 2.8px;
  margin-bottom: 9px;
}

.extraText {
  display: none;
}

@media (min-width: $width-notebook) {
  .root {
    width: $width-notebook;
    position: relative;
  }

  .imgWrapper {
    margin-bottom: 0;

    & img {
      width: $width-notebook !important;
      height: 542px !important;
    }
  }

  .signature {
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 0 !important;
  }

  .title {
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    //text-align: center;
    //color: $color-dark-primary;
    min-height: unset;
    top: 125px;
    left: 20px;
    text-align: left;
    margin-bottom: unset;
  }

  .reason {
    position: absolute;
    top: 88px;
    left: 20px;

    border-radius: unset;
    color: $color-blue-second;
    font-size: 20px;
    line-height: 20px;
    //font-weight: bold;
    background-color: unset;
    padding: 0;
    margin-bottom: 0;
  }

  .extraText {
    display: block;
    position: absolute;
    bottom: 143px;
    left: 20px;

    font-size: 14px;
    line-height: 15px;
    //text-align: center;
    //color: $color-dark-primary;
    min-height: unset;
    text-align: left;
  }

  .rootMode_1 {
    & .signature {
      bottom: 43px;
      right: 192px;
    }

    & .title {
      //max-width: 418px;
    }
  }

  .rootMode_2 {
    & .signature {
      bottom: 457.5px;
      right: 71.5px;
    }

    & .title {
      //max-width: 300px;
    }
  }

  .rootMode_3 {
    & .signature {
      bottom: 13px;
      right: 25px;
    }

    & .title {

    }
  }

  .rootMode_4 {
    & .signature {
      bottom: 47px;
      right: 75px;
    }

    & .title {

    }
  }

  .rootMode_5 {
    & .signature {
      top: 31px;
      right: 48px;
    }

    & .title {

    }
  }
}