@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 41px;
}

.firstBlock {
  background-color: $color-hero-bg;
  color: $color-hero-text;
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 1.1rem 1rem 1rem;
  text-align: center;
  width: 100%;
}

.secondBlock {
  display: grid;
  grid-template-rows: repeat(2, 8rem);
  grid-template-columns: 1fr 1fr;
  column-gap: 4.2rem;
  padding: .4rem 1rem 0;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.elementContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &:nth-child(1) {
    .icon {
      svg {
        height: 1.8rem;
      }
    }
  }

  &:nth-child(2) {
    .icon {
      svg {
        height: 1.5rem;
      }
    }
  }

  &:nth-child(3) {
    .icon {
      svg {
        height: 2.3rem;
      }
    }
  }

  &:nth-child(4) {
    .icon {
      svg {
        height: 2.7rem;
      }
    }
  }
}

.icon {

}

.textTop {
  font-weight: 800;
  margin-top: 1rem;

}

.textBtm {
  margin-top: .2rem;
}


@media (min-width: $width-notebook) {
  .root {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: $width-notebook;
    min-height: 21.6rem;
    margin-top: 106px;
  }

  .firstBlock {
    font-size: 3rem;
    line-height: 3.2rem;
    padding: 6.3rem 6.3rem 5.7rem;
    text-align: left;
    width: 50.3rem;
  }

  .secondBlock {
    width: 69.7rem;
    background-color: $color-hero-bg-second;
    grid-template-rows: 10.4rem;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    column-gap: unset;
    padding: 5.44rem 6.8rem 5.7rem 5.6rem;
  }

  .elementContainer {
    width: fit-content;
  }

  .icon {
    svg {
      height: unset !important;
    }
  }

  .textTop {
    margin-top: 1.2rem;
    font-size: 1.8rem;
    line-height: 1.9rem;
  }

  .textBtm {
    margin-top: .6rem;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}