@import "style.scss";

html {
  /* 10px */
  //font-size: 62.5%;
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Codec Cold", "Arial", sans-serif;
  color: $color-dark-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  margin: 0 auto;
  max-width: $width-desktop-lg;
  min-width: $width-mobile-sm;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common_top_bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: radial-gradient(#fff 0%, #808080 300%);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.brTablet {
  display: none;
}

.brDesktop {
  display: none;
}

.brMobile {
  display: block;
}

.lds-grid-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(2);
  align-self: center;
  justify-self: center;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #484848;
  animation: lds-grid 3.2s ease-in-out infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.projects-bg {
  background-color: #fff;
}

@media (min-width: $width-tablet-md) {
  .brMobile {
    display: none;
  }

  .brDesktop {
    display: none;
  }

  .brTablet {
    display: block;
  }
}

@media (min-width: $width-desktop-lg) {
  .brMobile {
    display: none;
  }

  .brTablet {
    display: none;
  }

  .brDesktop {
    display: block;
  }
}