@import "style.scss";

html {
  /* 10px */
  //font-size: 62.5%;
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Codec Cold", "Arial", sans-serif;
  color: $color-dark-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  margin: 0 auto;
  max-width: $width-desktop-lg;
  min-width: $width-mobile-sm;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common_top_bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: radial-gradient(#fff 0%, #808080 300%);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.brTablet {
  display: none;
}

.brDesktop {
  display: none;
}

.brMobile {
  display: none;
}

.projects-bg {
  background-color: #fff;
}

@media (min-width: $width-tablet-md) {
  .brMobile {
    display: none;
  }

  .brDesktop {
    display: none;
  }

  .brTablet {
    display: block;
  }
}

@media (min-width: $width-desktop-lg) {
  .brMobile {
    display: none;
  }

  .brTablet {
    display: none;
  }

  .brDesktop {
    display: block;
  }
}

@media (max-width: $width-tablet-sm) {
  .comagic-c-sitephone-label__bubble--solid {
    height: 42px !important;
    width: 42px !important;
  }

  .comagic-c-sitephone-label {
    height: 42px !important;
    width: 42px !important;
  }

  .comagic-c-sitephone-label__icon {
    margin-left: 11px !important;
    margin-top: 13px !important;
    height: 20px !important;
    width: 20px !important;
  }

  .comagic-c-sitephone-label__bubble--empty-outer {
    top: -38px !important;
    left: -38px !important;
  }

  .comagic-c-sitephone-label__bubble--empty-inner {
    top: -38px !important;
    left: -38px !important;
  }

  .comagic-o-rack {
     padding: unset !important;
  }
  .comagic-o-rack--bottom{
    padding-bottom: 75px !important;
  }

  .comagic-c-consultant-label{
    width: 54px !important;
  }

}