$width-desktop-lg: 1920px;
$width-desktop-md: 1600px;
$width-desktop-sm: 1440px;

$width-notebook: 1200px;

$width-tablet-md: 1000px;
$width-tablet-sm: 768px;

$width-mobile-md: 576px;
$width-mobile-pre-md: 360px;
$width-mobile-sm: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;