@import '../../styles/style';

.root {
  margin-top: 5px;
  padding: 3px 3px 0 11px;
  border-left: 8px solid #515dac;
}

.root p {
  box-sizing: border-box;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.1px;
  padding-right: 49px;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 16px;
    padding: 3px 3px 0 11px;
    border-left: 11px solid #515dac;
  }

  .root p {
    font-size: 16px;
    line-height: 19px;
    max-width: 300px;
    padding-right: 40px;
    padding-left: 5px;
    letter-spacing: -0.3px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    border-bottom: 8px solid #515dac;
    border-left: none;
    align-self: end;
    width: 100%;
    margin-left: 100px;
    padding: 0;
    margin-bottom: 50px;
  }

  .root p {
    padding-right: 0;
  }
}