.root {
  margin-top: 5px;
  padding: 3px 3px 0 11px;
  border-left: 8px solid #515dac;
}

.root p {
  box-sizing: border-box;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.1px;
  padding-right: 49px;
}