@import '../../styles/style';

.root {
  width: 100%;
  display: flex;
  padding: 20px 21px 5px 30px;
}

.root ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-height: 25px;
  overflow: scroll;
  align-self: center;
}

.root li {
  margin-bottom: 5px;
  margin-left: 6px;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 20px 62px 5px 52px;
    margin-top: 20px;
  }

  .root ul {
    max-height: 45px;
    align-items: center;
    justify-content: flex-start;
  }

  .root li {
    margin-left: 7px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 20px 508px 5px 306px;
  }
}