.root {
  width: 100%;
  display: flex;
  padding: 19px 19px 5px 30px;
}

.root ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.root li {
  margin-bottom: 5px;
  margin-right: 4px;
}