@import '../../styles/style';

$width: 14px;

.root {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border-width: 0;
  z-index: 5;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: $color-close-btn-line-light;
    top: 50%;
    width: $width;
    left: calc(50% - #{$width/2});
    z-index: 2;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}

.dark {
  background-color: #F6F6F6;

  &:before,
  &:after {
    background-color: #969696;
  }

  &:hover {
    background-color: $color-close-btn-line-light;
  }
}

.light {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);

  &:before,
  &:after {
    background-color: #969696;
  }
}

.transparent {
  background-color: transparent;

  &:before,
  &:after {
    background-color: $color-close-btn-line-dark;
  }
}

.Allclose {
  opacity: 0;
  content: '';
  position: absolute;
  top: -10px;
  height: 30px;
  padding: 6px 0 10px 0;
  box-sizing: border-box;
  right: 23px;
  font-size: 14px;
  line-height: 15px;
  border-radius: 15px;
  font-family: 'Codec Cold', Arial, sans-serif;
  border: none;
  width: 132px;
  background-color: #F6F6F6;
  color: #969696;
  cursor: pointer;
  transition: 0.5s ease-out;
  margin-right: 20px;

  &:hover {
    background-color: #ffffff;
  }
}

.btnWrapper {
  position: absolute;
  top: 0px;
  right: 0;
  width: 200px;
  height: 50px;
}

.btnWrapper .CloseBtn {
  top: 0;
}

.btnWrapper:hover {
  & .Allclose {
    opacity: 1;
  }
}

