@import '../../styles/style';

$width: 14px;

.root {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  border-width: 0;
  z-index: 5;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: $color-close-btn-line-light;
    top: 50%;
    width: $width;
    left: calc(50% - #{$width/2});
    z-index: 2;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}

.dark {
  background-color: $color-close-btn-dark;
}

.light {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);

  &:before,
  &:after {
    background-color: #969696;
  }
}

.transparent {
  background-color: transparent;

  &:before,
  &:after {
    background-color: $color-close-btn-line-dark;
  }
}
