@import '../../styles/style';

.root {
  z-index: 10;
  cursor: pointer;
  //transform: translate(0, -50%);
  //background-color: gray;
  background-size: auto 42px;
  background-repeat: no-repeat;
  background-position: left;
  width: 361px;
  height: 42px;
  font-family: 'Codec Cold', Arial, sans-serif;
  //font-family: "Codec Cold";
  
  font-weight: bold;
  font-size: 27px;
  line-height: 29px;
  text-align: left;
  color: #2b2c2c;
  padding: 8px 0 0 12.5px;
  transition: 0.5s ease-out;

  &:hover {
    transform: scale(1.05);
    //box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.84);
    transition: 0.5s ease-out;
  }
}