@import '../../styles/style';

.root {
  z-index: 10;
  cursor: pointer;
  //transform: translate(0, -50%);
  //background-color: gray;
  background-size: auto 40px;
  background-repeat: no-repeat;
  background-position: left;
  width: 361px;
  height: 41px;

  //font-family: "Codec Cold";
  font-weight: bold;
  font-size: 27px;
  line-height: 27px;
  text-align: left;
  color: #2b2c2c;
  padding: 10px 0 0 10px;
}