@import '../../styles/style';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72.1px 0 35.7px;
  position: relative;
}

.mainTitle {
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center;
  color: $color-dark-primary;
}

.slider {
}

.investmentsId {
  position: absolute;
  top: -15px;
}

@media (min-width: $width-notebook) {
  .mainTitle {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 0;
    font-weight: 300;
  }

  .investmentsId {
    top: -45px;
  }

  .slider {
    //width: 1200px;
    display: block;
    width: $width-notebook;
    position: relative;

    & > div {
      width: $width-notebook;

      & div[class="swiper-wrapper"] {
        width: $width-notebook !important;

        div[class*="swiper-slide"] {
          width: $width-notebook !important;
        }
      }
    }

    & div[class*="swiper-button-prev"],
    & div[class*="swiper-button-next"] {
      opacity: 1;
      display: block;
      width: 52.5px;
      height: 48px;
      background-color: $color-gray-eight !important;

      &:after,
      &:before {
        content: none;
      }
    }

    & div[class*="swiper-button-prev"],
    & div[class*="swiper-button-next"] {
      background-image: url("../../img/shevron_left.svg");
      background-repeat: no-repeat;
      background-size: 8px 14px;
      background-position: center;

      top: unset;
      bottom: 273px;
    }

    & div[class*="swiper-button-prev"] {
      left: 20px;
    }

    & div[class*="swiper-button-next"] {
      transform: rotate(180deg);
      left: 71px;
    }
  }
}