@import '../../styles/style';

.root {
  width: 100%;
  padding: 0 30px 10px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0 130px 10px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    padding: 0 425px 10px 418px;
  }
}