@import '../../styles/style';

.root {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.swiper {
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  padding-bottom: 3.5rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizonta"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      width: 4px !important;
      height: 4px !important;
      border: 3px solid #707070 !important;
      background: transparent !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 6px !important;
      height: 6px !important;
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperSlide {
  // width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 242px !important;
  // background-color: #2b2c2c;
}

.numbersWrapper {

}

.regular {

}

.swiper_button_next,
.swiper_button_prev,
.swiper_button_prev .swiper-button-disabled,
.swiper_button_next .swiper-button-disabled {
  display: none;
}

@media (min-width: $width-mobile-pre-md) {
  .swiper {
    padding-bottom: 2.8rem;
  }  
}

@media (min-width: $width-tablet-sm) {
  .root {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper {
    min-width: 295px;
    width: 100%;
    height: 100%;
  }

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 58px) !important;
    left: -35px !important;
    display: flex;
    flex-direction: column;
  }

  @mixin pinParams{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 9px;
  }

  .regular {
    @include pinParams;
    background-color: rgba(0, 0, 0, 0.17);

    &__selected {
      @include pinParams;
      background-color: rgb(0, 0, 0);
    }
  }

  @mixin swiperButton {
    position: absolute;
    display: block;
    min-width: 46px;
    width: 46px;
    height: 46px;
    margin: auto 0;
    right: calc( 5% - 97px );
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    background-size: 46px 46px;
    background-position: center center;
    background-color: transparent !important;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
 }

 .swiper_button_prev {
   @include swiperButton;
   background-image: url('../../img/backBtnTablet.svg');
   margin-left: -10px;
   top: calc(90% - 33px);
   &:disabled {
     opacity: 0.5;
   }

   &:hover {
     background-image: url('../../img/backBtnHover.svg');
   }
 }

 .swiper_button_next {
   @include swiperButton;

   background-image: url('../../img/forwardBtnTablet.svg');
   top: calc(75% - 25px);

   &:disabled {
     opacity: 0.5;
   }

   &:hover {
     background-image: url('../../img/forwardBtnHover.svg');
   }
 }
}

@media (min-width: $width-tablet-md) {
  .swiper {
    min-width: 320px;
  }

  .numbersWrapper {
    top: calc(50% - 57px) !important;
    left: -57px !important;
    //min-width: 57px;
  }

  @mixin swiperButton {
    position: absolute;
    display: block;
    min-width: 52px;
    width: 52px;
    height: 52px;
    margin: auto 0;
    right: calc( 6% - 134px );
    border-radius: 50%;
    border: none;
    background-repeat: no-repeat;
    background-size: 52px 52px;
    background-position: center center;
    background-color: transparent !important;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
 }

 .swiper_button_prev {
   @include swiperButton;
   background-image: url('../../img/backBtnTablet.svg');
   margin-left: -10px;
   top: calc(90% - 30px);
   &:disabled {
     opacity: 0.5;
   }

   &:hover {
     background-image: url('../../img/backBtnHover.svg');
   }
 }

 .swiper_button_next {
   @include swiperButton;

   background-image: url('../../img/forwardBtnTablet.svg');
   top: calc(75% - 30px);

   &:disabled {
     opacity: 0.5;
   }

   &:hover {
     background-image: url('../../img/forwardBtnHover.svg');
   }
 }
}

@media (min-width: $width-tablet-md) {
  .numbersWrapper {
    top: calc(50% - 35px);
    left: -36px;
  }
}

@media (min-width: $width-notebook) {
  .swiperSlide {
    width: 100%;
  }

  @mixin swiperButton {
    right: calc( 6% - 165px );
  }

  .swiper_button_prev {
    @include swiperButton;
    top: calc(88% - 18px);
  }
 
  .swiper_button_next {
    @include swiperButton;
    top: calc(73% - 17px);
  }
}

@media (min-width: $width-desktop-sm) {
  .numbersWrapper {
    position: absolute;
    top: calc(50% - 35px) !important;
    left: -72px !important;
  }

  @mixin swiperButton {
    right: calc( 6% - 165px );
  }

  .swiper_button_prev {
    @include swiperButton;
  }
 
  .swiper_button_next {
    @include swiperButton;
  }
}

@media (min-width: $width-desktop-md) {
  .numbersWrapper {
    position: absolute;
    top: calc(50% - 35px) !important;
    left: -72px !important;
  }

  @mixin swiperButton {
    right: calc( 6% - 172px );
  }

  .swiper_button_prev {
    @include swiperButton;
    top: calc(90% - 11px);
  }
 
  .swiper_button_next {
    @include swiperButton;
    top: calc(80% - 19px);
  }
}

@media (min-width: $width-desktop-lg) {
  .numbersWrapper {
    left: -222px !important;
  }

  @mixin swiperButton {
    right: calc( 6% - 343px );
  }

  .swiper_button_prev {
    @include swiperButton;
    top: calc(90% + 8px);
  }
 
  .swiper_button_next {
    @include swiperButton;
    top: calc(80% + 20px);
  }
}