@import '../../styles/style';

.root {
  margin: 0 auto;
  padding-left: 7px;
  margin-top: 14px;
  font-size: 12px;
  line-height: 13px;
  color: $color-dark-rare;
}

.root p {
  margin: 0 auto;
  text-align: center;
}

.root p:nth-child(2) {
  width: 198px;
  margin-top: 12px;
}

@media (min-width: $width-tablet-md) {
  .root {
    font-size: 20px;
    line-height: 15px;
    margin-top: 35px;
    padding-left: 67px;
  }
  
  .root p:nth-child(2) {
    font-size: 20px;
    line-height: 22px;
    width: 300px;
    margin-top: 15px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    font-size: 20px;
    line-height: 15px;
    margin-top: 37px;
    padding-left: 65px;
  }
  
  .root p:nth-child(2) {
    width: 300px;
    margin-top: 24px;
  }
}