@import '../../styles/style';

.root {
  width: 100%;
  background-color: #f6f6f6;
  padding: 30px 37px 33px 23px;
}

.root fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.root legend {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: $color-dark-primary;
}

.root p {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #a0a0a0;
}

.input__name_wrapper {
  position: relative;
  margin-top: 30px;
}

.input__mail_wrapper {
  position: relative;
  margin-top: 17px;
}

.input__mail_wrapper label,
.input__name_wrapper label {
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  margin-top: 5px;
  margin-left: 23px;
  color: #c98080;
  cursor: pointer;
}

.root .input__name_wrapper input,
.root .input__mail_wrapper input {
  width: 100%;
  padding: 6px 5px 8px 23px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 16px;
  max-width: 388px;
  border: 1px solid #cccccc;
  color: #7b7b7b;
  outline: none;
  cursor: pointer;

  &::placeholder {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.7px;
    color: #cccccc;
  }
}

.root .input__checkbox_wrapper {
  position: relative;
  margin-top: 18px;
  font-size: 10px;
  line-height: 10px;
  height: 15px;
  cursor: pointer;
}

.root .input__checkbox_wrapper input:not(:checked) + label::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  background: url('../../img/unchecked.png');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  
  cursor: pointer;
}

.root .input__checkbox_wrapper input:checked + label::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 4px;

  background: url('../../img/checked.png');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  cursor: pointer;
}

.root .input__checkbox_wrapper label {
  padding-left: 18px;
  letter-spacing: -0.04em;
  cursor: pointer;
}

.root button {
  width: 194px;
  height: 32px;
  padding: 0;
  margin-top: 37px;
  border-radius: 16px;
  border: none;
  background-color: #515dac;
  color: $color-white;
  cursor: pointer;
}

.mail__need-wrapper {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 40px 115px 38px 80px;
    border-radius: 20px;
  }

  .root legend {
    font-size: 40px;
    line-height: 32px;
    letter-spacing: -1px;
  }

  .root p {
    font-size: 20px;
    line-height: 22px;
  }

  .input__name_wrapper {
    margin-top: 42px;
  }
  
  .input__mail_wrapper {
    margin-top: 26px;
  }

  .root .input__name_wrapper input,
  .root .input__mail_wrapper input {
    width: 388px;
    padding: 10px 5px 12px 45px;
    font-size: 18px;
    line-height: 19px;

    &::placeholder {
      font-size: 18px;
      line-height: 19px;
    }
  }

  .root .input__checkbox_wrapper input:not(:checked) + label::before {
    top: -5px;
    left: -1px;
    width: 20px;
    height: 20px;
  
    background-size: 20px 20px;
  }
  
  .root .input__checkbox_wrapper input:checked + label::after {
    top: -5px;
    left: -1px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }

  .root .input__checkbox_wrapper {
    font-size: 14px;
    margin-top: 30px;
  }

  .root .input__checkbox_wrapper label {
    padding-left: 30px;
    letter-spacing: 0;
  }

  .root button {
    width: 254px;
    height: 43px;
    font-size: 18px;
    line-height: 19px;
    margin-top: 26px;
    border-radius: 20px;
    letter-spacing: 0.7px;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    padding: 40px 115px 38px 149px;
  }

  .root .input__checkbox_wrapper input:not(:checked) + label::before {
    top: -3px;
    left: 3px;
    width: 20px;
    height: 20px;
  
    background-size: 16px 16px;
  }
  
  .root .input__checkbox_wrapper input:checked + label::after {
    top: -3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-size: 16px 16px;
  }
}