.root {
  width: 100%;
  padding: 22px 37px 38px 23px;
  background-color: #F6F6F6;
}

.root fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.root legend {
  font-size: 22px;
  line-height: 30px;
  color: #2B2C2D;
}

.root p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: #A0A0A0;
}

.root .input__name_wrapper {
  margin-top: 21px;
}

.root .input__mail_wrapper {
  margin-top: 17px;
}

.root .input__name_wrapper input,
.root .input__mail_wrapper input {
  width: 100%;
  padding: 6px 5px 6px 23px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 16px;
  border: 1px solid #CCCCCC;
  color: #7B7B7B;
  outline: none;

  &::placeholder {
    font-size: 12px;
    line-height: 16px;
    color: #CCCCCC;
  }
}

.root .input__checkbox_wrapper {
  position: relative;
  margin-top: 14px;
  font-size: 10px;
  line-height: 10px;
}

.root .input__checkbox_wrapper input:not(:checked) + label::before {
  content: '';
  position: absolute;

  top: 0;
  left: 0;

  width: 10px;
  height: 10px;

  background: url('../c_Form/unchecked.png');
  background-repeat: no-repeat;
  
  cursor: pointer;
}

.root .input__checkbox_wrapper input:checked + label::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 4px;

  background: url('../c_Form/checked.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.root .input__checkbox_wrapper label {
  padding-left: 18px;
  letter-spacing: -0.04em;
  cursor: pointer;
}

.root button {
  width: 194px;
  height: 32px;
  padding: 0;
  margin-top: 37px;
  border-radius: 16px;
  border: none;
  background-color: #515DAC;
  color: #FFFFFF;
  cursor: pointer;
}