@import '../../styles/style';

.root {

}

.C_SliderVideoAbout {
  grid-area: C_SliderVideoAbout;
}

.C_TextContentAbout {
  grid-area: C_TextContentAbout;
}


@media (min-width: $width-tablet-md) {
  .root {
    display: grid;
    grid-template-columns: 1fr 362px;
    grid-template-rows: auto;
    width: 100%;
    grid-template-areas: "C_SliderVideoAbout C_TextContentAbout";
    padding-left: 85px;
  }
}


@media (min-width: $width-desktop-lg) {

}