@import '../../styles/style';

.root {

}

.C_SliderVideoAbout {
  grid-area: C_SliderVideoAbout;
}

.C_TextContentAbout {
  grid-area: C_TextContentAbout;
}

@media (min-width: $width-tablet-sm) {
  .root {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
    grid-template-areas: "C_SliderVideoAbout C_TextContentAbout";
    padding-left: 9px;
    justify-content: center;
    grid-column-gap: 25px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    // padding-left: 85px;
    //justify-items: center;
    grid-column-gap: 80px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    grid-column-gap: 56px;
    padding-left: 47px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    grid-column-gap: 66px;
    padding-left: 44px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    grid-column-gap: 95px;
    grid-template-rows: 573px;
  }
}