@import '../../styles/style';

.root {

}

.C_SliderVideoAbout {
  grid-area: C_SliderVideoAbout;
}

.C_TextContentAbout {
  grid-area: C_TextContentAbout;
}

@media (min-width: $width-tablet-sm) {
  .root {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%;
    grid-template-areas: "C_SliderVideoAbout C_TextContentAbout";
    padding-left: 9px;
    justify-content: center;
    grid-column-gap: 75px;
  }

  .video {
    grid-column-gap: 24px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    // padding-left: 85px;
    //justify-items: center;
    grid-column-gap: 80px;
    padding-left: 9px;
    padding-right: 53px;
  }

  .video {
    grid-column-gap: 80px;
    padding-left: 13px;
    grid-template-rows: minmax(218px, auto);
  }
}

@media (min-width: $width-notebook) {
  .root {
    grid-template-columns: auto minmax(auto, 480px);
    grid-column-gap: 55px;
    padding-left: 50px;
    padding-right: 0;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    grid-template-columns: auto minmax(auto, 560px);
    grid-column-gap: 65px;
    padding-left: 100px;
  }

  .video {
    padding-left: 100px;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    grid-column-gap: 70px;
    padding-left: 48px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 0 260px 0 100px;
    grid-column-gap: 94px;
    grid-template-columns: auto auto;
  }
}