@import '../../styles/style';

$width: 100%;
$height: 100%;
$time: 0.7s;

.root {
  font-family: "Codec Cold", "Arial", sans-serif;
  position: relative !important;
  cursor: pointer;
  border-width: 0;
  font-weight: normal;
  padding: 8px 22px 9px 22px;
  background-color: $color-dark-primary;
  font-size: 12px;
  line-height: 13px;
  border-radius: 21px;
  overflow: hidden;
  transition: background-color 1.3s;
  letter-spacing: -0.015em;
  border: 1px solid #707070;

  &:hover {
    background-color: white;
    // border-color:#DDDDDD;
    border-color: #CCCCCC;
    transition: 1.3s ease-out;

    & .text {
      color: $color-dark-primary;
    }

    & .span {
      width: calc(#{$width} * 2.25);
      padding-top: calc(#{$width} * 2.25);
    }
  }

  & .text {
    color: white;
    position: relative;
    z-index: 5;
    transition: color $time;
    white-space: nowrap;
  }

  //&:hover .text {
  //  color: $color-dark-primary;
  //}

  & .span {
    position: absolute;
    //top: 0 !important;
    //left: 0 !important;
    display: none;
    //content: "";
    z-index: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    /* цвет заливки */
    background: rgb(255, 255, 255);

    transform: translate(-50%, -50%);
    transition: width $time, padding-top $time;
  }

  //&:hover .span {
  //  width: calc(#{$width} * 2.25);
  //  padding-top: calc(#{$width} * 2.25);
  //  //padding-bottom: calc(#{$width} * 2.25);
  //}
}

.mode {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  background-color: unset;
  padding: 0;

  & .text {
    color: $color-dark-primary;
  }
}

@media (min-width: $width-mobile-pre-md) {

}

@media (min-width: $width-tablet-sm) {
  .root {
    padding: 9px 39px 9px 38px;
    

    & .text {
     font-size: 15px;
     line-height: 16px;
     letter-spacing: -0.015em;
    }

    & .span {
      display: none;
    }
  }

  .mode {
    font-size: 15px;
    line-height: 16px;
    text-decoration: underline;
    background-color: unset;
    padding: 0;


    & .text {
      font-size: 15px;
      line-height: 16px;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 10px 38px 9px 39px;

    & .text {
     font-size: 15px;
     line-height: 15px;
    }

    & .span {
      display: none;
    }
  }

  .mode {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    background-color: unset;
    padding: 0;


    & .text {
      font-size: 21px;
      line-height: 21px;
    }
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    padding: 10px 41px 10px 41px;

    & .text {
      font-size: 17px;
      line-height: 18px;
    }

    & .span {
      display: block;
    }
  }

  .mode {
    text-decoration: unset;
    margin: 0 0 0 5px;
    padding: 10px 34px 10px;
    background-color: $color-dark-primary;
    border: 1px solid #707070;

    &:hover {
      border-color: #CCCCCC;
      transition: 1.3s ease-out;
    }

    & .text {
      color: white;
      font-size: 17px;
      line-height: 18px;
      letter-spacing: -0.03em;
    }
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    padding: 11px 45px 11px 44px;
    border-radius: 22px;
    
    & .text {
      font-size: 18px;
      line-height: 19px;
    }

    & .span {
      display: block;
    }
  }

  .mode {
    border-radius: 22px;
    margin: -3px 0 0 8px;
    padding: 11px 41px 12px 41px;

    & .text {
      font-size: 18px;
      line-height: 19px;
    }
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    & .text {
      font-size: 18px;
      line-height: 19px;
    }

    & .span {
      display: block;
    }
  }

  .mode {
    margin: -3px 0 0 -6px;
    padding: 11px 42px 12px 41px;
  }
}