@import '../../styles/style';

$width: 100%;
$time: 0.7s;

.root {
  font-family: "Codec Cold", "Arial", sans-serif;
  position: relative;
  cursor: pointer;
  border-width: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;

  padding: 12px 40px;
  background-color: $color-dark-primary;
  border-radius: 21px;
  overflow: hidden;
  transition: background-color 1.3s;

  &:hover {
    background-color: white;
  }

  & .text {
    color: white;
    position: relative;
    z-index: 5;

    transition: color $time;
  }

  &:hover .text {
    color: $color-dark-primary;
  }

  & .span {
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;
    border-radius: 100%;
    /* цвет заливки */
    background: rgb(255, 255, 255);

    transform: translate(-50%, -50%);
    transition: width $time, padding-top $time;
  }

  &:hover .span {
    width: calc(#{$width} * 2.25);
    padding-top: calc(#{$width} * 2.25);
  }
}

.mode {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}