@import '../../styles/style';

.root {
  margin-top: 25px;
  margin-left: 2px;
  order: 4;
}

.root div {
  width: 100%;
  font-size: 10px;
  line-height: 11px;
  color: $color-dark-rare;
}

.root div:nth-child(n + 2) {
  margin-top: 11px;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 0;
  }

  .root div {
    font-size: 12px;
    line-height: 13px;
  }

  .root div:nth-child(n + 2) {
    margin-top: 9px;
  }

  .root div:nth-child(n + 3) {
    margin-top: 40px;
    font-size: 10px;
    line-height: 10px;
    max-width: 420px;
    letter-spacing: -0.6px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root div {
    max-width: 836px;
    font-size: 16px;
    line-height: 18px;
  }
}