@import '../../styles/style';

.root {
  margin-top: 20px;
  margin-left: -18px;
  order: 4;
}

.root div {
  width: 100%;
  font-size: 10px;
  line-height: 12px;
  color: #343636;
}

.root div:nth-child(n + 2) {
  margin-top: 11px;
}

@media (min-width: $width-tablet-md) {
}

@media (min-width: $width-desktop-lg) {
  .root div {
    max-width: 836px;
    font-size: 16px;
    line-height: 18px;
  }
}