@import '../../styles/style';

.root {
  margin-right: auto;
  margin-top: 13px;
  padding: 0 19px 45px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0 130px 45px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin-top: 50px;
    padding: 0 418px 45px 418px;
  }
}