@import '../../styles/style';

.root {
  //height: 55.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Tabs {
  padding-bottom: 3.34rem
}

.TabContent {

}