@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
}

.wrapper_frame {
  width: 100%;
  background-image: radial-gradient(rgb(74, 74, 74) 0%, rgb(43, 44, 45) 70%);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 26px;
    background-image: url('../../img/form-line.png');
    background-repeat: no-repeat;
    background-size: 77px 16px;
    background-position: 0 0;
    top: 73px;
    right: -23px;
    z-index: 10;
  }
}

.frame {
  width: 100%;
  //background-image: radial-gradient(rgb(74, 74, 74) 0%, rgb(43, 44, 45) 70%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 61px 32px 38px 25px;
  position: relative;
  overflow: hidden;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: calc(50% - 132px);
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 263px;
  position: relative;
  left: calc(50% - 132px);
}

.wrapperInputCommon {
  width: 100%;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 17px;
  }

  &:last-of-type {
    margin-bottom: 47px;
  }
}

.inputRequire {
  & .inputCommon {
    border-color: $color-require-border;
    margin-bottom: 10px;
  }

  & .errorMessage {
    color: $color-require-text;
    opacity: 1;
  }
}
.inputError {
  & .inputCommon {
    border-color: $color-error-border;
    margin-bottom: 10px;
  }

  & .errorMessage {
    color: $color-error-text;
    opacity: 1;
  }
}

.errorMessage {
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
  bottom: -8px;
  left: 24px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.015em;
  font-family: "Codec Cold News", "Arial", sans-serif;
}

.inputCommon {
  width: 100%;
  font-size: 12px;
  line-height: 13px;
  border-radius: 16px;
  background: #36373b;
  border: 1px solid #525252;
  color: #E6E6E6;
  padding: 9px 10px 8px 23px;
  font-family: "Codec Cold News", "Arial", sans-serif;

  &::placeholder {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #7b7b7b;
    font-family: "Codec Cold News", "Arial", sans-serif;
  }
}

.title {
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: -0.01em;
  margin: 0 0 28px;
  height: 69px;
}

.description {
  font-size: 14px;
  line-height: 15px;
  margin: 0 0 18px;
}

.button {
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  border-radius: 16px;
  background: #fff;
  border-width: 0;
  padding: 10px 23px 9px 23px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  margin-top: 30px;
  margin-bottom: 26px;
  cursor: pointer;
}

.checkboxWrapper {
  padding-left: 19px;
  width: 280px;
}

.checkboxLabel {
  font-size: 10px;
  line-height: 10px;
  width: 100%;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    left: -18px;
    top: -1px;
    width: 10.21px;
    height: 10.21px;
    background-color: #FFF;
    border-radius: 50%;
  }
}

.checkboxInput {
  &:checked {
    & + .checkboxLabel {
      &:after {
        content: "";
        position: absolute;
        top: 1px;
        left: -16px;
        width: 6px;
        height: 6px;
        background-color: #343636;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: $width-mobile-pre-md) {
  .frame {
    width: 100%;
    //background-image: radial-gradient(rgb(74, 74, 74) 0%, rgb(43, 44, 45) 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 61px 32px 49px 25px;
    position: relative;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 0;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 303px;
    position: relative;
    left: 0;
  }

  .checkboxLabel {
    &:before {
      left: -19px;
      top: 0;
      width: 10.21px;
      height: 10.21px;
    }
  }
  
  .checkboxInput {
    &:checked {
      & + .checkboxLabel {
        &:after {
          top: 2.5px;
          left: -17px;
          width: 5.91px;
          height: 5.91px;
        }
      }
    }
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    padding: 10px 30px 14px 30px;
  }

  .wrapper_frame {
    border-radius: 20px;

    &::before {
      display: none;
    }
  }

  .frame {
    padding: 57px 65px 69px 50px;
    display: grid;
    grid-template-columns: 250px 290px;
    grid-template-rows: 1fr;
    grid-template-areas: "titles fields";
    grid-column-gap: 52px;
    align-items: flex-start;
    justify-content: center;
    position: unset;
  }

  .titles {
    grid-area: titles;
    flex-direction: column-reverse;
    position: unset;
  }

  .fields {
    grid-area: fields;
    padding: 64px 0 0;
    //padding: calc(1089px - 100vw) 0 0;
    width: 100%;
    max-width: unset;
    position: unset;
  }

  .title {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: unset;
    margin: 0 10px 0 auto;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 195px;
      height: 16px;
      background-image: url('../../img/form-line-768.png');
      background-size: 195px 16px;
      top: unset;
      right: unset;
      z-index: 10;
      bottom: -125px;
      left: 38px;
      //margin-right: 298px;
    }
  }

  .description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
    max-width: 220px;
    margin-left: 3px;
  }

  .wrapperInputCommon {
    margin-bottom: 21px !important;
  }

  .inputCommon {
    border-radius: 21.5px;
    padding: 9px 10px 8px 38px;
    font-size: 15px;
    line-height: 16px;
    width: 100%;

    &::placeholder {
      font-size: 15px;
      line-height: 16px;
    }
  }

  .checkboxWrapper {
    padding-left: 25px;
    width: 100%;
    min-width: 340px;
    // max-width: 340px;
  }

  .checkboxLabel {
    font-size: 12px;
    line-height: 12px;
    color: #707070;

    &:before {
      content: "";
      left: -25px;
      top: -2px;
      width: 17.02px;
      height: 17.02px;
    }
  }

  .checkboxInput {
    &:checked {
      & + .checkboxLabel {
        &:after {
          top: 1px;
          left: -22px;
          width: 11px;
          height: 11px;
        }
      }
    }
  }

  .button {
    font-size: 15px;
    line-height: 16px;
    border-radius: 21.5px;
    padding: 10px 38px 10px 38px;
    margin: 0 0 28px 0;
  }

  .errorMessage {
    bottom: -21px;
    left: 46px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0 52px;
  }

  .frame {
    padding: 86.2px 48px 87.2px;
    grid-column-gap: 85px;
  }

  .fields {
    //padding: 88px 0 0;
    padding: calc(1089px - 100vw) 0 0;
    //width: 388px;
  }

  .title {
    font-size: 40px;
    line-height: 44px;

    &::before {
      bottom: -167px;
      left: 120px;
    }
  }

  .description {
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 34.5px;
  }

  .wrapperInputCommon {
    margin-bottom: 26px !important;
  }

  .inputCommon {
    border-radius: 21.5px;
    padding: 11px 10px 11px 46px;
    font-size: 18px;
    line-height: 19px;
    width: 100%;

    &::placeholder {
      font-size: 18px;
      line-height: 19px;
    }
  }

  .checkboxWrapper {
    padding-left: 30px;
  }

  .checkboxLabel {
    font-size: 14px;
    line-height: 14px;
    color: #707070;

    &:before {
      content: "";
      left: -28px;
      top: -2px;
      width: 17.02px;
      height: 17.02px;
    }
  }

  .checkboxInput {
    &:checked {
      & + .checkboxLabel {
        &:after {
          top: 1px;
          left: -25px;
          width: 11px;
          height: 11px;
        }
      }
    }
  }

  .button {
    font-size: 18px;
    line-height: 19px;
    border-radius: 21.5px;
    padding: 12px 45px 11px 45px;
    margin-bottom: 29px;
    margin-left: 2px;
  }

  .errorMessage {
    bottom: -21px;
    left: 46px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    padding: 0 51px;
  }

  .frame {
    padding: 94.2px 48px 88.2px 89px;
    grid-column-gap: 160px;
  }

  .fields {
    padding: calc(1280px - 100vw) 0 0 0;
  }

  .title {
    &::before {
      left: 86px;
    }
  }

  .description {
    font-size: 22px;
    margin-bottom: 26.5px;
  }

  .checkboxLabel {
    &:before {
      top: 0;
    }
  }

  .checkboxInput {
    &:checked {
      & + .checkboxLabel {
        &:after {
          top: 3px;
        }
      }
    }
  }

  .button {
    margin: 1px 0 28px 1px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    margin-top: 55px;
    padding: 0 66px;
  }

  .title {
    font-size: 44px;
    line-height: 54px;

    &::before {
      position: absolute;
      content: '';
      width: 195px;
      height: 16px;
      background-image: url('../../img/form-line-768.png');
      background-size: 195px 16px;
      top: unset;
      right: unset;
      z-index: 10;
      bottom: 60px;
      left: -240px;
      //margin-right: 298px;
    }
  }

  .description {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 24px -98px;
  }

  .wrapperInputCommon {
    margin-bottom: 30px !important;
  }

  .inputCommon {
    padding: 11px 10px 8px 43px;
    font-size: 17px;
    line-height: 18px;

    &::placeholder {
      font-size: 17px;
      line-height: 18px;
    }
  }

  .frame {
    padding: 136px 230px 111px 197px;
    //border-radius: 20px;
    //padding: 134px 394px 125px 203px;
    // display: grid;
    // grid-template-columns: 691px 390px;
    grid-column-gap: 140px;
    // justify-content: center;
  }

  .fields {
    padding: 0;
  }

  .button {
    padding: 11px 38px 9px 40px;
    margin: 0 0 33px -1px;
    letter-spacing: -0.03em;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    margin-top: 55px;
    padding: 0 66px;
  }

  .title {
    font-size: 44px;
    line-height: 54px;

    &::before {
      content: '';
      width: 146px;
      background-image: url('../../img/form-line-1600.png');
      background-size: 146px 16px;
      left: -178px;
    }
  }

  .description {
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 24px -177px;
  }

  .wrapperInputCommon {
    margin-bottom: 27px !important;
  }

  .inputCommon {
    padding: 10px 10px 11px 43px;
    font-size: 18px;
    line-height: 19px;

    &::placeholder {
      font-size: 18px;
      line-height: 19px;
    }
  }

  .frame {
    padding: 136px 73px 126px 80px;
    grid-column-gap: 180px;
  }

  .fields {
    padding: 0;
  }

  .button {
    padding: 10px 46px 13px 47px;
    margin: 0 0 29px 0;
    letter-spacing: -0.015em;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 0 65px;
  }

  .title {
    font-size: 50px;
    line-height: 54px;
  }

  .description {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 19px;
  }

  .frame {
    //border-radius: 20px;
    padding: 134px 394px 125px 203px;
    display: grid;
    grid-template-columns: 691px 390px;
    grid-column-gap: 112px;
    justify-content: center;
  }

  .fields {
    padding: 0;
  }
}