@import '../../styles/style';

.root a {
  box-sizing: border-box;
  width: 194px;
  font-size: 12px;
  line-height: 16px;
  font-family: "Codec Cold News", "Arial", sans-serif;
  padding: 7px 0;
  display: block;
  text-align: center;
  border: 1px solid #515dac;
  border-radius: 16px;
  background-color: #515dac;
  color: $color-white;
  transition: 0.4s;

  &:hover {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid #DDDDDD;
  }
}

@media (min-width: $width-tablet-md) {
  .root a {
    width: 235px;
    font-size: 18px;
    line-height: 19px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root a {
    width: 254px;
    padding: 11px 0;
    border-radius: 20px;
  }
}