.root {
  margin-top: 21px;
  padding: 0 19px 10px 30px;
}

.root a {
  width: 194px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 0;
  display: block;
  text-align: center;
  border-radius: 16px;
  background-color: #515DAC;
  color: #ffffff;
}