@import '../../styles/style';

.root {
  width: 100%;

}

.FormTop {
  padding-top: 36px;
  padding-bottom: 56.4px;
}

@media (min-width: $width-notebook) {
  .root {
    background-image: url("../../img/form-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 75px;
    background-position: top;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 87px;
      bottom: -43px;
      left: 50%;
      background-color: $color-dark-primary;
    }

    &:before {
      position: absolute;
      content: "";
      width: 555px;
      height: 122px;
      background-image: url("../../img/emptyLogo2.svg");
      background-repeat: no-repeat;
      background-size: 555px 122px;
      bottom: 64px;
      left: calc(50% - 771px);
      transform: rotate(-90deg);
      z-index: 5;
    }
  }

  .FormTop {
    height: 500px;
    padding-top: 106px;
    padding-bottom: 56.4px;
  }
}