@import '../../styles/style';

.root p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.1px;
  color: #2b2c2c;
}

.root p:nth-child(2) {
  margin-top: 10px;
}

@media (min-width: $width-tablet-md) {
  .root p {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.3px;
  }

  .root p:nth-child(2) {
    margin-top: 20px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root p {
    font-size: 18px;
    line-height: 23px;
  }
}
