@import '../../styles/style';

.root p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Codec Cold News","Arial", sans-serif;
  letter-spacing: -0.1px;
  color: $color-gray-seven;
}

.root a {
  text-decoration: underline;
  color: #515DAC;
  cursor: pointer;
}

@media (min-width: $width-tablet-md) {
  .root p {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.3px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.4px;
  }
}
