@import '../../styles/style';

.root {
  width: 100%;
  height: 192px;
  display: flex;
  justify-items: center;
}

.swiper {
  min-width: 264px;
  //width: 1000px;
  height: 191px;
  margin: 0;
  position: relative;
  padding-bottom: 2.6rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      width: 6px !important;
      height: 6px !important;
      background: transparent !important;
      border: 1px solid #2b2c2d !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 6px !important;
      height: 6px !important;
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px !important;
}

@media (min-width: $width-tablet-md) {
  .root {
    min-height: 452px;
    width: calc(100vw - 104px);
    margin-bottom: 22px;
  }
  .root img {
    min-height: 452px;
  }

  .swiper {
    min-height: 452px;
    min-width: 320px;
    width: calc(100vw - 104px);
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    min-height: 570px;
    margin-bottom: 0;
  }
  .root img {
    min-height: 570px;
  }

  .swiper {
    min-width: 788px;
    min-height: 570px;
  }

  .swiper-pagination {
    display: none;
  }
}