@import '../../styles/style';

.root {
  min-height: 162px;
}

.root .swiper {
  min-width: 264px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  min-height: 192px;
  margin: 0;
  position: relative;
  padding-bottom: 2.6rem;

  img {
    display: block;
    width: 100%;
    min-height: 175px;
    height: auto;
    max-height: 439px;
    margin: 0 auto;
    border-radius: 10px;
  }

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      width: 6px !important;
      height: 6px !important;
      background: $color-gray-two !important;
      border: 1px solid $color-gray-two !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 6px !important;
      height: 6px !important;
      background: #2b2c2d !important;
      border: 1px solid #2b2c2d !important;
    }
  }
  
  div[class="swiper-button-prev"] {
    display: none;
  }

  div[class="swiper-button-next"] {
    display: none;
  }
}

.swiperSlide {
  max-width: 100%;
}

@media (min-width: $width-tablet-md) {
  .root {
    min-height: 439px;
  }

  .root img {
    margin: 0 auto;
    width: 100%;
    min-width: 740px;
    min-height: 439px;
  }

  .root .swiper {
    min-height: 439px;

    div[class="swiper-button-next"],
    div[class="swiper-button-prev"],
    div[class="swiper-button-prev swiper-button-disabled"],
    div[class="swiper-button-next swiper-button-disabled"] {
      display: block;
      min-width: 52px;
      width: 52px;
      height: 52px;
      left: 21px;
      top: 217px;
      border-radius: 50%;
      margin-right: 34px;
      border: 1px solid #B7B7B7;
  
      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 14px;
        height: 1px;
        left: 15px;
        background-color: #B7B7B7;
      }
    
      &::before {
        top: 21px;
        transform: rotate(-45deg);
      }
    
      &::after {
        top: 30px;
        transform: rotate(45deg);
      }

      &:disabled {
        display: none;
      }
    }
    
    div[class="swiper-button-next"],
    div[class="swiper-button-next swiper-button-disabled"] {
      right: -13px;
      left: auto;
  
      &::before,
      &::after {
        left: 20px;
      }
    
      &::before {
        top: 21px;
        transform: rotate(45deg);
      }
    
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .swiperSlide {
    min-width: 740px;
    max-width: 100%;
    padding: 0 100px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 100%;
    min-height: 560px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .root img {
    height: 100% !important;
    display: initial !important;
    max-height: 630px !important;
    max-width: 788px;
  }

  .swiper {
    min-width: 788px;
    min-height: 570px;

    div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      display: flex;
      flex-direction: column;
      top: 255px !important;
      left: 0 !important;
      width: 30px !important;
      align-items: center;

      span[class="swiper-pagination-bullet"] {
        margin: 5px !important;
      }

      span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
        margin: 5px !important;
      }
    }
 
    div[class="swiper-button-prev"] {
      left: auto;
      right: 0;
      top: 217px;

    }
    
    div[class="swiper-button-next"] {
      right: -13px;
      top: 250px;
    }

    div[class="swiper-button-next swiper-button-disabled"] {
      right: 0;
      top: 250px;
    }

    div[class="swiper-button-prev swiper-button-disabled"] {
      left: auto;
      right: 0;
      top: 235px;
    }
  }

  .root .swiper {
    min-height: 439px;
    padding-bottom: 0;

    div[class="swiper-button-prev"] {
      left: auto;
      right: 218px;
      top: 312px;
    }
    
    div[class="swiper-button-next"] {
      right: 218px;
      top: 238px;
    }

    div[class="swiper-button-next swiper-button-disabled"] {
      right: 218px;
      top: 238px;
    }

    div[class="swiper-button-prev swiper-button-disabled"] {
      left: auto;
      right: 218px;
      top: 312px;
    } 
  }

  .swiperSlide {
    min-width: 740px;
    max-width: 100%;
    padding: 0 0 0 68px;
  }
}