@import '../../styles/style';

.root {
  position: relative;
  min-height: 162px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.image_wrapper {
  display: block;
  min-height: 175px;
  height: 51.04167vw;
  height: 170px;
  max-height: 439px;
  width: 100%;
  height: 100%;
}

.numbersWrapper {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  bottom: -13px;
  margin-left: -30px;
  display: flex;
}

.pic {
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-size: cover;
}

.image_wrapper img {
  display: block;
  min-height: 175px;
  max-height: 439px;
  width: 80vw;
  border-radius: 8px;
  max-width: 622px;
}

@mixin pinParams{
  font-size: 0;
  line-height: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 6px;
}

.regular {
  @include pinParams;
  background-color: rgba(0, 0, 0, 0.17);

  &__selected {
    @include pinParams;
    background-color: rgba(0, 0, 0);
  }
}

// .swiper {
//   min-width: 320px;
//   width: 100%;
//   height: auto;
//   margin: 0;
//   position: relative;
//   padding-bottom: 2.1rem;

// .swiper .swiper-wrapper {
//   transition-duration: 3ms;
// }

.swiperSlide {
  min-height: 175px;
  height: 100%;
  min-width: 256px;
  height: 51.04167vw;

  width: 81.1vw !important;
  max-height: 439px  !important;
  max-width: 622px !important;
  //max-width: 100%;
  //width: 100%;
  margin-left: 3px;
}

.swiper_button_next,
.swiper_button_prev,
.swiper_button_prev .swiper-button-disabled,
.swiper_button_next .swiper-button-disabled {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .root {
    position: relative;
    min-height: 439px;
  }

  .image_wrapper {
    display: block;
    min-height: 439px;
    max-height: 560px;
    height: 43.9vw;
    max-width: 940px !important;
    margin: 0 auto;
  }

  .root .image_wrapper img {
    margin: 0 auto;
    width: 100% !important;
    min-width: 742px !important;
    max-width: 940px !important;
    min-height: 439px;
    border-radius: 16px;
  }

  .root .swiper {
    margin-left: 47px;
    min-height: 439px;
    padding-bottom: 1.6rem;
    max-width: 940px;
  }

  .numbersWrapper {
    bottom: -10px;
    margin-left: 0;
  }

  .swiper_pagination_custom {
    bottom: -3px !important;
    max-width: 1200px;
    width: 100%;
    height: 11px;
  }
  
  .swiper_pagination_custom span[class="swiper-pagination-bullet"] {
    width: 7px !important;
    height: 7px !important;
  }
  
  .swiper_pagination_custom span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
    font-size: 0;
    display: block;
    width: 7px !important;
    height: 7px !important;
    background: #2b2c2d !important;
    border: 1px solid #2b2c2d !important;
    margin-right: 5px;
  }

  .swiper_bullet {
    width: 5px;
    height: 5px;
    background-color: #2b2c2d;
  }

  .root .swiper .swiper-container {
    max-width: 1200px;
  }

  .swiper_button_prev {
    position: relative;
    display: block;
    min-width: 52px;
    width: 52px;
    height: 52px;
    left: 21px;
    margin: auto 0;
    top: -7px;
    border-radius: 50%;
    border: none;
    background-image: url('../../img/backBtnTablet.svg');
    background-repeat: no-repeat;
    background-size: 52px 52px;
    background-position: center center;
    background-color: transparent !important;
    cursor: pointer;
    transition: 0.4s;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/backBtnHover.svg');
    }
  }

  .swiper_button_next {
    position: relative;
    display: block;
    min-width: 52px;
    width: 52px;
    height: 52px;
    left: 24px;
    margin: auto 0;
    top: -7px;
    border-radius: 50%;
    border: none;
    background-image: url('../../img/forwardBtnTablet.svg');
    background-repeat: no-repeat;
    background-size: 52px 52px;
    background-position: center center;
    cursor: pointer;
    transition: 0.4s;
    
    &:disabled {
     opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/forwardBtnHover.svg');
    }
  }

  .swiperSlide {
    min-height: 439px !important;
    min-width: 740px;
    max-width: 100% !important;
    max-height: 560px !important;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 100%;
    min-height: 560px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .root .image_wrapper img {
    height: 100% !important;
    display: initial !important;
    max-height: 630px !important;
    max-width: 790px !important;
  }

  .image_wrapper {
    min-height: 560px;
    max-height: 560px;
  }

  .swiper_button_prev {
    order: 2;
    left: 12px;
    top: 289px;
    margin: unset;
  }

  .swiper_button_next {
    order: 3;
    left: -40px;
    top: 217px;
    margin: unset;
  }

  .swiper {
    order: 1;
    min-width: 788px;
    min-height: 570px;
    margin-left: 65px;
  }

  .swiper_pagination_custom {
    bottom: -3px !important;
    left: 10px;
    flex-direction: column;
    max-width: 20px;
    width: 20px;
    height: 100%;
  }
  
  .swiper_pagination_custom span[class="swiper-pagination-bullet"] {
    margin-bottom: 5px;
  }
  
  .swiper_pagination_custom span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
    margin-bottom: 5px;
  }

  .root .swiper {
    min-height: 439px;
    padding-bottom: 0;
    margin-left: 30px;
    max-width: 863px;
  }

  .root .swiper-container {
    margin-left: 30px !important;
  }

  .numbersWrapper {
    bottom: 0;
    top: 46%;
    left: 12px;
    flex-direction: column;
  }

  @mixin pinParams{
    font-size: 0;
    line-height: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 6px;
    margin-right: 0;
  }
  
  .regular {
    @include pinParams;
    background-color: rgba(0, 0, 0, 0.17);
  
    &__selected {
      @include pinParams;
      background-color: rgba(0, 0, 0);
    }
  }

  .swiperSlide {
    max-height: 560px !important;
    min-height: 561px;
    min-width: 740px;
    margin-left: 65px;
    max-width: 100% !important;
    margin: 0 auto;
    width: 100% !important;
  }
}