@import '../../styles/style';

.root {
  cursor: pointer;
  display: block;
  width: 68px;
  height: 25px;
  background-image: url("../../img/s_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 68px 25px;
}

@media (min-width: $width-desktop-sm) {
  .root {
    width: 102px !important;
    height: 38px !important;
    background-image: url("../../img/logo-1440.svg");
    background-size: 102px 38px !important;
    margin-top: -1px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 156px !important;
    height: 58px !important;
    background-size: 156px 58px !important;
  }
}