@import '../../styles/style';

.wrapRoot {
  padding-top: 10px;
  width: 100vw;
  max-width: $width-desktop-lg;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
}

.root {
  padding: 10px 0 42px 0;
  width: 100%;
  //& > div:nth-child(2n + 1) {
  //  margin-right: auto;
  //}
}

.wrapper {
  width: 100%;
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    padding: 7px 0 32px 0;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    padding: 30px 30px;
  }

  .wrapper {
    border-radius: 20px;
    border: 1px solid #707070;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    column-gap: 133px;
    justify-content: center;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 78.3%;
      width: 1px;
      background-color: #2C2D2D;
      top: 10%;
      left: 50%;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 30px 52px;
    margin-bottom: 9px;
  }

  .wrapper {
    border-radius: 20px;
    border: 1px solid #707070;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    column-gap: 180px;
    justify-content: center;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 69%;
      width: 1px;
      background-color: #2C2D2D;
      top: 15%;
      left: 50%;
    }
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 40px 65px;
  }


  .wrapper {
    column-gap: unset;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    padding: 0 53px;
    //justify-content: space-between;

    & * {
      //transition: all .5s;
    }

    & > div {
      transition: all .6s;
      flex-grow: 1;

      &:hover {
        //flex-grow: 6;

        & > div[class*="picture"] {
          opacity: 1;
        }

        & > a[class*="link"] {
          opacity: 1;
        }

        & > h2 {
          font-size: 155px;
          line-height: 155px;
          color: #2C2D2D;
        }
      }
    }
    //
    //& div:first-child {
    //  flex-grow: 1;
    //
    //  &:hover {
    //    flex-grow: 4;
    //  }
    //}
    //
    //& div:last-child {
    //  flex-grow: 1;
    //
    //  &:hover {
    //    flex-grow: 4;
    //  }
    //}

    &:after {
      content: none;
    }
  }
}
