@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 123px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 16px;
  line-height: 18px;
  color: $color-dark-primary;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  color: $color-gray-five;
}

svg {
  .location & {
    width: 52px;
    height: 75px;
  }

  .healthyBuilding & {
    width: 72px;
    height: 58px;
  }

  .technologies & {
    width: 57px;
    height: 62px;
  }

  .infrastructure & {
    width: 71px;
    height: 74px;
  }

  .layoutPlan & {
    width: 71px;
    height: 66px;
  }
}

.locationArea {
  grid-area: location;
}

.healthyBuildingArea {
  grid-area: healthyBuilding;
}

.technologiesArea {
  grid-area: technologies;
}

.infrastructureArea {
  grid-area: infrastructure;
}

.layoutPlanArea {
  grid-area: layoutPlan;
}

@media (min-width: $width-notebook) {
  svg {
    .location & {
      width: 37px;
      height: 55px;
    }

    .healthyBuilding & {
      width: 53px;
      height: 43px;
    }

    .technologies & {
      width: 42px;
      height: 46px;
    }

    .infrastructure & {
      width: 52px;
      height: 54px;
    }

    .layoutPlan & {
      width: 52px;
      height: 45px;
    }
  }

  .icon {
    height: 90px;
  }

  .title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 17px;
  }

  .text {
    font-size: 16px;
    line-height: 28px;
  }
}