@import '../../styles/style';

.root {
  margin-top: 3px;
}

.root p {
  margin: 0;
  padding-right: 50px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  font-family: "Codec Cold News", "Arial", sans-serif;
  letter-spacing: -0.2px;
  color: #a0a0a0;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 4px;
  }

  .root p {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.3px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin-top: 5px;
  }

  .root p {
    max-width: 800px;
    font-size: 24px;
    line-height: 26px;
    font-family: "Codec Cold", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: -0.2px;
  }
}