@import '../../styles/style';

$menuTransition: .4s;
.root {
  padding-top: 18px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity $menuTransition;
  position: absolute;
  top: 14px;
  left: 0;
}

.secondLvlMenuElWrapperActive {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.secondLvlMenuEl {
  padding: 24px 34px 22px 39px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
  list-style: none;
  font-size: 20px;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

@media (min-width: $width-tablet-md) {

}

@media (min-width: $width-desktop-lg) {

}
