@import '../../styles/style';

.root {
  width: 100%;
  height: 100vh;
  background-color: $color-gray-eight;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 15;
  overflow-y: auto;
  transition: transform 0.3s linear;
  display: flex;
  justify-items: center;
  align-items: center;
}

.visiblePopup {
  transform: translateX(-100%);
}

.FormPopup {
  height: 100vh;
  padding-top: 100px;
}

//.closeBtn {
//  background-color: transparent;
//  border: none;
//  background-image: url("../../img/close.svg");
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: 15px 15px;
//  width: 15px;
//  height: 15px;
//  position: absolute;
//  top: 27px;
//  right: 25px;
//}

@media (min-width: $width-notebook) {
  .FormPopup {
    height: 500px;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 555px;
      height: 122px;
      background-image: url("../../img/emptyLogo2.svg");
      background-repeat: no-repeat;
      background-size: 555px 122px;
      bottom: 192px;
      left: calc(50% - 878px);
      transform: rotate(-90deg);
      z-index: 5;
    }
  }
}