@import '../../styles/style';

.wrapRoot {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
  max-width: $width-desktop-lg;
  width: 100vw;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  //grid-template-rows: 43px 1fr;
  grid-template-areas: "ProjectTitle" "sub_title" "Switcher" "SliderRegularCard" "RegularMap" "C_MainButton";
  //  ". title Switcher ."
  //  "SliderRegularCard SliderRegularCard SliderRegularCard SliderRegularCard";
  //padding-top: 3rem;
  //align-items: center;
  justify-items: center;
  padding-bottom: 45px;
}

.ProjectTitle {
  grid-area: ProjectTitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 17px -30px;

  & span {
    //font-size: 49px;
    //line-height: 42px;
    //font-weight: 800;
    //text-transform: uppercase;
  }

  & .bg_text {
    display: block;
    margin: 0 0 -15px -15px;
    color: #F6F6F6;
  }

  & .wrap_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 -20px;


    & span:last-child {
      margin: 0 0 0 85px;
    }
  }

  & .bg_text,
  & .wrap_title {
    font-size: 49px;
    line-height: 42px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.RegularMap {
  grid-area: RegularMap;
  width: 100%;
  margin-bottom: -18px;
}

.mapView {
  width: 100%;
  //
  //grid-template-areas:
  //  ". title Switcher ."
  //  "RegularMap RegularMap RegularMap RegularMap";
}

.sub_title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: $color-card-text;
  grid-area: sub_title;
  margin: 0 0 35px;

  & span {
    display: block;
    text-align: center;
  }
}

.Switcher {
  grid-area: Switcher;
  //justify-self: flex-start;
  //align-self: flex-start;
  //margin-left: 1.5rem;
}

.CombineRegularCards {
  grid-area: SliderRegularCard;
  margin-bottom: 19px;
}

.C_MainButton {
  grid-area: C_MainButton;
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    padding-bottom: 40px;
  }

  .ProjectTitle {
    margin: 0 0 14px -30px;

    & .bg_text {
      margin: 0 0 -15px -25px;
    }
  
    & .wrap_title {
      margin: 0 0 0 -35px;

      & span:last-child {
        margin: 0 0 0 100px;
      }
    }
  
    & .bg_text,
    & .wrap_title {
      font-size: 55px;
      line-height: 48px;
      letter-spacing: -1px;
    }
  }

  .sub_title {
    font-size: 18px;
    line-height: 19px;
    margin: 0 0 37px -5px;
  
    & span {
      &:not(:last-of-type) {
        margin-bottom: 4px;
      }
    }
  }

  .CombineRegularCards {
    grid-area: SliderRegularCard;
    margin-bottom: 19px;
  }
}

@media (min-width: $width-mobile-md) {
  .wrap_title {
    //background: black;
    width: 100%;
    flex-direction: row !important;

    & span {
      display: inline;
      margin: 0 !important;
    }
  }

  .bg_text {
    margin: 0 0 -15px -218px !important;
  }


  .sub_title {
    & span {
      display: inline-block;

      &:first-child {
        margin-right: 60px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          right: -44px;
          top: 3px;
          width: 30px;
          height: 12px;
          background-image: url("../../img/s_arrow_cards_section.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 30px 12px;
        }
      }

      &:last-child {
        text-transform: lowercase;
      }
    }
  }
}
@media (min-width: $width-tablet-sm) {
  .root {
    border: 1px solid #707070;
    border-radius: 20px;
    margin: 40px 30px 40px;
    padding-bottom: 39px !important;
  }

  .ProjectTitle {
    margin: 52px -22px 8px 0;

    & .bg_text,
    & .wrap_title {
      font-size: 65px;
      line-height: 65px;
      letter-spacing: -0.03em;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -29px -318px !important;
    }
  }

  .sub_title {
    & span {
      font-size: 20px;
      line-height: 21px;
      margin: 0 0 26px -3px;
      letter-spacing: -0.1px;
    }
  }

  .mapView {
    width: calc(100vw - 60px);
    //padding: 0 48px 0;
  }
 
  .RegularMap {
    margin-bottom: 20px;
    padding-bottom: 50px;
  }

  .root .C_MainButton {
    // position: relative;
    //overflow: visible;

    &::after {
      position: absolute;
      content: "";
      width: 601px;
      margin-left: -394px;
      height: 56px;
      background-image: url('../../img/business-line-768.png');
      background-repeat: no-repeat;
      background-size: 601px 17px;
      background-position: 0 0;
      z-index: 20;
      pointer-events: none;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    margin: 40px 52px 40px;
    padding-bottom: 40px !important;
  }

  .ProjectTitle {
    margin: 42px 0 18px -2px;

    & .bg_text,
    & .wrap_title {
      font-size: 82px;
      line-height: 82px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -39px -405px !important;
    }
  }

  .sub_title {
    margin: 0 0 35px -5px;

    & span {
      line-height: 20px;
      margin: 0;
    }
  }

  .mapView {
    width: calc(100vw - 102px);
    padding: 0 48px 0;
    //border-radius: 50px;
    //margin-bottom: 50px;

    //& > div > div > div {
    //  border-radius: 50px !important;
    //}
  }

  .RegularMap {
    margin-bottom: 50px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    margin: 49px 51px 40px;
    padding-bottom: 69px !important;
  }

  .ProjectTitle {
    margin: 39px 0 28px 6px;

    & .bg_text,
    & .wrap_title {
      font-size: 93px;
      line-height: 100px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -50px -454px !important;
    }
  }

  .sub_title {
    margin: 0 0 35px -6px;

    & span {
      font-size: 24px;
      line-height: 26px;
      margin: 0;
      letter-spacing: 0;

      &:first-child {
        margin-right: 72px;

        &:after {
          right: -59px;
          top: 6px;
          width: 40px;
          height: 16px;
          background-size: 40px 16px;
        }
      }
    }
  }

  .mapView {
    width: calc(100vw - 102px);
    padding: 0 48px 0;
  }

  .RegularMap {
    margin-bottom: 50px;
  }

  .root .C_MainButton {

    &::after {
      width: 832px;
      margin-left: -510px;
      background-image: url('../../img/business-line-1200.png');
      background-size: 832px 16px;
    }
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    padding: 0;
    padding-bottom: 94px !important;
    margin: 89px 66px 40px;
  }

  .sub_title {
    margin: 0 0 57px 0;

    & span {
      font-size: 28px;
      line-height: 30px;

      &:first-child {
        margin-right: 32px;
        margin: 0 55px 0 0;

        &:after {
          right: -46px;
          top: 10px;
          width: 34px;
          height: 13px;
          background-size: 34px 13px;
        }
      }
    }
  }

  .ProjectTitle {
    margin: 61px 0 16px 100px;

    & .bg_text,
    & .wrap_title {
      font-size: 113px;
      line-height: 121px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -60px -576px !important;
    }
  }

  .root .C_MainButton {
    margin-top: 0;
    padding: 11px 42px 10px;

    &::after {
      width: 1017px;
      margin-left: -615px;
      background-image: url('../../img/business-line-1440.png');
      background-size: 1017px 16px;
    }
  }

  .mapView {
    padding: 0 28px 0;
    width: calc(100vw - 132px);
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    padding-bottom: 94px !important;
    margin: 89px 66px 40px;
  }

  .sub_title {
    margin: 0 0 57px 0;

    & span {
      font-size: 31px;
      line-height: 33px;

      &:first-child {
        margin-right: 32px;
        margin: 0 70px 0 0;

        &:after {
          right: -58px;
          top: 10px;
          width: 40px;
          height: 15px;
          background-size: 40px 15px;
        }
      }
    }
  }

  .ProjectTitle {
    margin: 54px 0 8px 110px;

    & .bg_text,
    & .wrap_title {
      font-size: 133px;
      line-height: 143px;
    }

    & .bg_text {
      margin: 0 0 -72px -676px !important;
    }
  }

  .root .C_MainButton {
    // margin-top: 33px;
    padding: 12px 47px 12px 47px;
    letter-spacing: -0.03em;

    &::after {
      width: 1178px;
      margin-left: -699px;
      background-image: url('../../img/business-line-1600.png');
      background-size: 1178px 16px;
    }
  }

  .mapView {
    padding: 0 28px 0;
    width: calc(100vw - 132px);
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin: 89px 66px 70px;
  }

  .sub_title {
    margin: 0 0 58px -50px;

    & span {
      font-size: 31px;
      line-height: 31px;

      &:first-child {
        margin-right: 72px;

        &:after {
          right: -57px;
          top: 7px;
          width: 40px;
          height: 16px;
          background-size: 40px 16px;
        }
      }
    }
  }

  .ProjectTitle {
    margin: 57px 0 13px -53px;

    & .bg_text,
    & .wrap_title {
      font-size: 133px;
      line-height: 133px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -60px -681px !important;
    }
  }

  .root .C_MainButton {
    margin-top: 40px;
    padding: 12px 45px 12px 45px;
    margin-left: -2px;
  }

  .mapView {
    padding: 0 29px 0 29px;
  }
}

//border: 1px solid #707070;
//border-radius: 20px;
//margin: 88px 66px 35px;