@import '../../styles/style';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  //grid-template-rows: 43px 1fr;
  grid-template-areas: "ProjectTitle" "sub_title" "Switcher" "SliderRegularCard" "RegularMap" "C_MainButton";
  //  ". title Switcher ."
  //  "SliderRegularCard SliderRegularCard SliderRegularCard SliderRegularCard";
  //padding-top: 3rem;
  //align-items: center;
  justify-items: center;
  padding-bottom: 45px;
}

.ProjectTitle {
  grid-area: ProjectTitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px -30px;

  & span {
    //font-size: 49px;
    //line-height: 42px;
    //font-weight: 800;
    //text-transform: uppercase;
  }

  & .bg_text {
    display: block;
    margin: 0 0 -15px -15px;
    color: #F6F6F6;
  }

  & .wrap_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 -20px;


    & span:last-child {
      margin: 0 0 0 85px;
    }
  }

  & .bg_text,
  & .wrap_title {
    font-size: 49px;
    line-height: 42px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.RegularMap {
  grid-area: RegularMap;
  width: 100%;
  margin-bottom: -18px;
}

.mapView {
  width: 100%;
  //
  //grid-template-areas:
  //  ". title Switcher ."
  //  "RegularMap RegularMap RegularMap RegularMap";
}

.sub_title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  color: $color-card-text;
  grid-area: sub_title;
  margin: 0 0 32px;

  & span {
    display: block;
    text-align: center;
  }
}

.Switcher {
  grid-area: Switcher;
  //justify-self: flex-start;
  //align-self: flex-start;
  //margin-left: 1.5rem;
}

.CombineRegularCards {
  grid-area: SliderRegularCard;
  margin-bottom: 23px;
}

.C_MainButton {
  grid-area: C_MainButton;
}

@media (min-width: $width-mobile-md) {
  .wrap_title {
    //background: black;
    width: 100%;
    flex-direction: row !important;

    & span {
      display: inline;
      margin: 0 !important;
    }
  }

  .bg_text {
    margin: 0 0 -15px -218px !important;
  }


  .sub_title {
    & span {
      display: inline-block;

      &:first-child {
        margin-right: 60px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          right: -44px;
          top: 3px;
          width: 30px;
          height: 12px;
          background-image: url("../../img/s_arrow_cards_section.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 30px 12px;
        }
      }

      &:last-child {
        text-transform: lowercase;
      }
    }
  }
}


@media (min-width: $width-tablet-md) {
  .root {
    border: 1px solid #707070;
    border-radius: 20px;
    margin: 88px 66px 40px;
    padding-bottom: 40px !important;
  }


  .ProjectTitle {
    margin: 50px 0 43px -30px;

    & .bg_text,
    & .wrap_title {
      font-size: 82px;
      line-height: 82px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -39px -405px !important;
    }
  }

  .sub_title {
    & span {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .mapView {
    width: calc(100vw - 102px);
    padding: 0 48px 0;
    //border-radius: 50px;
    //margin-bottom: 50px;

    //& > div > div > div {
    //  border-radius: 50px !important;
    //}
  }

  .RegularMap {
    margin-bottom: 50px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding-bottom: 95px;
  }

  .sub_title {
    & span {
      font-size: 31px;
      line-height: 31px;

      &:first-child {
        margin-right: 72px;

        &:after {
          right: -57px;
          top: 7px;
          width: 40px;
          height: 16px;
          background-size: 40px 16px;
        }
      }
    }
  }

  .ProjectTitle {
    margin: 75px 0 50px -30px;

    & .bg_text,
    & .wrap_title {
      font-size: 133px;
      line-height: 133px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -60px -721px !important;
    }
  }

  .C_MainButton {
    margin-top: 15px;
  }

  .mapView {
    padding: 0 28px 0;
  }
}

//border: 1px solid #707070;
//border-radius: 20px;
//margin: 88px 66px 35px;