@import '../../styles/style';

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  //grid-template-rows: 43px 1fr;
  grid-template-areas: "ProjectTitle" "sub_title" "Switcher" "SliderRegularCard" "RegularMap";
  //  ". title Switcher ."
  //  "SliderRegularCard SliderRegularCard SliderRegularCard SliderRegularCard";
  //padding-top: 3rem;
  //align-items: center;
  justify-items: center;
}

.ProjectTitle {
  grid-area: ProjectTitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 -30px;

  & span {
    //font-size: 49px;
    //line-height: 42px;
    //font-weight: 800;
    //text-transform: uppercase;
  }

  .bg_text {
    display: block;
    margin: 0 0 -15px -15px;
    color: #F6F6F6;
    font-size: 49px;
    line-height: 42px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .wrap_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 -20px;
    font-size: 49px;
    line-height: 42px;
    font-weight: 800;
    text-transform: uppercase;

    & span:last-child {
      margin: 0 0 0 85px;
    }
  }

}

.RegularMap {
  grid-area: RegularMap;
}

.mapView {
  width: 100%;
  //
  //grid-template-areas:
  //  ". title Switcher ."
  //  "RegularMap RegularMap RegularMap RegularMap";
}

.sub_title {
  //justify-self: flex-end;
  text-align: end;
  //align-self: flex-start;
  color: $color-card-text;
  font-size: 1.2rem;
  line-height: 1.3rem;
  grid-area: sub_title;
  &_mod {}
}

.Switcher {
  grid-area: Switcher;
  //justify-self: flex-start;
  //align-self: flex-start;
  margin-left: 1.5rem;
}

.CombineRegularCards {
  grid-area: SliderRegularCard;
}

.C_MainButton {
  grid-area: C_MainButton;
}

@media (min-width: $width-mobile-md) {
  .wrap_title {
    //background: black;
    width: 100%;
    flex-direction: row !important;

    & span {
      display: inline;
      margin: 0 !important;
    }
  }

  .bg_text {
    margin: 0 0 -15px -218px !important;
  }
}


@media (min-width: $width-tablet-md) {
  .root {
    border: 1px solid #707070;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    grid-template-columns: 1fr 800px 800px 1fr;
    grid-template-rows: 52px 1fr;
    //height: 30rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    grid-template-areas:
    ". sub_title Switcher ."
    ". SliderRegularCard SliderRegularCard .";
  }

  .mapView {
    width: unset;
    grid-template-areas:
    ". sub_title Switcher ."
    ". RegularMap RegularMap .";
  }

  .sub_title {
    grid-area: title;
    justify-self: flex-end;
    text-align: end;
    align-self: flex-end;
    margin-right: 22.5rem;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-bottom: 1.9rem;

    &_mod {
      margin-right: 12.5rem;
    }
  }

  .Switcher {
    justify-self: flex-end;

    margin-right: 3.4rem;
  }

  .CombineRegularCards {
    grid-area: SliderRegularCard;
    justify-self: center;
    width: 100%;
    padding: 0 34px;
  }
}