@import '../../styles/style';

.root {
  text-align: center;
  cursor: pointer;
  font-family: "Codec Cold", "Arial", sans-serif;
  transition: background-color .35s, color .2s, border-width .35s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 224px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.mainCardBtn {
  height: 43px;
  font-size: 12px;
  line-height: 13px;
}

.secondaryCardBtn {
  height: 3.5rem;
  width: 13.4rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

@media(min-width: $width-desktop-sm) {
  .root {
    border-radius: 15px;
  }

  .mainCardBtn {
    bottom: -20px;
  }
  
}
//
//@media (min-width: $width-notebook) {
//  .mainCardBtn {
//    height: 3.5rem;
//    width: 14rem;
//
//    &:not(:hover) {
//      background-color: transparent !important;
//      border: 1px solid $color-card-decoration-border !important;
//      color: $color-card-text !important;
//    }
//  }
//
//  .secondaryCardBtn {
//    width: 100%;
//  }
//}