@import '../../styles/style';

.root {
  padding: 0;
  margin: 0;
  max-width: 861px;
  width: 100%;
  padding: 41px 0 35px 0px;
  letter-spacing: -0.35px;
  background-image: url('../../img/bcstone-saving.png');
  background-repeat: no-repeat;
  background-size: 433px 143px;
  background-position: -10px 58px;
}

.root h2 {
  margin: 0;
  font-size: 22px;
  line-height: 23px;
  padding-right: 50px;
  padding-left: 25px;
  font-weight: bold;
  font-family: "Codec Cold","Arial", sans-serif;
  text-align: left;
}

.saving {
  margin: 0;
  display: block;
  min-width: 250px;
  margin-top: 27px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  min-height: 192px;
  position: relative;
  display: flex;
  justify-items: center;
}


@media (min-width: $width-tablet-md) {
}