@import '../../styles/style';

.root {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 41px 0 1px 0px;
  letter-spacing: -0.35px;
  background-image: url('../../img/bcstone-saving.png');
  background-repeat: no-repeat;
  background-size: 433px 143px;
  background-position: -10px 58px;
}

.root h2 {
  margin: 0;
  font-size: 22px;
  line-height: 23px;
  padding-right: 50px;
  padding-left: 25px;
  font-weight: bold;
  font-family: "Codec Cold","Arial", sans-serif;
  text-align: left;
}

.saving{
  padding: 0 0 35px 0;
}

.sliderWrapper {
  width: 100vw;
  overflow: hidden;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $width-tablet-sm) {
  
}