@import '../../styles/style';

.root {
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 41px 0 14px 0px;
  letter-spacing: -0.35px;
  background-image: url('../../img/bcstone-saving-mobile.png');
  background-repeat: no-repeat;
  background-size: 433px 143px;
  background-position: 10px 58px;
}

.root h2 {
  margin: 0;
  font-size: 22px;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 25px;
  font-weight: bold;
  font-family: "Codec Cold","Arial", sans-serif;
  text-align: left;
}

.saving{
  padding: 0 0 25px 0;
}

.sliderWrapper {
  width: 100vw;
  overflow: hidden;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 360px) {
  .root {
    padding-bottom: 0;
    background-position: -10px 58px;
  }

  .root h2 {
    padding-right: 50px;
  }

  .sliderWrapper {
    margin-top: 26px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    position: relative;
    min-height: 390px;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 50px 0 41px 0px;
    letter-spacing: -0.35px;
    background-image: url('../../img/bcstone-saving-tablet.png');
    background-size: 680px 224px;
    background-position: 46px -15px;
    
    &::after {
      position: absolute;
      content: "";
      width: 432px;
      height: 56px;
      background-image: url('../../img/saving-line-768.png');
      background-repeat: no-repeat;
      background-size: 432px 16px;
      background-position: -124px 6px;
    }
  }
  
  .root h2 {
    display: none;
  }
  
  .saving {
    padding: 0 0 5px 0;
  }
  
  .sliderWrapper {
    margin-top: 10px;
  }  
}

@media (min-width: $width-tablet-md) {
  .root {
    padding-top: 67px;
    padding-bottom: 54px;
    min-height: 500px;
    background-image: url('../../img/bcstone-saving-1000.png');
    background-size: 924px 305px;
    background-position: 38px -22px;

    &::after {
      width: 432px;
      margin-top: 20px;
      background-image: url('../../img/saving-line-1000.png');
      background-size: 432px 16px;
      background-position: -40px 25px;
    }
  }

  .saving {
    width: 1000px;
  }

  .sliderWrapper {
    width: 896px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: $width-notebook) {
  .root {
    min-height: 580px;
    padding-bottom: 118px;
    background-position: 79px -10px;

    &::after {
      margin-top: 40px;
      background-position: -40px 22px;
    }
  }

  .saving {
    width: 1500px;
  }

  .sliderWrapper {
    width: 1200px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    min-height: 500px;
    padding-top: 10px;
    padding-bottom: 66px;
    background-image: url('../../img/bcstone-saving-1440.png');
    background-size: 1259px 415px;
    background-position: 30px 53px;

    &::after {
      margin-top: -149px;
      background-image: url('../../img/saving-line-1000.png');
      background-position: -287px 24px;
    }
  }

  .saving {
    min-height: 540px;
    padding: 20px 0;
  }

  .sliderWrapper {
    margin-top: 119px;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    min-height: 658px;
    padding-bottom: 104px;
    background-position: 30px 49px;

    &::after {
      margin-top: -105px;
      background-position: -297px 24px;
    }
  }

  .sliderWrapper {
    width: 1300px;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    background-position: 155px 49px;

    &::after {
      margin-top: -105px;
      background-position: -192px 24px;
    }
  }
}