@import '../../styles/style';

.root {

}

.wrapMiddleBlock {
  @include wrapMiddleBlock;
  //justify-content: flex-start;
}

.OfficesDescription {
  margin: 0 auto 2.42rem;
}

.map_mode {
  & > div {

    & div[class="swiper-wrapper"] {

      div[class*="swiper-slide"] {
        //height: 212px;
        height: 66.32vw;
        max-height: 381px;

        div[class*="wrapMap"] {
          //height: 212px;
          height: 66.32vw;
          max-height: 381px;
        }
      }
    }
  }
}

@media (min-width: $width-notebook) {
  .root {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapMiddleBlock {
    //height: 100%;
    //width: unset;
    width: 363px;
    margin-left: 70px;
    margin-top: 65px;
    margin-bottom: 41px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .map_mode {
    width: 766px;
    height: 434px;

    & > div {

      & div[class="swiper-wrapper"] {

        div[class*="swiper-slide"] {
          height: 100%;
          max-height: unset;

          div[class*="wrapMap"] {
            height: 100%;
            max-height: unset;
          }
        }
      }
    }
  }

  .OfficesDescription {
    margin: 0 ;
  }

}