@import '../src/styles/style.scss';

//.common_top_bg_news {
//  height: 41px;
//  background: transparent;
//  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.161);
//}

.newsWrapper {
  display: grid;
  margin-top: 60px;
}

.title {
  font-weight: 700;
  color: #2b2c2d;
  margin: 0 1.25rem 0;
  white-space: nowrap;
  font-size: 22px;
  line-height: 22px;
  //padding-left: 1.25rem;
  //padding-right: 1.25rem;
  border-bottom: 1px solid #acacac;
}

.newsList {
  margin: 0;
  list-style: none;
  padding: 18px 1.25rem 20px;
  max-height: 330px;
  overflow: auto;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.newsItem {
  position: relative;
}

.newsDate {
  font-size: 8px;
  line-height: 8px;
  margin-bottom: 3px;
  color: #707070;
}

.newsTitle {
  cursor: pointer;
  color: #2b2c2d;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  min-width: 283px;
  margin: 0 0 17px;
}

.descriptionWrapper {
  margin: 0 0 20px;
}

.description {
  padding: 0 1.25rem;
  font-size: 12px;
  line-height: 13px;

  & a {
    color: #3362e8;
  }
}



@media (min-width: $width-tablet-sm) {
  .newsWrapper {
    margin-top: 160px;
  }
}

@media (min-width: $width-tablet-md) {
  //.common_top_bg_news {
  //  height: 100px;
  //}
}

@media (min-width: $width-desktop-lg) {
  //.common_top_bg_news {
  //  height: 113px;
  //}
}