@import '../src/styles/style.scss';


.common_top_bg_news {
  height: 41px;
  background: transparent;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.161);
}

@media (min-width: $width-tablet-sm) {
  .common_top_bg_news {
    height: 92px;
  }
}

@media (min-width: $width-tablet-md) {
  .common_top_bg_news {
    height: 100px;
  }
}

@media (min-width: $width-desktop-lg) {
  .common_top_bg_news {
    height: 113px;
  }
}

.newsWrapper {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
          "title"
          "newsList"
          "commonTags"
          "imgWrapper"
          "descriptionWrapper";
}

.title {
  font-weight: 700;
  color: #2b2c2d;
  margin: 0 1.25rem 0;
  white-space: nowrap;
  font-size: 22px;
  line-height: 22px;
  border-bottom: 1px solid #acacac;
  grid-area: title;
}

.newsList {
  margin: 0;
  list-style: none;
  padding: 18px 1.25rem 20px;
  max-height: 330px;
  overflow: auto;
  grid-area: newsList;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.newsItem {
  position: relative;
}

.newsDate {
  font-size: 8px;
  line-height: 8px;
  margin-bottom: 3px;
  color: #707070;
}

.newsTitle {
  cursor: pointer;
  color: #2b2c2d;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  min-width: 283px;
  margin: 0 0 17px;
}

.commonTags {
  grid-area: commonTags;
}

.imgWrapper {
  grid-area: imgWrapper;
}

.descriptionWrapper {
  margin: 0 0 20px;
  grid-area: descriptionWrapper;
}

.description {
  padding: 0 1.25rem;
  font-size: 12px;
  line-height: 13px;

  & a {
    color: #3362e8;
  }
}

.pressWrapper {
  position: relative;
  max-width: 1920px;
  width: 100%;

  & .pressTitle {
    position: absolute;
    top: 220px;
    right: 345px;
    font-size: 100px;
    line-height: 100px;
    color: #2b2c2d;
    font-weight: 900;
  }

  & .pressInfo {
    margin-top: 103px;
    margin-bottom: 142px;
    background-image: linear-gradient(#efefef, #efefef), linear-gradient(#d6d6d6, #d6d6d6);
    background-repeat: no-repeat;
    background-size: 97% 93%, 97% 91%;
    background-position: top left, right bottom;
    padding: 67px 53px 84px;
    display: flex;
    flex-direction: column;
    width: 57%;
  }

  & .pressText {
    width: 65%;
    font-size: 16px;
    color: #2b2c2d;
    margin-bottom: 37px;
  }

  & .phoneLink,
  & .emailLink {
    font-weight: bold;
    font-size: 20px;
    color: #2b2c2d;

    &:hover {
      text-decoration: underline;
    }
  }

  & .phoneLink {
    margin-bottom: 9px;
  }

  & .emailLink {
    font-weight: normal;
    margin-bottom: 42px;
  }

  & .name {
    margin-bottom: 8px;
    font-weight: bold;
  }
}


@media (max-width: 1550px) {
  .pressWrapper {
    & .pressTitle {
      font-size: 6vw;
      right: 150px;
    }
  }
}

@media (max-width: 1700px) {
  .pressWrapper {
    padding: 0;

    & .pressTitle {
      position: static;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 13px;
    }

    & .pressInfo {
      margin-top: 0;
      margin-bottom: 0;
      background-image: linear-gradient(#efefef, #efefef), linear-gradient(#d6d6d6, #d6d6d6);
      background-repeat: no-repeat;
      background-size: 100% 95%, 100% 100%;
      background-position: center, right bottom;
      padding: 54px 20px 52px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    & .pressText {
      width: 100%;
      text-align: center;
      font-size: 12px;
      margin-bottom: 26px;
    }

    & .phoneLink {
      font-size: 16px;
      text-decoration: underline;
      margin-bottom: 13px;
    }

    & .emailLink {
      font-size: 12px;
      margin-bottom: 26px;
    }

    & .name {
      font-size: 12px;
      margin-bottom: 0;
    }

    & .post {
      font-size: 12px;
    }
  }
}

@media (min-width: $width-tablet-sm) {
  .newsWrapper {
    margin: 0;
    background-image: linear-gradient(#fff,#fff),linear-gradient(#f8f8f8,#f8f8f8);
    background-repeat: no-repeat;
    background-size: 35% 100%,65% 100%;
    background-position: left,right;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
          "title"
          "newsList"
          "commonTags"
          "imgWrapper"
          "descriptionWrapper";
  }

  .title {
    margin-top: 25px;
    font-size: 50px;
    line-height: 50px;
    border: none;
  }
}

@media (min-width: $width-tablet-md) {
  //.common_top_bg_news {
  //  height: 100px;
  //}
}

@media (min-width: $width-desktop-lg) {
  //.common_top_bg_news {
  //  height: 113px;
  //}
}