@import '../src/styles/style.scss';

.common_top_bg_news {
  height: 41px;
  background: transparent;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.161);
}

@media (min-width: $width-tablet-sm) {
  .common_top_bg_news {
    height: 92px;
  }
}

@media (min-width: $width-tablet-md) {
  .common_top_bg_news {
    height: 100px;
  }
}

@media (min-width: $width-desktop-lg) {
  .common_top_bg_news {
    height: 113px;
  }
}