@import '../src/styles/style';

.heroProjectWrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#fff 0%, rgba(255, 255, 255, 0) 100%), url("../src/img/hero-project-bg-mobile.jpg");
  background-size: $width-mobile-md 514px, $width-mobile-md 514px;
  background-repeat: no-repeat, no-repeat;
  background-position:center 100%, center 100%;
  width: 100%;
  min-height: 76rem;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: linear-gradient(#fff 0%, rgba(255, 255, 255, 0) 100%),  url("../src/img/hero-project-bg-mobile@2x.jpg");
  }
}


@media (min-width: $width-notebook) {
  .heroProjectWrapper {
    padding: 3.1rem 0 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%), url("../src/img/hero-project-bg-mobile.jpg");
    background-size: $width-desktop-lg 642px, $width-desktop-lg auto;
    min-height: 92.9rem;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%),  url("../src/img/hero-project-bg-mobile@2x.jpg");
    }
  }
}