@import '../../styles/style';


.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegularCard {

}

.sliderWrapper {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .cards {
//   //width: 100%;
//   width: 1788px;
//   //overflow: hidden;
//   //display: flex;
//   //flex-wrap: wrap;
//   //flex-direction: row;
//   //align-items: center;
//   justify-content: center;

//   display: grid;
//   grid-template-rows: repeat(2, auto);
//   grid-template-columns: repeat(3, auto);
//   grid-column-gap: 90px;
//   grid-row-gap: 48px;
// }

@media (min-width: $width-tablet-sm) {
  .root {
    //display: flex;
    // overflow: unset;
    margin: 0 1px 18px 1px;
    width: 100%;
    flex-direction: row;
    align-items: unset;
    //justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    //display: flex;
    overflow: unset;
    width: 100%;
    margin: 0 1px 18px 1px;
    flex-direction: row;
    align-items: unset;
    //justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $width-notebook) {
  .root {
    margin-bottom: 27px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    margin-bottom: 48px;
    margin-left: -46px;
  }

  .cards {
    width: 1308px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 35px;
    grid-row-gap: 23px;
    
    & div {
      opacity: 0;
      & div[class*='CardInfo'] {
        transform: translateY(180px);
      }
    }
  }

  @keyframes Jumpin {
    0% { opacity: 0; scale: 1; }
    30% { opacity: 1; scale: 1}
    100% { opacity: 1; scale: 1}
  }
  
  @keyframes fromBottomText {
    0% {
      transform: translateY(120px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @for $i from 0 through 10 {
    .cardsShown {
      opacity: 1;
      transition: 1s ease-out;

      & div:nth-child(#{$i}) {
      animation: Jumpin #{$i * 1.5}s cubic-bezier(.9,.03,.69,.22);
      transition: 0.5s ease-out;
      animation-fill-mode: forwards; 

      & div[class*='CardInfo'] {
        transform: translateY(0);
        transition: #{$i * 0.40}s ease-out;
      }
      }
    }
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    margin-bottom: 27px;
    margin-left: 0;
  }

  .cards {
    width: 1400px;
    grid-column-gap: 28px;
    grid-row-gap: 35px;
  }
}

@media (min-width: $width-desktop-lg) {
  .cards {
    //width: 100%;
    width: 1786px;
    //overflow: hidden;
    //display: flex;
    //flex-wrap: wrap;
    //flex-direction: row;
    //align-items: center;
    justify-content: center;
  
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 90px;
    grid-row-gap: 48px;
  }
}