@import '../../styles/style';

.root {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderWrapper {
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $width-tablet-sm) {
  .root {
    margin: 0 1px 18px 1px;
    width: 100%;
    flex-direction: row;
    align-items: unset;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    overflow: unset;
    width: 100%;
    margin: 0 1px 18px 1px;
    flex-direction: row;
    align-items: unset;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: $width-notebook) {
  .root {
    margin-bottom: 27px;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    margin-bottom: 48px;
    margin-left: -46px;
  }

  .cards {
    width: 1308px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 35px;
    grid-row-gap: 23px;

    & div {
      opacity: 0;

      & div[class*='CardInfo'] {
        transform: translateY(35px);
      }
    }
  }

  @keyframes Jumpin {
    0% {
      opacity: 0;
      scale: 1;
    }
    100% {
      opacity: 1;
      scale: 1
    }
  }

  @keyframes fromBottomText {
    0% {
      transform: translateY(120px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .cardsShown {
    @for $i from 0 through 6 {
      & div:nth-child(#{$i}) {
        animation: Jumpin 370ms cubic-bezier(.9, .03, .69, .22) #{$i*191.6}ms;
        transition: .5s ease-out;
        animation-fill-mode: forwards;

        & div[class*='CardInfo'] {
          transform: translateY(0);
          transition: #{130}ms ease-out #{$i*191.6}ms;
        }
      }
    }
  }

}

@media (min-width: $width-desktop-md) {
  .root {
    margin-bottom: 27px;
    margin-left: 0;
  }

  .cards {
    width: 1400px;
    grid-column-gap: 28px;
    grid-row-gap: 35px;
  }
}

@media (min-width: $width-desktop-lg) {
  .cards {
    width: 1786px;
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 90px;
    grid-row-gap: 48px;
  }
}