@import '../../styles/style';

.root {
  width: 1000px;
  display: flex;
  justify-items: center;
}

.swiper_button_prev,
.swiper_button_next {
  display: none;
}

.swiper {
  min-width: 320px;
  width: 1000px;
  height: auto;
  margin: 0;
  position: relative;
  padding-bottom: 2.6rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      width: 8px !important;
      height: 8px !important;
      background: transparent !important;
      border: 1px solid #2b2c2d !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperSaving,
.swiperPress {
  height: 100%;
  padding-bottom: 1.7rem;
  min-width: unset;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    
    span[class="swiper-pagination-bullet"] {
      width: 4px !important;
      height: 4px !important;
      border: 3px solid #707070 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 6px !important;
      height: 6px !important;
    }
  }
}

.swiperPress {
  padding-bottom: 2.1rem;
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 242px !important;
}

@media (min-width: $width-tablet-sm) {
  .swiperSaving,
  .swiperPress {
    height: 100%;
    padding-bottom: 1.7rem;
    min-width: unset;
  
    div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      
      span[class="swiper-pagination-bullet"] {
        width: 7px !important;
        height: 7px !important;
        border: 1px solid #D3D3D3 !important;
        background-color: #D3D3D3 !important;
      }
  
      span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
        width: 7px !important;
        height: 7px !important;
      }
    }
  }

  .swiperSaving {
    width: 600px;
    margin: 0 auto;
  }

  .swiperSaving  {
    div[class="swiper-wrapper"] {
      margin-left: -175px;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    width: calc(100vw - 104px);
  }

  .swiper {
    min-width: 320px;
    width: calc(100vw - 104px);
  }
  .swiperPress {
    width: 1500px;
  }
}

@media (min-width: $width-desktop-sm) {
  .swiper_button_prev {
    display: block;
    width: 54px;
    height: 52px;
    align-self: center;
    margin-left: -33px;
    margin-top: -112px;
    background-image: url('../../img/sliderLeft.png');
    background-repeat: no-repeat;
    background-size: 52px 52px;
  }

  .swiper_button_next {
    display: block;
    width: 54px;
    height: 52px;
    align-self: center;
    margin-right: -34px;
    margin-top: -112px;
    background-image: url('../../img/sliderRight.png');
    background-repeat: no-repeat;
    background-size: 52px 52px;
  }

  .swiperPress {
    width: 100%;
    min-height: 440px;
    margin-left: 0px;
    margin: 0 auto;
    padding-top: 20px;

    div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      display: none;
    }
  }

  .swiperPress .swiper-slider {
    min-height: 414px;
  }
}

@media (min-width: $width-desktop-md) {
  .swiper_button_prev {
    margin-top: -123px;
  }

  .swiper_button_next {
    margin-top: -123px;
  }
}

@media (min-width: $width-desktop-lg) {

}