@import '../../styles/style';

.root {
  width: 1000px;
  display: flex;
  justify-items: center;
}

.swiper_button_prev,
.swiper_button_next {
  display: none;
}

.swiper {
  min-width: 320px;
  width: 1000px;
  height: auto;
  margin: 0;
  position: relative;
  padding-bottom: 2.1rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      // width: 8px !important;
      // height: 8px !important;
      width: 4px !important;
      height: 4px !important;
      border: 3px solid #707070 !important;
      background: transparent !important;
      // border: 1px solid #2b2c2d !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 6px !important;
      height: 6px !important;
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperSaving,
.swiperPress {
  height: 100%;
  padding-bottom: 1.7rem;
  min-width: unset;
}

.swiperSaving  {    
  div[class="swiper-wrapper"] {
    margin-left: -6px;
  }
}

.swiperPress {
  opacity: 1;
  padding-bottom: 2.1rem;
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperShow {
  opacity: 1;
  transition: 3s;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 242px !important;
}

.swiperSlide button:nth-child(1) {
  display: none;
}

.swiperSlideActive button:nth-child(1) {
  display: block;
}

@media (min-width: $width-mobile-pre-md) {
  .swiperSaving  {    
    div[class="swiper-wrapper"] {
      margin-left: 0;
    }
  }

  .swiperPress {
    div[class="swiper-wrapper"] {
      margin-left: 0;
    }
  }
}

@media (min-width: $width-tablet-sm) {
  .swiper {
    padding-bottom: 5.7rem;
  }

  .mapShow {
    padding-bottom: 10.7rem;
  }

  .swiperSaving,
  .swiperPress {
    height: 100%;
    padding-bottom: 1.7rem;
    min-width: unset;
  
    div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
      
      span[class="swiper-pagination-bullet"] {
        width: 7px !important;
        height: 7px !important;
        border: 1px solid #D3D3D3 !important;
        background-color: #D3D3D3 !important;
      }
  
      span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
        width: 7px !important;
        height: 7px !important;
      }
    }
  }

  .swiperSaving {
    width: 600px;
    margin: 0 auto;
  }

  .swiperSaving  {
    div[class="swiper-wrapper"] {
      margin-left: -154px;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    width: calc(100vw - 104px);
  }

  .swiper {
    min-width: 320px;
    width: calc(100vw - 104px);
    padding-bottom: 4.5rem;
  }

  .swiperPress {
    width: 1500px;
    padding-bottom: 1.7rem;
  }

  .swiperSaving {
    width: 1000px;
    padding-bottom: 1.7rem;
  }

  .swiperSaving  {
    div[class="swiper-wrapper"] {
      margin-left: -218px;
    }
  }
}

@media (min-width: $width-notebook) {
  .swiper {
    padding-bottom: 5.6rem;
  }

  .swiperSaving  {
    div[class="swiper-wrapper"] {
      margin-left: -273px;
    }
  }

  .swiperPress,
  .swiperSaving {
    padding-bottom: 1.7rem;
  }
}

@media (min-width: $width-desktop-sm) {
  .swiper_button_prev {
    display: block;
    width: 54px;
    height: 52px;
    align-self: center;
    margin-left: -33px;
    margin-top: -101px;

    background-image: url('../../img/sliderLeft.png');
    background-repeat: no-repeat;
    background-size: 52px 52px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-image: url('../../img/backBtnHover.svg');
    }
  }

  .swiper_button_next {
    display: block;
    width: 54px;
    height: 52px;
    align-self: center;
    margin-right: -34px;
    margin-top: -101px;
    background-image: url('../../img/sliderRight.png');
    background-repeat: no-repeat;
    background-size: 52px 52px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-image: url('../../img/forwardBtnHover.svg');
    }
  }

  .swiperPress {
    width: 100%;
    min-height: 440px;
    margin-left: 0px;
    margin: 0 auto;
    padding-top: 21px;

    // & div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    //   display: none;
    // }
  }

  .swiperPress .swiper-slider {
    min-height: 414px;
  }

  .swiperSaving {
    width: 1500px;
    padding-top: 25px;

    div[class="swiper-wrapper"] {
      margin-left: -303px;
    }
  }

  @keyframes Jumpin {
    0% { opacity: 0;}
    30% { opacity: 1; scale: 1}
    100% { opacity: 1; scale: 1}
  }
  
  @keyframes fromBottomText {
    0% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .swiperPress div[class="swiper-wrapper"] div {
    opacity: 0;

    & div div:nth-child(3) {
      transform: translateY(40px);
    }
  }

  @for $i from 0 through 10 {
    // .swiperShow div[class="swiper-wrapper"] div:nth-child(#{$i}) {
    //   animation: Jumpin #{$i * 0.5}s cubic-bezier(.9,.03,.69,.22);
    //   animation-fill-mode: forwards;

    //   // & div:nth-child(1),
    //   // & div:nth-child(2) {
    //   //   animation: Jumpin #{$i * 1}s cubic-bezier(.9,.03,.69,.22);
    //   // }

    //   & div div:nth-child(3) {
    //     animation: fromBottomText #{$i * 0.1}s ease 0.3s;
    //     opacity: 1;
    //     // transition: 1.1s ease 0s;
    //     // animation-fill-mode: forwards;
    //   }
    // }
    .swiperShow div[class="swiper-wrapper"] div:nth-child(#{$i}) {
      animation: Jumpin #{$i * 0.5}s cubic-bezier(.9,.03,.69,.22);
      animation-fill-mode: forwards;

      & div div:nth-child(3) {
        transform: translateY(0);
        transition: #{$i * 0.25}s ease-out;
      }

    }
  }
}

@media (min-width: $width-desktop-md) {
  .swiper_button_prev {
    margin-top: -171px;
  }

  .swiper_button_next {
    margin-top: -171px;
  }

  .swiperSaving  {    
    div[class="swiper-wrapper"] {
      margin-left: -346px;
    }
  }
}

@media (min-width: $width-desktop-lg) {
  .swiper_button_prev {
    margin-top: -203px;
    margin-left: -42px;
  }

  .swiperPress {
    margin: 0;
    width: 1580px;
  }

  .swiperPress  {
    div[class="swiper-wrapper"] {
      margin-left: -30px;
    }
  }

  .swiperSaving  {    
    div[class="swiper-wrapper"] {
      margin-left: -341px;
    }
  }

  .swiper_button_next {
    margin-top: -214px;
    margin-right: -106px;
  }

  .swiper_button_prev {
    margin-top: -211px;
  }
}