.root {
  width: 100%;
  padding: 22px 19px 26px 30px;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2
}

.root div[class="quote-text"] {
  font-size: 12px;
  padding-right: 25px;
}