.root {
  width: 100%;
  padding: 22px 30px 26px 30px;
}

.root .quote-text {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.07em;
  padding-right: 25px;
  margin-top: 8px;

  &::after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
  }
}