@import '../../styles/style';

$black: #000000;
$white: #ffffff;
$main: #2B2C2D;
$hover-color: #80B438;
$hover-default: #707070;

$baseFontSize: 8.3px;

$xs: 320;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$hd: 1920;

@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@function lh( $font-size, $line-height ) {
  @return $line-height / $font-size;
}

@mixin min ($value) {
  @media (min-width: $value+ "px") {
    @content;
  }
}

@mixin lsr {
  padding: 0;
  margin: 0;
  list-style: none;
}


.events {
  padding-top: rem(46);
  padding-bottom: rem(37);

  &__container {
    position: relative;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;


    &::after {
      content: "";
      width: 100%;
      height: rem(57);
      position: absolute;
      bottom: rem(-10);
      left: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
      pointer-events: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: rem(32);
    color: $main;
    font-size: rem(22);
    line-height: lh(22,23);
    display: inline-block;
  }

  &__title-link {
    color: $main;
    transition: color 0.3s linear;

    &:hover {
      color: #707070;
    }
  }

  &__list {
    @include lsr;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }

  &__item-date {
    margin: 0;
    margin-bottom: rem(6);
    color: #707070;
    font-size: rem(10);
    line-height: lh(10,11);
  }

  &__item-title {
    margin: 0;
    font-size: rem(10);
    line-height: lh(10,11);
    font-weight: 400;
    max-width: rem(280);
  }

  &__item-link {
    color: $main;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item-text {
    display: none;
    font-size: rem(12);
    line-height: lh(12,13);
    color: #707070;
    margin: 0;
  }

  @include min($sm) {
    &__item-date {
      font-size: rem(12);
      line-height: lh(12,13);
    }

    &__item-title {
      font-size: rem(16);
      line-height: lh(16,18);
      max-width: rem(320);
    }
  }

  @include min($md) {
    &__container {
      padding-right: 0;
      overflow: hidden;

      &::after {
        width: 20%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }

    &__list {
      display: flex;
    }

    &__item {
      flex: none;
      width: 25%;
      margin-right: rem(20);

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__item-date {
      font-size: rem(10);
      line-height: lh(10,11);
    }

    &__item-title {
      font-size: rem(10);
      line-height: lh(10,11);
    }
  }

  @include min($lg) {
    padding-top: rem(101);
    padding-bottom: rem(124);

    &__title {
      font-size: rem(45);
      line-height: lh(45,48);
      margin-bottom: rem(52);
    }

    &__item-date {
      font-size: rem(12);
      line-height: lh(12,13);
      margin-bottom: rem(12);
    }

    &__item-title {
      font-size: rem(16);
      line-height: lh(16,18);
    }
  }

  @include min($xl) {
    padding-top: 132.7px;
    padding-bottom: 110px;
    max-width: 1200px;

    &__title {
      margin: 48px 35px 0 0;
      font-size: 14px;
      line-height: 14px;
      text-decoration: underline;
      color: $color-gray-three;
      font-weight: unset;
      align-self: flex-end;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, auto);
      grid-row-gap: 46px;
      grid-column-gap: 97px;
    }

    &__item {
      margin-right: 0;
      width: unset;
    }

    &__item-date {
      font-size: 12px;
      line-height: 13px;
      margin-bottom: 11px;
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 11px;
    }

    &__item-text {
      display: block;
      font-size: 12px;
      line-height: 13px;
    }

    &__container {
      padding-left: 0;
      display: flex;
      flex-direction: column-reverse;

      &::after {
        content: unset;
        width: rem(197);
      }
    }
  }
}


