@import '../../styles/style';

.root {
  width: 100%;
  height: 154px;
  border-radius: 8px;
  max-height: 439px;
}

@media (min-width: $width-tablet-md) {
  .root {
    min-height: 439px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    min-height: 469px;
    min-width: 788px;
  }
}
