@import '../../styles/style';

.root {
  height: 49vw;
  max-height: 439px;
  max-width: 781px;
}

.root iframe {
  width: 100%;
  height: 100%;
  min-height: 154px;
  border-radius: 8px;
  max-height: 439px;
}

@media (min-width: $width-tablet-md) {
  .root {
    height: 44vw;
    max-height: 470px;
    max-width: unset;
  }

  .root iframe {
    min-height: 439px;
    border-radius: 15px;
    max-height: 470px;
    max-width: 808px;
    
  }
}

@media (min-width: $width-desktop-lg) {
  .root iframe {
    min-height: 469px;
    min-width: 788px;
    max-width: unset;
  }
}
