@import '../../styles/style';

.root {
}

.whatsapp {
  display: none;
}

.callMe {
  display: none;
}

.phone {
  font-size: 11px;
  line-height: 11px;
  margin: 0 20px 0 0;
  border-bottom: 0.5px solid $color-gray-five;
  color: $color-dark-primary;
  transition: $menuTransition;

  &:hover {
    border-bottom: 0.5px solid $color-gray-twelve;
    color: $color-gray-twelve;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    display: flex;
    align-items: center;
  }

  @mixin icon {
    width: 39px;
    height: 39px;
    background-size: 39px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
  }

  .whatsapp {
    @include icon;
    background-image: url("../../img/s_whatsup_icon.svg");
  }

  .callMe {
    @include icon;
    background-image: url("../../img/s_call_icon.svg");
  }

  .phone {
    font-size: 20px;
    line-height: 22px;
    color: $color-dark-primary;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 252px;
  }

  @mixin bigIcon {
    width: 52px;
    height: 52px;
    background-size: 52px;
  }

  .whatsapp {
    @include bigIcon;
  }

  .callMe {
    display: none;
  }


  .phone {
    margin: 0;
  }
}