@import '../../styles/style';

.root {
}

.whatsup {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .whatsup {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url("../../img/s_whatsup_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 52px;
  }
}


@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}