@import '../../styles/style';

.root {
}

.whatsup {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .whatsup {
    display: block;
  }
}


@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
  }
}