@import '../../styles/style';

.root {
}

.whatsapp {
  display: none;
}

.phone {
  font-size: 11px;
  line-height: 11px;
  margin: 0 20px 0 0;
  border-bottom: 0.5px solid $color-gray-five;
  color: $color-dark-primary;
  transition: $menuTransition;

  &:hover {
    border-bottom: 0.5px solid $color-gray-twelve;
    color: $color-gray-twelve;
  }
}

@media (min-width: $width-tablet-md) {
  .whatsapp {
    display: block;
    width: 52px;
    height: 52px;
    background-image: url("../../img/s_whatsup_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 52px;
  }

  .phone {
    font-size: 20px;
    line-height: 22px;
    color: $color-dark-primary;
  }
}


@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .phone {
    margin: 0 0 0 22px;
  }
}