@import '../../styles/style';

.root {
}

@keyframes exist {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes exist2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin iconMob {
  width: 42px;
  height: 42px;
  background-size: 42px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  right: 10px;
  //opacity: 0;
  //display: none;
}

.whatsapp {
  //display: none;
  background-image: url("../../img/s_whatsup_icon.svg");
  @include iconMob;
  bottom: 136px;
  animation: exist2 10s ease-out;
  //animation-delay: 2s;
}

.callMe {
  //display: none !important;
  //opacity: 0 !important;
  background-image: url("../../img/s_call_icon.svg");
  @include iconMob;
  bottom: 80px;
  animation: exist 2s ease-out;
}

.phone {
  font-size: 11px;
  line-height: 11px;
  margin: 0 20px 0 0;
  border-bottom: 0.5px solid $color-gray-five;
  color: $color-dark-primary;
  transition: $menuTransition;

  &:hover {
    border-bottom: 0.5px solid $color-gray-twelve;
    color: $color-gray-twelve;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    display: flex;
    align-items: center;
    margin-top: 4px;
  }

  @mixin icon {
    width: 40px;
    height: 40px;
    background-size: 40px;
    margin-right: 18px;
    right: unset;
    bottom: unset;
    position: static;
    animation: unset;
    display: block;
  }

  .whatsapp {
    @include icon;
    
  }

  .callMe {
    @include icon;
  }

  .phone {
    font-size: 18px;
    line-height: 19px;
    color: $color-dark-primary;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 0px;
  }

  @mixin icon {
    width: 39px;
    height: 39px;
    background-size: 39px;
    margin-right: 17px;
    margin-top: -3px;
  }

  .whatsapp {
    @include icon;
    
  }

  .callMe {
    @include icon;
  }

  .phone {
    font-size: 20px;
    line-height: 22px;
    margin: -1px 0 0 0;
    letter-spacing: -0.03em;
  }
}

@media (min-width: $width-notebook) {
  @mixin icon {
    width: 44px;
    height: 44px;
    background-size: 44px;
    margin-right: 23px;
    margin-top: -6px;
  }

  .whatsapp {
    @include icon;
    
  }

  .callMe {
    @include icon;
  }
}

@media (min-width: $width-desktop-sm) {
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 252px;
    margin-left: 40px;
  }

  @mixin bigIcon {
    width: 49px;
    height: 49px;
    background-size: 49px;
    margin: 0 23px 0 0;
  }

  .whatsapp {
    @include bigIcon;
    transition: 0.5s ease;

    &:hover {
      transform: scale(1.05);
      transition: 0.5s ease;
    }
  }

  .callMe {
    display: none;
  }

  .phone {
    margin: 0;
  }
}

@media (min-width: $width-desktop-md) {
  .root {
    min-width: 260px;
  }

  @mixin bigIcon {
    width: 52px;
    height: 52px;
    background-size: 52px;
    margin: -2px 23px 0 0;
  }

  .whatsapp {
    @include bigIcon;
    margin: -2px 0 0 8px;
    transition: 0.5s ease;
  }

  .phone {
    margin: -3px 0 0 auto;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0;
  }
}

@media (min-width: $width-desktop-lg) {
  @mixin bigIcon {
    width: 52px;
    height: 52px;
    background-size: 52px;
    margin: -2px 0 0 -5px;
  }

  .whatsapp {
    @include bigIcon;
    margin: -2px 0 0 8px;
  }
}