@import '../../styles/style';

.root {
  @include headerTransition();
  cursor: pointer;
  color: $color-text-OpenPopupBtn-default;
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}

.active {
  color: $color-text-OpenPopupBtn-active;
}