@import '../../styles/style';

.root {
  cursor: pointer;
  display: block;
  width: 136px;
  height: 24px;
  margin-left: 4px;
  background-image: url("../../img/logoSH.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 136px 24px;
}

@media (min-width: $width-tablet-md) {
  .root {
    width: 208px;
    height: 34px;
    background-size: 208px 34px;
  }
}