.root {
  cursor: pointer;
  display: block;
  width: 134px;
  height: 22px;
  margin-top: 24px;
  background-image: url("../c_LogoSH/logoSH.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 134px 22px;
  order: 3;
}