.root {
  cursor: pointer;
  display: block;
  width: 134px;
  height: 22px;
  background-image: url("../../img/c_LogoSH/logoSH.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 134px 22px;
}