@import '../../styles/style';

.wrapRoot {
  width: 100vw;
  max-width: $width-desktop-lg;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: white;
}

.root {
  //border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;


}

.frame {
  grid-area: ProjectTitle;
  //display: flex;
  //flex-direction: column;
  //align-items: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  width: 100%;

  //margin: 0 0 10px -30px;
  background: radial-gradient(#fff 0%, #808080 300%);
  //width: 100%;
  //height: 100%;
  padding-top: 45px;

  & .bg_text {
    display: block;
    //margin: 0 0 -15px -15px;
    margin: 0 0 -19px -120px;
    color: #F6F6F6;
  }

  & .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 24px 30px;
  }

  & .bg_text,
  & .title {
    font-size: 47px;
    line-height: 47px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }
}
//
//@media (min-width: $width-mobile-md) {
//  .title {
//    //background: black;
//    width: 100%;
//    flex-direction: row !important;
//
//    & span {
//      display: inline;
//      margin: 0 !important;
//    }
//  }
//
//  .bg_text {
//    margin: 0 0 -15px -218px !important;
//  }
//}


@media (min-width: $width-tablet-md) {
  .root {
    //padding-top: 40px;
    padding: 0 50px;

  }

  .frame {
    //margin: 50px 0 43px -30px;
    //margin: 0 66px;
    border-radius: 20px;
    padding-bottom: 101px;

    & .bg_text,
    & .title {
      font-size: 82px;
      line-height: 82px;
    }

    & .title {
      margin: 0 0 57px 0 !important;
    }

    & .bg_text {
      margin: 0 0 -50px -340px;
    }
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    padding: 0 65px;
  }

  .frame {
    //margin: 75px 0 50px -30px;

    & .bg_text,
    & .title {
      font-size: 133px;
      line-height: 133px;
    }

    & .title {
      margin: 0 0 80px -583px !important;
    }

    & .bg_text {
      margin: 0 0 -60px -1155px !important;
    }
  }

}
