@import '../../styles/style';

.root {
  //border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

}

.ProjectTitle {
  grid-area: ProjectTitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 0 0 10px -30px;
  background: radial-gradient(#fff 0%, #808080 300%);
  width: 100%;
  padding-top: 45px;

  & .bg_text {
    display: block;
    //margin: 0 0 -15px -15px;
    margin: 0 0 -22px -108px;
    color: #F6F6F6;
  }

  & .wrap_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 52px;
  }

  & .bg_text,
  & .wrap_title {
    font-size: 47px;
    line-height: 47px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
//
//@media (min-width: $width-mobile-md) {
//  .wrap_title {
//    //background: black;
//    width: 100%;
//    flex-direction: row !important;
//
//    & span {
//      display: inline;
//      margin: 0 !important;
//    }
//  }
//
//  .bg_text {
//    margin: 0 0 -15px -218px !important;
//  }
//}


@media (min-width: $width-tablet-md) {
  .root {
    padding-top: 40px;
  }

  .ProjectTitle {
    //margin: 50px 0 43px -30px;

    & .bg_text,
    & .wrap_title {
      font-size: 82px;
      line-height: 82px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -50px -340px;
    }
  }
}



@media (min-width: $width-desktop-lg) {
  .root {

  }

  .ProjectTitle {
    //margin: 75px 0 50px -30px;

    & .bg_text,
    & .wrap_title {
      font-size: 133px;
      line-height: 133px;
    }

    & .wrap_title {
      margin: 0 !important;
    }

    & .bg_text {
      margin: 0 0 -60px -721px !important;
    }
  }

}
