@import '../../styles/style';

.root {
  min-width: 320px;
  min-height: 215px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    // width: 274px;
    // height: 185px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    //min-width: 100%;
    //min-height: 218px;
    //height: 100%;
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
}

@media (min-width: $width-tablet-md) {
}


@media (min-width: $width-desktop-md) {
  .root {
    width: 694px;
    height: 492px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 694px;
    height: 492px;
  }
}
