@import '../../styles/style';

.root {
  min-width: 320px;
  min-height: 215px;
  height: 67.2vw;
  width: 100%;
  // max-width: 600px;
  max-height: 400px;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.root span {
  //margin: 0 auto !important;
  //max-width: 600px;
}

.root img {
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    // width: 274px;
    // height: 185px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    min-width: 580px;
    //min-height: 427px;
    height: 55.6vw;
    // max-width: 600px;
    max-height: 500px;
    border-radius: 20px;
  }

  .root img {
    border-radius: 20px;
  }
}

@media (min-width: $width-tablet-md) {
}


@media (min-width: $width-desktop-md) {
  .root {
    width: 694px;
    height: 492px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    width: 694px;
    height: 492px;
  }
}
