@import '../../styles/style';

.root {
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: $color-gray-six;
  display: flex;
  align-items: center;
  font-weight: 300;
  transition: color .35s, font-weight .1s;
  cursor: pointer;

  &:hover,
  &.active {
    font-weight: 400;
    color: $color-white;

    .decor {
      opacity: 1;
    }
  }
}

.decor {
  opacity: 0;
  margin-right: 1rem;
  width: 12.33px;
  height: 12.33px;
  margin-bottom: 2px;
  transition: all .35s;

  svg {
    width: 12.33px;
    height: 12.33px;
  }
}

@media (min-width: $width-notebook) {

  .root {
    font-size: 1.8rem;
    line-height: 1.9rem;
  }

  .decor {
    opacity: 0;
    margin-right: 1.14rem;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}