@import '../../styles/style';

.root {
  width: 100%;
  padding: 0 19px 10px 30px;
  overflow: hidden;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 24px;
    margin-bottom: 5px;
    padding: 0 130px 5px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    max-width: 1221px;
    padding: 0 337px 0 362px;
    margin-top: 24px;
    margin-bottom: 0;
  }
}