@import '../../styles/style';

.root {
  width: 100%;
  padding: 0 19px 10px 30px;
  margin-top: 8px;
  overflow: hidden;
}

.root .slider {
  width: 100%;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 0 130px 5px 130px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    max-width: 1221px;
    padding: 0 337px 5px 362px;
  }
}