@import '../../styles/style';

.root {
  width: 100%;
  margin-top: 10px;
  padding: 0 25px 10px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-top: 24px;
    margin-bottom: 5px;
    padding: 0 77px 5px 30px;
  }

  .root .description {
    margin-left: 100px;
    margin-top: 9px;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    display: flex;
    max-width: 1260px;
    padding: 0 20px;
    margin-top: 24px;
    margin-bottom: 9px;
  }

  .root .description {
    margin-left: -45px;
    margin-top: 9px;
  }
}