@import '../../styles/style';

$header-height-mob: 41px;
$header-height-desk: 106px;

.root {
  background-color: $color-dark-primary;
  width: 100%;
  height: calc(100vh - #{$header-height-mob});
  position: fixed;
  top: $header-height-mob;
  left: -100%;
  z-index: 11;
  overflow-y: auto;
  transition: transform 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 71px;
}

.active {
  transform: translateX(100%);
}

.navList {
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {

}

.mark {

}

.image {
  display: none !important;
}

.link {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  transition: left 0.2s linear;
  position: relative;
  left: 0;

  &:hover {
    left: 20px;
  }
}

.mark {
  position: relative;

  &:before {
    content: "";
    width: 48px;
    height: 1px;
    background-color: white;
    position: absolute;
    left: -68px;
    top: 50%;
  }
}

@media (min-width: $width-notebook) {
  .root {
    top: $header-height-desk;
    height: calc(100vh - #{$header-height-desk});

    & .navList {
      color: white;
      position: relative;
      left: -333px;

      & .image {
        display: block !important;
      }

      & .link {
        & + div {
          position: absolute !important;
          right: -673px !important;
          top: -121px !important;
          opacity: 0;
          transition: opacity 500ms;
        }

        &:hover {
          & + div {
            opacity: 1;
          }
        }
      }
    }
  }


  .navItem {

  }
}