@import '../../styles/style';

.root {

}

.wrapMiddleBlock {
  @include wrapMiddleBlock;
}

@media (min-width: $width-notebook) {
  .root {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapMiddleBlock {
    //height: 100%;
    //width: unset;
    width: 539px;
    margin-left: 70px;
    margin-top: 65px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}