@import '../../styles/style';

.root {
  margin-bottom: 18px;

  & span {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding: 0 10px 10px 0;
    font-size: 12px;
    line-height: 12px;
    color: #BABABA;
    position: relative;
    border-bottom: 2px solid #BABABA;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  & .list {
    &:before {
      background-image: url("../../img/s_list_icon_mob.png");
      width: 19px;
      height: 10px;
      background-size: 19px 10px;
      top: 0;
      left: 10px;
    }
  }

  & .map {
    &:before {
      background-image: url("../../img/s_map_icon.png");
      width: 12px;
      height: 16px;
      background-size: 12px 16px;
      top: -2px;
      left: 12px;
    }
  }
}

.listViewActive {
  & .list {
    color: #2B2C2D;
    border-bottom: 3px solid #2B2C2D;

    &:before {
      background-image: url("../../img/s_list_icon_mob_active.png");
    }
  }
}

.mapViewActive {
  & .map {
    color: #2B2C2D;
    border-bottom: 3px solid #2B2C2D;

    &:before {
      background-image: url("../../img/s_map_icon_active.png");
    }
  }
}

@media (min-width: $width-mobile-pre-md) {
  .root {
    margin-bottom: 25px;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    margin-bottom: 36px;

    & span {
      font-weight: bold;
      font-size: 17px;
      line-height: 17px;
      width: 122px;
      padding: 0 12px 11px 0;

      &:last-of-type {
        padding: 0 5px 11px 0;
      }
    }

    & .list {
      &:before {
        width: 18px;
        height: 10px;
        background-size: 18px 10px;
        top: 3px;
        left: 5px;
      }
    }

    & .map {
      &:before {
        top: 0;
        left: 16px;
      }
    }
  }

  // .listViewActive {
  //   & .list {
  //     &:before {
  //       background-image: url("../../img/s_list_icon_active.png");
  //     }
  //   }
  // }
}

@media (min-width: $width-tablet-md) {
  .root {
    margin-bottom: 36px;

    & span {
      width: 155px;
      padding: 0 32px 12px 0;

      &:last-of-type {
        padding: 0 29px 12px 0;
      }
    }

    & .list {
      &:before {
        width: 19px;
        height: 11px;
        background-size: 19px 11px;
        left: 17px;
      }
    }

    & .map {
      &:before {
        top: 1px;
        left: 26px;
      }
    }
    // & .list {
    //   &:before {
    //     background-image: url("../../img/s_list_icon.png");
    //     width: 16px;
    //     height: 12px;
    //     background-size: 16px 12px;
    //     top: 1px;
    //     left: 15px;
    //   }
    // }

    // & .map {
    //   &:before {
    //     top: -1px;
    //     left: 20px;
    //   }
    // }
  }

  // .listViewActive {
  //   & .list {
  //     &:before {
  //       background-image: url("../../img/s_list_icon_active.png");
  //     }
  //   }
  // }
}



//
//$hoverSize: 3rem;
//
//.root {
//  width: 6rem;
//  height: 3.2rem;
//  border-width: 0;
//  border-radius: 1.6rem;
//  background-color: $color-switch-bg;
//  cursor: pointer;
//  display: flex;
//  align-items: center;
//  justify-content: space-around;
//  position: relative;
//  z-index: 1;
//}
//
//.first,
//.second {
//  width: $hoverSize;
//  height: $hoverSize;
//  background-color: transparent;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  z-index: 3;
//}
//
//.first {
//  svg {
//    g {
//      stroke: $color-switch-active-icon;
//      @include switchIconTransition;
//    }
//  }
//}
//
//.second {
//  svg {
//    g {
//      stroke: $color-switch-default-icon;
//      @include switchIconTransition;
//    }
//  }
//}
//
//.activeBg {
//  width: 2.9rem;
//  height: 3rem;
//  background: $color-switch-bg-active;
//  border-radius: 14.5px;
//  z-index: 2;
//  position: absolute;
//  top: 1px;
//  left: 1px;
//  @include headerTransition;
//}
//
//.mapView {
//  .first {
//    svg {
//      g {
//        stroke: $color-switch-default-icon;
//      }
//    }
//  }
//
//  .second {
//    svg {
//      g {
//        stroke: $color-switch-active-icon;
//      }
//    }
//  }
//
//  .activeBg {
//    left: 50%;
//  }
// }
//
//@media (min-width: $width-tablet-md) {
//  .root {
//    width: 20rem;
//    height: 3.6rem;
//    border-radius: 1.8rem;
//
//    background-color: $color-switch-bg;
//    cursor: pointer;
//    display: flex;
//    align-items: center;
//    justify-content: space-around;
//    position: relative;
//    z-index: 1;
//  }
//
//  .first {
//    &:after {
//      content: "Список";
//    }
//  }
//
//  .second {
//    &:after {
//      content: "Карта";
//    }
//  }
//
//  .first,
//  .second {
//    border-radius: 1.8rem;
//    height: 3.6rem;
//    width: 10rem;
//    position: relative;
//
//    & svg {
//      display: none;
//    }
//
//    &:after {
//      position: absolute;
//      top: 0;
//      left: 0;
//      width: 100%;
//      height: 100%;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      z-index: 2;
//      font-size: 1.4rem;
//      line-height: 1.5rem;
//    }
//  }
//
//  .activeBg {
//    width: 10rem;
//    height: 3.6rem;
//    border-radius: 1.8rem;
//    top: 0;
//    left: 0;
//  }
//}