@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  //width: auto;
  height: 100vh;
  z-index: 25;
  overflow: hidden;
  //opacity: 0.5;

  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  background-color: rgba(77, 77, 77, 0.85);
  /* (plus shape's fill blended on top as a separate layer with 66.06% opacity) */
}

.closeIcon {
  width: 30px;
  height: 30px;
  background-image: url("../../img/s_close_icon.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 25px;
  top: calc(50% - 235px);
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 0.75;
  }
}

.closePopup {
  display: none;
}

.fullFormIndexSection {
  padding: 0;
  margin-top: 0;

  & > div {
    border-radius: 15px;
  }
}

.formWrapper {
  min-width: 100%;
}

@media (min-width: $width-mobile-pre-md) {
  .fullFormIndexSection {
    & > div {
      &::before {
        background-image: url('../../img/popup-line-360.png');
        width: 91px;
        background-size: 91px 16px;
        right: 0;
      }

      & > div {
        align-items: flex-start;
      }
    }
  }
}

@media (min-width: 480px) {
  .fullFormIndexSection {

    & > div {
      &::before {
        right: -14px;
      }
    }
  }
}

@media (min-width: $width-tablet-sm) {
  .root {

  } 
  
  .fullFormIndexSection {
    max-width: unset;
    padding: 0 30px;
    grid-template-columns: 270px 250px;
    grid-column-gap: 30px;
  }

  .closeIcon {
    width: 46px;
    height: 46px;
    background-image: url("../../img/s_close_icon.svg");
    background-size: 46px 46px;
    right: 60px;
    margin-right: unset;
    top: calc(50% - 200px);
  }

  .fullFormIndexSection {
    & > div {
      border-radius: 20px;
    }
  }
}

@media (min-width: $width-tablet-md) {
  .root {

  }

  .closeIcon {
    width: 52px;
    height: 52px;
    background-size: 52px 52px;
    right: 74px;
    top: calc(50% - 256px);
  }

  .fullFormIndexSection {
    padding: 0 52px;

    & > div {
      border-radius: 20px;
      & > div {
        grid-column-gap: 40px;
      }
    }
  }
}

@media (min-width: 1055px) {
  .closeIcon {
    top: calc(50% - 215px);
  }
}

@media (min-width: $width-notebook) {
  .closeIcon {
    right: 72px;
    top: calc(50% - 256px);
  }

  .fullFormIndexSection {
    & > div {
      & > div {
        grid-column-gap: 90px;
      }
    }
  }
}

@media (min-width: 1285px) {
  .closeIcon {
    top: calc(50% - 220px);
  }
}

@media (min-width: $width-desktop-sm) {
  .closeIcon {
    right: 113px;
    top: calc(50% - 240px);
  }

  .fullFormIndexSection {
    padding: 0 66px;

    & > div {
      & > div {
        grid-column-gap: 75px;

        & h3 {
          margin-left: 10px;
        }

        & span[class*='description'] {
          margin-bottom: 15px;
        }
      }
    }
  }

}

@media (min-width: $width-desktop-lg) {
  .closeIcon {
    right: 50%;
    top: calc(50% - 216px);
    margin-right: -847px;
  }

  .fullFormIndexSection {
    & > div {
      & > div {
        grid-column-gap: 60px;
      }
    }
  }
}