@import '../../styles/style';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  overflow: hidden;

  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  background-color: rgba(77, 77, 77, 0.85);
  /* (plus shape's fill blended on top as a separate layer with 66.06% opacity) */
}

.closeIcon {
  width: 30px;
  height: 30px;
  margin: 14px 20px 0 0;
  background-image: url("../../img/s_close_icon.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 0.75;
  }
}

.closePopup {
  display: none;
}

.fullFormIndexSection {
  padding: 0;
  margin-top: 0;

  & > div {
    border-radius: 15px;
  }
}

.formWrapper {
  display: flex;
  justify-content: right;
  width: 100%;
  max-width: 1920px;
}

@media (min-width: $width-mobile-pre-md) {
  .closeIcon {
    margin: 15px 25px 0 0;
  }

  .fullFormIndexSection {
    & > div {

      &::before {
        background-image: url('../../img/popup-line-360.png');
        width: 91px;
        background-size: 91px 16px;
        right: 0;
      }

      & > div {
        align-items: flex-start;
      }
    }
  }
}

@media (min-width: 480px) {
  .fullFormIndexSection {

    & > div {
      &::before {
        right: -14px;
      }
    }
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    justify-content: center;
    padding-top: 0;
  }

  .formWrapper {
    padding: 0 30px;
  }

  .closeIcon {
    width: 46px;
    height: 46px;
    margin: 20px 30px 0 0;
    background-image: url("../../img/s_close_icon.svg");
    background-size: 46px 46px;
  }

  .fullFormIndexSection {
    & > div {
      border-radius: 20px;

      & > div {
        padding: 57px 65px 69px 55px;
        grid-template-columns: 270px 290px;
        grid-column-gap: 30px;
      }
    }
  }
}

@media (min-width: $width-tablet-md) {
  .closeIcon {
    width: 52px;
    height: 52px;
    margin: 22px 22px 0 0;
    background-size: 52px 52px;
  }

  .formWrapper {
    padding: 0 52px;
  }

  .fullFormIndexSection {
    & > div {
      border-radius: 20px;
      & > div {
        padding: 86.2px 48px 87.2px;
        grid-template-columns: auto auto;
        grid-column-gap: 40px;
      }
    }
  }
}



@media (min-width: $width-notebook) {
  .fullFormIndexSection {
    & > div {
      & > div {
        // padding: 94.2px 48px 88.2px 89px;
        padding: 94.2px 88px 88.2px 135px;
        grid-column-gap: 106px;
      }
    }

    & button {
      margin: 1px 0 28px 0;
    }
  }
}

@media (min-width: $width-desktop-sm) {
  .formWrapper {
    padding: 0 66px;
  }

  .closeIcon {
    margin: 37px 47px 0 0;
  }

  .fullFormIndexSection {
    & > div {
      max-width: 1788px;
      
      & > div {
        padding: 136px 230px 125px 200px;
        grid-column-gap: 100px;

        & h3 {
          margin-left: 0;
        }

        & span[class*='description'] {
          margin-bottom: 25px;
        }
      }
    }
  }
}

@media (min-width: $width-desktop-md) {
  .fullFormIndexSection {
    & > div {
      & > div {
        padding: 136px 115px 127px 220px;
        grid-column-gap: 75px;

        & h3 {
          margin-left: 15px;
        }

        & span[class*='description'] {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (min-width: $width-desktop-lg) {
  .fullFormIndexSection {
    min-width: 1788px;
    margin: 0 auto;

    & > div {
      & > div {
        // padding: 136px 185px 127px 320px;
        padding: 134px 395px 114px 500px;
        grid-column-gap: 70px;

        & h3 {
          margin-left: 0;
        }

        & span[class*='description'] {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.banners {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  width: 100vw;
  padding-top: 40px;

  & svg {
    width: 90% !important;
    //height: 100vw !important;
  }
}

.banners_mode {
  max-width: 1000px;
  & svg {
    height: 100% !important;
  }
}

.banners_mobile {
  & svg {
    margin-bottom: 40px;
    height: unset !important;
  }
}