@import '../../styles/style';

$menuTransition: .4s;

.root {

}

.burger {

}

.elements {

}

.C_Logo {

}

.firstLvlMenuList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.firstLvlMenuEl {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 19px;
  line-height: 21px;
  cursor: pointer;
}

.secondLvlMenuElWrapper {
  padding-top: 18px;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity $menuTransition;
  position: absolute;
  top: 14px;
  left: 0;
}

.secondLvlMenuElWrapperActive {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.secondLvlMenuEl {
  //position: absolute;
  //top: 32px;
  //left: 0;
  //display: none;
  padding: 24px 34px 22px 39px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
  list-style: none;
  font-size: 20px;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

.firstLvlMenuName {
  color: $color-dark-primary;
  transition: color $menuTransition;

  &:hover {
    color: $color-gray-twelve !important;
  }
}

//.secondLvlMenuElActive {
//  display: flex;
//  flex-direction: column;
//  min-width: fit-content;
//}

.subEl {
  white-space: nowrap;

  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.projectName {
  position: relative;

  & .underline {
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform .25s ease-in-out;
  }
}

.subEl {
  &:hover {
    .underline {
      transform: scaleX(1);
      //transform-origin: top left;
    }
  }
}


.marked {
  font-weight: 800;
}

.chevronWrapper {
  display: flex;
  align-items: center;

  & .firstLvlMenuName {
    color: $color-gray-twelve !important;
  }
}

.chevron {
  margin-left: 10px;
  display: inline-block;
  width: 10px;
  height: 5px;
  background-image: url("../../img/s_chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 5px;
  transition: transform $menuTransition;
}

.chevronActive {
  //transform: rotate(180deg);
  background-image: url("../../img/s_chevron_active.svg");
  transform: scaleY(-1);
}

@media (min-width: $width-tablet-md) {
  .burger {
    display: none;
  }

  .elements {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $width-desktop-lg) {
  .C_Logo {
    margin-right: 370px;
  }

  .firstLvlMenuEl {
    margin: 0 35px 0 0;
  }
}
