@import '../../styles/style';

$menuTransition: .4s;

.root {
  position: relative;
  min-height: 41px;
}

.burger {
  width: 23px;
  height: 18px;
  background-size: 23px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/s_burger.svg");
  transition: background-image $menuTransition;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 12px;
  left: 25px;
}

.openBurger {
  left: 25px;
  background-size: 9px 18px;
  background-image: url("../../img/s_burger_open.svg");
}

.elements {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -300px;
  background-color: white;
  width: 278px;
  min-height: 520px;
  border-radius: 0 15px 15px 0;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: left .5s ease-in-out;
  padding: 52px 0 0 25px;
}

.showElements {
  left: 0;
}

.C_Logo {
  margin: 0 0 30px;
}

.C_Nav_List {

}

.C_MainButton {
  // border: none !important;

  & span {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.015em;
  }
}

@media (min-width: $width-tablet-sm) {
  .root {
    min-height: unset !important;
  }

  .burger {
    width: 38px;
    height: 25px;
    background-size: 38px 20px;
    top: 0;
    left: 13px;
    //transition: left $menuTransition, top $menuTransition;
    transition: unset;
  }

  .openBurger {
    background-size: 12px 25px;
    left: -136px;
    top: -25px;
  }

  .elements {
    top: -46px;
    left: -533px;
    width: 376px;
    min-height: 100vh;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: left .5s ease-in-out;
    padding: 83px 0 0 33px;
  }

  .showElements {
    left: -154px;
  }

  .C_Logo {
    width: 92px !important;
    height: 39px !important;
    background-size: 92px 39px !important;
  }

  .C_MainButton {
    //padding: 0;
    // font-size: 21px;
    // line-height: 22px;
  }
}

@media (min-width: $width-tablet-md) {
  .root {
    min-height: unset !important;
  }

  .burger {
    width: 47px;
    height: 24px;
    background-size: 47px 24px;
    top: -3px;
    left: 36px;
    //transition: left $menuTransition, top $menuTransition;
    transition: unset;
  }

  .openBurger {
    background-size: 12px 25px;
    left: -136px;
    top: -25px;
  }

  .elements {
    top: -46px;
    left: -533px;
    width: 376px;
    min-height: 100vh;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: left .5s ease-in-out;
    padding: 83px 0 0 33px;
  }

  .showElements {
    left: -154px;
  }

  .C_Logo {
    width: 92px !important;
    height: 39px !important;
    background-size: 92px 39px !important;
    margin: 0 0 50px;
  }

  .C_MainButton {
    //padding: 0;
    // font-size: 21px;
    // line-height: 22px;
  }
}

@media (max-width: 1439px) {
  .C_MainButton {
    border: none !important;
  }
}

@media (min-width: $width-desktop-sm) {
  .C_Logo {
    margin: 0 113px 0 0;
  }

  .burger {
    display: none;
  }

  .C_Logo {
    width: 102px !important;
    height: 39px !important;
    background-size: 102px 39px !important;
  }

  .elements {
    flex-direction: row;
    position: static;
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
    width: unset;
    min-height: unset;
    padding: unset;
    align-items: unset;
  }

  .C_Nav_List {
  }

  .C_MainButton {
    margin: 0 0 0 5px;
    padding: 10px 34px 9px;
  }
}

@media (min-width: $width-desktop-md) {
  .C_Logo {
    margin: 0 150px 0 0;
  }
  
  .C_MainButton {
    padding: 11px 41px 11px 41px
  }
}

@media (min-width: $width-desktop-lg) {
  .C_Logo {
    margin: 0 360px 0 0;
  }

  .C_MainButton {
    margin-left: 0;
    padding: 11px 42px 11px 41px;
  }
}
