@import '../../styles/style';

$menuTransition: .4s;

.root {

}

.burger {

}

.elements {

}

.C_Logo {

}


@media (min-width: $width-tablet-md) {
  .burger {
    display: none;
  }

  .elements {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $width-desktop-lg) {
  .C_Logo {
    margin-right: 370px;
  }
}
