@import '../../styles/style';

$menuTransition: .4s;

.root {

}

.burger {
  width: 23px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 10px;
  background-image: url("../../img/s_burger.svg");
  transition: background-image $menuTransition;
  cursor: pointer;
}

.openBurger {
  background-size: 9px 18px ;
  background-image: url("../../img/s_burger_open.svg");
}

.elements {

}

.C_Logo {

}


@media (min-width: $width-tablet-md) {
  .burger {
    display: none;
  }

  .elements {
    display: flex;
    align-items: center;
  }
}

@media (min-width: $width-desktop-lg) {
  .C_Logo {
    margin-right: 370px;
  }
}
