@import '../../styles/style';

$menuTransition: .4s;

.root {
  position: relative;
  min-height: 41px;
}

.burger {
  width: 23px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 10px;
  background-image: url("../../img/s_burger.svg");
  transition: background-image $menuTransition;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 12px;
  left: 30px;
}

.openBurger {
  background-size: 9px 18px ;
  background-image: url("../../img/s_burger_open.svg");


}

.elements {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -278px;
  background-color: white;
  width: 278px;
  height: 520px;
  border-radius: 0 15px 15px 0;
  opacity: 0.98;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: left .5s ease-in-out;
  padding: 52px 0 0 25px;
}

.showElements {
  left: 0;
}

.C_Logo {
  margin: 0 0 30px;
}


@media (min-width: $width-tablet-md) {
  .burger {
    display: none;
  }
}

@media (min-width: $width-desktop-lg) {
  .C_Logo {
    margin: 0 370px 0 0;
  }

  .elements {
    flex-direction: row;
    position: static;
    background-color: unset;
    border-radius: unset;
    opacity: unset;
    box-shadow: unset;
    width: unset;
    height: unset;
    padding: unset;
    align-items: unset;
  }
}
