@import '../../styles/style';

$menuTransition: .4s;

.root {
  position: relative;
  min-height: 41px;
}

.burger {
  width: 23px;
  height: 18px;
  background-size: 23px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/s_burger.svg");
  transition: background-image $menuTransition;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 12px;
  left: 30px;
}

.openBurger {
  background-size: 9px 18px;
  background-image: url("../../img/s_burger_open.svg");
}

.elements {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -278px;
  background-color: white;
  width: 278px;
  min-height: 520px;
  border-radius: 0 15px 15px 0;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  transition: left .5s ease-in-out;
  padding: 52px 0 0 25px;
}

.showElements {
  left: 0;
  //opacity: 0.98;
}

.C_Logo {
  margin: 0 0 30px;
}

.C_Nav_List {

}
.C_MainButton {

}

@media (min-width: $width-tablet-md) {
  .root {
    min-height: unset !important;
  }

  .burger {
    width: 47px;
    height: 25px;
    background-size: 47px 20px;
    top: 0;
    //left: 30px;
    transition: left $menuTransition, top $menuTransition;
  }

  .openBurger {
    background-size: 12px 25px;
    left: -136px;
    top: -25px;
  }

  .elements {
    top: -46px;
    left: -533px;
    width: 376px;
    min-height: 100vh;
    border-radius: 0 15px 15px 0;
    //opacity: 0.98;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    transition: left .5s ease-in-out;
    padding: 83px 0 0 33px;
  }

  .showElements {
    left: -154px;
  }

  .C_Logo {
    //margin: 0 370px 0 0;
    width: 92px !important;
    height: 39px !important;
    background-size: 92px 39px !important;
  }

  .C_MainButton {
    padding: 0;
    font-size: 21px;
    line-height: 22px;
  }
}

@media (min-width: $width-desktop-lg) {
  .C_Logo {
    margin: 0 360px 0 0;
  }

  .burger {
    display: none;
  }

  .elements {
    flex-direction: row;
    position: static;
    background-color: unset;
    border-radius: unset;
    //opacity: unset;
    box-shadow: unset;
    width: unset;
    min-height: unset;
    padding: unset;
    align-items: unset;
  }

  .C_Nav_List {

  }

  .C_MainButton {
    //padding: unset;
    padding: 12px 40px 11px;

  }
}
