.root {
  position: relative;
  display: flex;
  align-content: center;
  min-height: 76px;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: -22px;
    width: 100%;
    height: 1px;
    background-color: #E2E2E2;
  }

}

.root img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
}

.root .author_name_wrapper {
  margin-top: 10px;
  margin-left: 16px;
}

.root p {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: -0.1em;
  color: #2B2C2C;
}

.root span {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.07em;
  padding-right: 100px;  
  color: #A0A0A0;
}