@import '../../styles/style';

.root {
  width: 1000px;
  display: flex;
  justify-items: center;
}

.swiper {
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  padding-bottom: 2.1rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizonta"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      width: 7px !important;
      height: 7px !important;
      border: 1px solid #707070 !important;
      background: transparent !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 7px !important;
      height: 7px !important;
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 242px !important;
}

.numbersWrapper {

}

.regular {

}

.swiper_button_next,
.swiper_button_prev,
.swiper_button_prev .swiper-button-disabled,
.swiper_button_next .swiper-button-disabled {
  display: none;
}

@media (min-width: $width-mobile-pre-md) {
  .swiper {
    padding-bottom: 2.8rem;
  }  
}

@media (min-width: $width-tablet-sm) {
  .root {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper {
    min-width: 295px;
    width: 100%;
    height: 100%;
  }

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 41px);
    left: -27px;
    display: flex;
    flex-direction: column;
  }

  @mixin pinParams{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 9px;
  }

  .regular {
    @include pinParams;
    background-color: rgba(0, 0, 0, 0.17);

    &__selected {
      @include pinParams;
      background-color: rgba(0, 0, 0);
    }
  }
}

@media (min-width: $width-tablet-md) {
  .swiper {
    min-width: 320px;
  }

  .numbersWrapper {
    top: calc(50% - 41px);
    left: -35px;
    //min-width: 57px;
  }
}

@media (min-width: $width-tablet-md) {
  .numbersWrapper {
    top: calc(50% - 35px);
    left: -36px;
  }
}

@media (min-width: $width-desktop-sm) {

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 12px);
    left: -44px;
  }

  // .slideDot {
  //   // content: '';
  //   position: absolute;
  //   width: 7px;
  //   height: 7px;
  //   top: 0;
  //   border-radius: 50%;
  //   background-color: aqua;
  // }

  // @keyframes toNextDot {
  //   0% {height: 7px; background-color: rgba(0, 0, 0)}
  //   10% {height: 8px;}
  //   20% {height: 10px;}
  //   30% {height: 12px;}
  //   40% {height: 14px;}
  //   50% {height: 16px;}
  //   60% {height: 18px;}
  //   70% {height: 14px;}
  //   80% {height: 10px;}
  //   90% {height: 8px;}
  //   100% {height: 7px; background-color: rgba(0, 0, 0);transform: translateY(15px)}
  // }

  // @keyframes toPrevDot {
  //   0% {height: 7px; transform: translateY(15px)}
  //   10% {height: 8px; }
  //   20% {height: 10px; }
  //   30% {height: 12px; }
  //   40% {height: 14px; }
  //   50% {height: 16px; }
  //   60% {height: 14px;}
  //   70% {height: 12px;}
  //   80% {height: 10px;}
  //   90% {height: 8px;}
  //   100% {height: 7px;}
  // }

  // .animateDot {
  //   // animation: toNextDot 1.1s ease;
  //   // transition: 1.1s ease;
  //   animation-fill-mode: forwards;
  // }

  // @mixin pinParams{
  // }

  // .regular {
  //   animation: toNextDot 1.1s ease;
  //   background-color: rgba(0, 0, 0, 0.17);
  //   &__selected {
  //     @include pinParams;
  //     animation: toNextDot 1.1s ease;
  //   // transition: 1.1s ease;
  //     animation-fill-mode: forwards;
  //     background-color: unset;
  //     background-color: rgba(0, 0, 0);
  //   }
  // }

  // .animateDotReverse {
  //   animation: toPrevDot 1.1s ease;
  //   animation-fill-mode: forwards;
  // }
  // .swiper_pagination_custom {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   position: absolute;
  //   bottom: 0 !important;
  //   left: -30px;
  //   width: 10px;
  //   //height: 100%;
  //   position: absolute;
  //   margin-top: 20px;
  //   top: 23%;
  //   left: -43px;
  // }

  // .swiper_pagination_custom span[class="swiper-pagination-bullet"] {
  //   font-size: 0;
  //   line-height: 0;
  //   display: block;
  //   width: 6px !important;
  //   height: 6px !important;
  //   background: $color-gray-two !important;
  //   border: 1px solid $color-gray-two !important;
  //   opacity: 1 !important;
  //   margin-bottom: 9px;
  // }
  
  // .swiper_pagination_custom span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
  //   font-size: 0;
  //   line-height: 0;
  //   display: block;
  //   position: relative;
  //   width: 6px !important;
  //   height: 6px !important;
  //   background: $color-gray-two !important;
  //   border: 1px solid $color-gray-two !important;
  //   background: #2b2c2d !important;
  //   border: 1px solid #2b2c2d !important;
  //   margin-bottom: 9px;
  //   opacity: 1;
  //   animation: toNextDot 5s;
  // }

  .swiperSlide {
    width: 100% !important;
    max-width: unset;
  }

  @mixin swiperButton {
     position: absolute;
     display: block;
     min-width: 52px;
     width: 52px;
     height: 52px;
     margin: auto 0;
     //top: 175px;
     bottom: -88px;
     right: 40px;
     border-radius: 50%;
     border: none;
     background-repeat: no-repeat;
     background-size: 52px 52px;
     background-position: center center;
     background-color: transparent !important;
     cursor: pointer;
     transition: 0.4s;
     z-index: 10;
  }

  .swiper_button_prev {
    @include swiperButton;

    left: calc( 50% - 74px );
    background-image: url('../../img/backBtnTablet.svg');
    margin-left: -10px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/backBtnHover.svg');
    }
  }

  .swiper_button_next {
    @include swiperButton;

    right: calc( 50% - 74px );
    background-image: url('../../img/forwardBtnTablet.svg');
    left: 260px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/forwardBtnHover.svg');
    }
  }
}

@media (min-width: $width-desktop-md) {
  .numbersWrapper {
    top: calc(50% - 18px);
  }

  @mixin swiperButton {
     bottom: -78px;
     right: 20px;
  }

  .swiper_button_prev {
    @include swiperButton;
    margin-left: -10px;
  }

  .swiper_button_next {
    @include swiperButton;
    left: 311px;
  }
}

@media (min-width: $width-desktop-lg) {

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 35px);
    left: -43px;
  }

  .swiper {
    min-width: 694px;
  }

  .swiperSlide {
    width: 694px !important;
    max-width: unset;
  }

  @mixin swiperButton {
    bottom: -81px;
    right: 20px;
 }

 .swiper_button_prev {
   @include swiperButton;
   margin-left: -10px;
 }

 .swiper_button_next {
   @include swiperButton;
   left: 358px;
 }
}