@import '../../styles/style';

.root {
  width: 1000px;
  display: flex;
  justify-items: center;
}

.swiper {
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  padding-bottom: 2.6rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      width: 8px !important;
      height: 8px !important;
      background: transparent !important;
      border: 1px solid #2b2c2d !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 242px !important;
}

.numbersWrapper {

}

.regular {

}

.swiper_button_next,
.swiper_button_prev,
.swiper_button_prev .swiper-button-disabled,
.swiper_button_next .swiper-button-disabled {
  display: none;
}

@media (min-width: $width-tablet-md) {
  .root {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper {
    min-width: 320px;
    width: 100%;
    height: 100%;
  }

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 86px);
    right: -110px;
    display: flex;
    flex-direction: column;
    min-width: 57px;
  }

  .regular {
    font-family: "Bebas Neue Pro", "Arial", sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #9b9b9b;
    position: relative;
    margin-bottom: 22px;

    &:before {
      content: '';
      width: 22px;
      height: 1px;
      background-color: #9b9b9b;
      position: absolute;
      left: -31px;
      top: 50%;
    }

    &__selected {
      font-family: "Bebas Neue Pro", "Arial", sans-serif;
      font-size: 30px;
      letter-spacing: 0.03em;
      position: relative;
      margin-bottom: 22px;

      &:before {
        content: '';
        width: 22px;
        height: 1px;
        background-color: #2b2c2d;
        position: absolute;
        left: -31px;
        top: 50%;
      }
    }
  }

  .swiper_button_prev {
    position: relative;
    display: block;
    min-width: 52px;
    width: 52px;
    height: 52px;
    left: 21px;
    margin: auto 0;
    top: -15px;
    border-radius: 50%;
    border: none;
    background-image: url('../../img/backBtnTablet.svg');
    background-repeat: no-repeat;
    background-size: 52px 52px;
    background-position: center center;
    background-color: transparent !important;
    cursor: pointer;
    transition: 0.4s;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/backBtnHover.svg');
    }
  }

  .swiper_button_next {
    position: relative;
    display: block;
    min-width: 52px;
    width: 52px;
    height: 52px;
    left: 24px;
    margin: auto 0;
    top: -15px;
    border-radius: 50%;
    border: none;
    background-image: url('../../img/forwardBtnTablet.svg');
    background-repeat: no-repeat;
    background-size: 52px 52px;
    background-position: center center;
    cursor: pointer;
    transition: 0.4s;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/forwardBtnHover.svg');
    }
  }
}