@import '../../styles/style';

.root {
  width: 1000px;
  display: flex;
  justify-items: center;
}

.swiper {
  min-width: 320px;
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  padding-bottom: 2.1rem;

  div[class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"] {
    bottom: 0 !important;

    span[class="swiper-pagination-bullet"] {
      // width: 8px !important;
      // height: 8px !important;
      width: 4px !important;
      height: 4px !important;
      border: 3px solid #707070 !important;
      background: transparent !important;
      // border: 1px solid #2b2c2d !important;
      opacity: 1 !important;
    }

    span[class="swiper-pagination-bullet swiper-pagination-bullet-active"] {
      width: 6px !important;
      height: 6px !important;
      background: #2b2c2d !important;
    }
  }

  & div[aria-label="Next slide"],
  & div[aria-label="Previous slide"] {
    height: calc(100% - 65px);
    top: 60px;
    position: absolute;
    cursor: unset !important;

    &:after {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.swiperMode {
  padding-top: 1.8rem;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 242px !important;
}

.numbersWrapper {

}

.regular {

}

.swiper_button_next,
.swiper_button_prev,
.swiper_button_prev .swiper-button-disabled,
.swiper_button_next .swiper-button-disabled {
  display: none;
}

@media (min-width: $width-mobile-pre-md) {
  .swiper {
    padding-bottom: 2.8rem;
  }  
}

@media (min-width: $width-tablet-sm) {
  .root {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper {
    min-width: 295px;
    width: 100%;
    height: 100%;
  }

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 41px);
    left: -27px;
    display: flex;
    flex-direction: column;
  }

  @mixin pinParams{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-bottom: 9px;
  }

  // @keyframes SlideToRight {
  //   0% {height: 14px; position: absolute; background-color: rgb(0, 0, 0);}
  //   10% {height: 16px; background-color: rgb(0, 0, 0);}
  //   20% {height: 18px;}
  //   30% {height: 20px;}
  //   30% {height: 22px;}
  //   50% {height: 6px;}
  //   60% {height: 6px;}
  //   70% {height: 6px;}
  //   80% {height: 6px;}
  //   90% {height: 6px;}
  //   100% {height: 6px; position: absolute; background-color: rgb(0, 0, 0, 0.17);}
  // }

  @keyframes SlideToLeft {
    0% {background-color: rgb(0, 0, 0, 0.17);}
    100% {height: 6px; background-color: rgb(0, 0, 0);}
  }

  // @for $i from 0 through 10 {
  //   .numbersWrapper div:nth-child(#{$i}) {
  //     position: absolute;
  //     top: #{$i * 16}px;
  //   }
  // }
  .slideDot {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
  }

  .govno {
    width: 6px;
    height: 6px;
    transform: translateY(14px);
    transition: 1s ease;
  }

  .regular {
    @include pinParams;
    animation: SlideToRight ease 2s;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.17);

    &__selected {
      @include pinParams;
      // animation: SlideToLeft ease 10s;
      animation-fill-mode: forwards;
      background-color: rgba(0, 0, 0, 0.17);
    }
  }
}

@media (min-width: $width-tablet-md) {
  .swiper {
    min-width: 320px;
  }

  .numbersWrapper {
    top: calc(50% - 41px);
    left: -35px;
    //min-width: 57px;
  }
}

@media (min-width: $width-tablet-md) {
  .numbersWrapper {
    top: calc(50% - 35px);
    left: -36px;
  }
}

@media (min-width: $width-desktop-sm) {

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 12px);
    left: -44px;
  }

  .swiperSlide {
    width: 100% !important;
    max-width: unset;
  }

  @mixin swiperButton {
     position: absolute;
     display: block;
     min-width: 52px;
     width: 52px;
     height: 52px;
     margin: auto 0;
     //top: 175px;
     bottom: -88px;
     right: 40px;
     border-radius: 50%;
     border: none;
     background-repeat: no-repeat;
     background-size: 52px 52px;
     background-position: center center;
     background-color: transparent !important;
     cursor: pointer;
     transition: 0.4s;
     z-index: 10;
  }

  .swiper_button_prev {
    @include swiperButton;

    left: calc( 50% - 74px );
    background-image: url('../../img/backBtnTablet.svg');
    margin-left: -10px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/backBtnHover.svg');
    }
  }

  .swiper_button_next {
    @include swiperButton;

    right: calc( 50% - 74px );
    background-image: url('../../img/forwardBtnTablet.svg');
    left: 260px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background-image: url('../../img/forwardBtnHover.svg');
    }
  }
}

@media (min-width: $width-desktop-md) {
  .numbersWrapper {
    top: calc(50% - 18px);
  }

  @mixin swiperButton {
     bottom: -78px;
     right: 20px;
  }

  .swiper_button_prev {
    @include swiperButton;
    margin-left: -10px;
  }

  .swiper_button_next {
    @include swiperButton;
    left: 311px;
  }
}

@media (min-width: $width-desktop-lg) {

  .numbersWrapper {
    position: absolute;
    top: calc(50% - 35px);
    left: -43px;
  }

  .swiper {
    min-width: 694px;
  }

  .swiperSlide {
    width: 694px !important;
    max-width: unset;
  }

  @mixin swiperButton {
    bottom: -81px;
    right: 20px;
 }

 .swiper_button_prev {
   @include swiperButton;
   margin-left: -10px;
 }

 .swiper_button_next {
   @include swiperButton;
   left: 358px;
 }
}