@import '../../styles/style';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: $width-mobile-sm;
  padding-left: 1.9rem;
}

.OfficesLI {
  margin-bottom: 1.6rem;
}

@media (min-width: $width-notebook) {
  //.OfficesLI {
  //  font-weight: 300 !important;
  //}

  .root {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    padding-left: 0;
  }
}