@import '../../styles/style';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  padding: 8px 19px 10px 30px;
}

@media (min-width: $width-tablet-md) {
  .root {
    padding: 20px 68px 5px 130px;
    margin-top: 6px;
  }

  .root ul {
    align-items: center;
  }
}

@media (min-width: $width-desktop-lg) {
  .root {
    margin-top: 20px;
    padding: 20px 508px 5px 418px;
  }
}